<!-- <div class="span4" style="margin-top: 10px; text-align: center;">
  <span class="alert alert-error" ng-show="got_results && result_status != 200 && result_status">
    <strong>
      Sorry, HTTP Error {{result_status}}
    </strong>
  </span>
  <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
  <div>
    <b ng-show="!pendingHTTP && update['success'] === true" style="color: green">Success</b>
    <b ng-show="!pendingHTTP && update['success'] === false" style="color: red">Failure</b>
  </div>
</div>
<div class="span4 pagination pagination-right">
  <span ng-show="total_results != undefined && !resultsFromFile">
    Showing {{total_results == 0 ? 0 : math.max(0, custom_footer_list_page) * custom_footer_limit + 1}} - {{math.min(total_results, (math.max(0, custom_footer_list_page) + 1) * custom_footer_limit)}} of {{total_results}} results
  </span>
  <span ng-show="total_results != undefined && resultsFromFile">
    Showing {{total_results == 0 ? 0 : 1}} - {{total_results}} of {{total_results}} results
  </span>
  <ul ng-hide="resultsFromFile">
    <li ng-class="{ disabled: custom_footer_list_page <= -1 }">
      <a ng-click="custom_footer_previous_page(custom_footer_list_page)" ng-href="#" ng-show="custom_footer_list_page>0">
        Prev
      </a>
      <a ng-click="custom_footer_previous_page(custom_footer_list_page)" ng-href="#" ng-hide="custom_footer_list_page>0">
        All
      </a>
    </li>
    <li>
      <a ng-href="{{getFullLocation();}}" ng-show="custom_footer_list_page>=0" target="_blank">
        #{{custom_footer_list_page}}
      </a>
      <a ng-href="#" ng-show="custom_footer_list_page==-1" target="_blank">
        #All
    </a>
    </li>
    <li ng-class="{ disabled: result.length < custom_footer_limit }">
      <a ng-click="custom_footer_next_page(custom_footer_list_page)" ng-href="#" ng-show="custom_footer_list_page>=0">
        Next
      </a>
      <a ng-click="custom_footer_next_page(custom_footer_list_page)" ng-href="#" ng-show="custom_footer_list_page==-1">
        Paginated
    </a>
    </li>
    <li>
      <select ng-model="custom_footer_limit" ng-options="elem for elem in custom_footer_limit_opts;" style="width: 60px; margin-bottom: 0" ng-change="custom_footer_new_limit();" ng-show="custom_footer_list_page>=0">
      </select>
    </li>
</ul>
</div> -->
<div>
  <span ng-if="!loading"><small>Page</small> {{page}} <small>showing items</small> {{pageStart}} - {{pageEnd}} <small>of</small> {{totalRows}}</span>
  <img ng-if="loading" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
</div>
<div>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" ng-if="page > 0" ng-click="previousPage();" class="btn btn-default">Previous page</button>
    <button type="button" ng-if="pageEnd < totalRows" ng-click="nextPage();" class="btn btn-default">Next page</button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" ng-class="{'btn-primary': limit == 20}" ng-click="changeLimit(20);" class="btn btn-default">20</button>
    <button type="button" ng-class="{'btn-primary': limit == 50}" ng-click="changeLimit(50);" class="btn btn-default">50</button>
    <button type="button" ng-class="{'btn-primary': limit == 100}" ng-click="changeLimit(100);" class="btn btn-default">100</button>
  </div>

</div>
