<div class="span2" style="margin-top:20px;">
  <span ng-show="got_results && result_status == 200 && result_status">
    Found {{result.length}} results
  </span>
  <span class="alert alert-error" ng-show="got_results && result_status != 200 && result_status">
    <strong>
      Sorry, HTTP Error {{result_status}}
    </strong>
  </span>
  <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
  <div ng-show="update['success']">
    Success. Status code:
    <font color="green">
      {{update['status_code']}}
    </font>
  </div>
  <div ng-show="update['fail']">
    Fail. Status code:
    <font color="red">
      {{update['status_code']}}
    </font>
  </div>
</div>
<div class="span5 pagination pagination-right" >
  <ul>
    <li ng-class="{ disabled: custom_footer_list_page <= -1 }">
      <a ng-click="custom_footer_previous_page(custom_footer_list_page)" ng-href="#" ng-show="custom_footer_list_page>0">
        Prev
      </a>
      <a ng-click="custom_footer_previous_page(custom_footer_list_page)" ng-href="#" ng-hide="custom_footer_list_page>0">
        All
      </a>
    </li>
    <li>
      <a ng-href="{{getFullLocation();}}" ng-show="custom_footer_list_page>=0" target="_blank">
        #{{custom_footer_list_page}}
      </a>
      <a ng-href="#" ng-show="custom_footer_list_page==-1" target="_blank">
        #All
    </a>
    </li>
    <li ng-class="{ disabled: result.length < custom_footer_limit }">
      <a ng-click="custom_footer_next_page(custom_footer_list_page)" ng-href="#" ng-show="custom_footer_list_page>=0">
        Next
      </a>
      <a ng-click="custom_footer_next_page(custom_footer_list_page)" ng-href="#" ng-show="custom_footer_list_page==-1">
        Paginated
    </a>
    </li>
    <li>
      <select ng-model="custom_footer_limit" ng-options="elem for elem in custom_footer_limit_opts;" style="width: 60px;" ng-change="custom_footer_new_limit();" ng-show="custom_footer_list_page>=0">
      </select>
    </li>
</ul>
</div>
