<body>
<script>
        $(document).ready(function(){
                $("#db_input").attr("value", "chained_campaigns");
                $("<a id='create_new_button' class='iconholder' href='#'><span class='ui-icon ui-icon-plus'></span>Create chained campaign</a>").appendTo("#next_previous_button_div");
                $("#create_new_button").button().click(function () { window.location = "/create/chained_campaigns/None"; }); 
                get_results("object_list");
                });
</script>


{% include "inputs.tmpl" %}
<h2>Chained Campaigns:</h2>
{% include "object_list.tmpl" %}

</body>
