<script>
	$(document).ready(function() {
		$("#cmssw_release_dialog").hide();
	});
</script>
<div id="cmssw_release_dialog" class="ui-widget">
	<label for='cmssw_release_cmssw_release'>CMSSW Release</label>
    <input type="text" id="cmssw_release_cmssw_release" class="ui-widget-content">
</div>
