<body>
<script>
	$(document).ready(function(){
		$("#db_input").attr("value", "flows");
		$("<a id='create_new_button' class='iconholder' href='#'><span class='ui-icon ui-icon-plus'></span>Create flow</a>").appendTo("#next_previous_button_div");
                $("#create_new_button").button().click(function () { window.location = "/create/flows/None"; });
		get_results("object_list");
		});
</script> 
{% include "inputs.tmpl" %}
<h2>Flows:</h2>
{% include "object_list.tmpl" %}
</body>
