<h2>Welcome to PREP v.2.0.1 alpha</h2>
<p>
	This is a demo for the new web application for <br>
	the organization and management of CMS MonteCarlo <br>
	simulations.<br><br>

	This demo is based on a Apache CouchDB instance for<br>
	the database backend and a CherryPy application for <br>
	its	web interface.<br><br> 
	
	The result is a lightweight application that runs on<br>
	a machine of 2 32bit CPUs and remains responsive, even<br>
	though it contains the whole bulk of data as the current<br>
	PREP application.<br><br>

	For every query you give to the database, an index of<br>
	the documents is built. So, if you run the same query<br>
	again, it will be surprisingly faster.<br><br>
	
	Try clicking on:
</p>
<ul>
	<li><a href="/campaigns">Campaigns</a></li>
	<li><a href="/requests">Requests</a></li>
</ul>

