<div class="ui-widget-header" id="navigation_menu">
	<table class="ui-widget-content"><tr>
		<td><a href="/campaigns">Campaigns</a></td>
		<td><a href="/requests">Requests</a></td>
		<td><a href="/chained_requests">Chained Requests</a></td>
		<td><a href="/chained_campaigns">Chained Campaigns</a></td>
	</table>
</div>
