<div id="next_previous_button_div">
    <a id="next_button" class="iconholder ui-state-default ui-corner-all" href="javascript:show_next_page('object_list');">
		<span class="ui-icon ui-icon-arrowthick-1-e"></span>
	</a>
				
	<a id="previous_button" class="iconholder ui-state-default ui-corner-all" href="javascript:show_previous_page('object_list');">
		<span class="ui-icon ui-icon-arrowthick-1-w"></span>
    </a>
</div>	
<div id="object_list" class="ui-state-default ui-corner-all">
	<table id="object_list_table" class="ui-widget">
		<thead id="object_list_thead" class="ui-widget-header"></thead>
		<tbody id="object_list_tbody" class="ui-widget-content"></tbody>
	</table>
</div>
