<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Actions page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp',[]).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
        <![endif]-->
        <![if !IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp',[]).config(function($locationProvider){$locationProvider.html5Mode(true);});
          </script>
        <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/actions_controller.js"></script>
  </head> 
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container">
      <div class="span12" style="overflow: auto">
        <div align="middle" style="margin-top: 20px;"><!--div for selecting a campaing -->
          <form class="form-inline">
            Starts with: <select ng-change="select_campaign();" ng-model="selectedOption.starts" ng-options="value for value in campaigns"></select>
            Contains: <select ng-change="select_campaign();" ng-model="selectedOption.contains" ng-options="value for value in campaigns"></select>
            <button class="btn btn-mini" ng-click="getData()">Get Data</button>
            <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
          </form>
        </div><!--End of campaing SELECT -->
        <tabs>
          <pane heading="Select Columns">
            <div class="well" style="margin-top: 10px;"> <!--well for user to select table columns-->
          <!-- <span style="float: left;">
            <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false">
            <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true">
          </span> -->
              <span ng-repeat="value in actions_defaults" ng-show="show_well">
                <label class="checkbox inline">
                  <input type="checkbox" ng-model="value.select"> {{value.text}}
                </label>
              </span>
            </div><!--end of well for table columns-->
          </pane>
          <pane heading="List from file">
            <div class="control-group">
              List request from a list file: <ddl-file-reader ng-model="cf"> </ddl-file-reader>
              <button class="btn btn-mini" align="middle" ng-click="upload(cf);">Upload</button>
              <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Lists_Requests" rel="tooltip" title="Help on listing from file"><i class="icon-question-sign"></i></a>
            </div>
          </pane>
        </tabs>
      </div> <!--end of SPAN12-->
    </div> <!--end of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in actions_defaults" ng-show="column.select"  style="white-space: nowrap;">
            <span ng-switch="column.text">
              <span ng-switch-when="Actions">
                {{column.text}}
                <a rel="tooltip" title="Generate all chained requests" ng-click="generateAllRequests()" ng-hide="generatingAllIcon || role(3);" style="">
                  <i class="icon-play"></i>
                </a>
                <img ng-show="generatingAllIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <a rel="tooltip" title="Refresh all actions" ng-click="refreshActions()" ng-hide="refreshingAllIcon ||  role(3);">
                  <i class="icon-refresh"></i>
                </a>
                <img ng-show="refreshingAllIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <!-- SORTING lines -->
                <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                    <i class="icon-resize-vertical"></i>
                </a>
                <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                  <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                  <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
                </span>
                <!-- END OF: SORTING lines -->
                <input type="text" class="input-mini" ng-model="filt['prepid']">
              </span>
              <span ng-switch-default>
                <a ng-href='chained_campaigns?prepid={{column.db_name}}' rel="tooltip" title="Show {{column.db_name}}" target="_self">{{column.text}}<i class="icon-align-right"></i></a>
                <a ng-href='chained_requests?member_of_campaign={{column.db_name}}' rel="tooltip" title="Show chained requests in chained campaign {{column.db_name}}" target="_self">
                  <i class="icon-indent-left"></i>
                </a>
                <a rel="tooltip" title="Generate chained requests for {{column.db_name}}" ng-click="generateRequests(column.db_name)" ng-hide="role(3);">
                  <i class="icon-play"></i>
                </a>
                <!-- SORTING lines -->
                <a rel="tooltip" title="Sort" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)" ng-hide="selectedCls(column.db_name)">
                  <i class="icon-resize-vertical"></i>
                </a>
                <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                  <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                  <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
                </span>
                <!-- END OF: SORTING lines -->
               </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!--<tr ng-repeat="data in result | orderBy:sort.column: sort.descending | filter: filt" ng-show="showingAction(data['member_of_campaign'])" >-->
	<tr ng-repeat="data in result | orderBy:sort.column: sort.descending | filter: filt">
          <td ng-repeat="value in actions_defaults" ng-show="value.select" style="white-space: nowrap;">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-href='actions?prepid={{data[value.db_name]}}&starts={{data["member_of_campaign"]}}&page=0' rel="tooltip" title="Show only action {{data[value.db_name]}}" target="_self">
                  {{data[value.db_name]}}</a>
		  <a ng-href='requests?prepid={{data[value.db_name]}}&page=0' rel="tooltip" title="Show request {{data[value.db_name]}}" target="_self"><i class="icon-folder-open"></i></a>
                {{data['dataset_name']}}
                <a ng-href='admin/_utils/document.html?actions/{{data[value.db_name]}}' rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
                <a ng-href='chained_requests?root_request={{data[value.db_name]}}' rel="tooltip" title="Show all chained requests starting with {{data[value.db_name]}}" target="_self">
                  <i class="icon-indent-left"></i>
                </a>
                <a rel="tooltip" title="Generate chained requests for {{data[value.db_name]}}" ng-click="generateRequests(data[value.db_name])" ng-hide="role(3);">
                  <i class="icon-play"></i>
                </a>
                <img ng-show="generatingIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <a rel="tooltip" title="Refresh action {{data[value.db_name]}}" ng-click="refreshSingleAction(data[value.db_name])" ng-hide="refreshingAllIcon || role(3);">
                  <i class="icon-refresh"></i>
                </a>
                <img ng-show="refreshingAllIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
              </div>
              <div ng-switch-default>
                <custom-prep-id chain="value['db_name']" ng-model="data"></custom-prep-id>
              </div>
            </div>
          </td>
          <tr>
            <td ng-repeat="value in actions_defaults" ng-show="value.select">
              <input type="checkbox" ng-disabled="role(3);" rel="tooltip" title="Select all column for multiple action" ng-hide="value.text == 'Actions'" ng-click="wholeColumnSelection(value)" ng-checked="false"/>
            </td>
          </tr>
        </tr>
        
      </tbody>
    </table>
    <!-- {{selected_prepids}} -->
    <div class="row-fluid">
      <div class="span5" style="margin-top:20px;">
        <span ng-hide="role(1);">
          Place for multiple selection
          <a ng-click="toggleMultipleInput();" ng-hide="showMultipleInput || role(3);" title="Edit action parameters for selected actions">
            <i class="icon-wrench"></i>
          </a>
          <a ng-show="multipleChanged" ng-click="commitMultipleSelection();" rel="tooltip" title="Values updated. Commit?">
            <i class="icon-warning-sign"></i>
          </a>
          <img ng-show="updatingMultipleActions" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
          <div ng-show="showMultipleInput">
            <input type="checkbox" ng-model="multipleSelection.flag" ng-disabled="role(3);" rel="tooltip" title="Set the action for multiple selections"/>'+
            <select class="input-mini" style="margin-bottom: 0px; margin-left: 2px;" ng-model="multipleSelection.block_number">
              <option ng-repeat="key in [0,1,2,3,4,5,6]">{{key}}</option>
            </select>
            <input type="number" style="margin-bottom: 0px; width: 80px;" ng-model="multipleSelection.staged"/>
            <span class="input-append">
              <input type="number" style="margin-bottom: 0px; width: 25px;" ng-model="multipleSelection.threshold"/>
              <span class="add-on">%</span>
            </span>
            <a ng-click="toggleMultipleInput();">
              <i class="icon-remove"></i>
            </a>
          </div>
        </span>
      </div>
      <div class="span2" style="padding-top:20px;">
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font> Result: {{update['result']}}
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font> Result: {{update['result']}}
        </div>
      </div>
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </span>
  </body>
</html>
