<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Batches</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="stylesheet" href="scripts/css/pdmv-development-ribbon.css">
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/batches_controller.js"></script>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-include="'HTML/modals.html'"></div>
  <div ng-controller="batchController">
    <div class="container">
      <column-select update-query="updateQuery" columns="columns" ng-if="!initialGetData && result.length"></column-select>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='{{database}}?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data.prepid}}"
                   title="Database entry of {{data.prepid}}"
                   ng-show="user.is_administrator && !isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data.prepid}}"
                   title="Database entry of {{data.prepid}}"
                   ng-show="user.is_administrator && isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-click='deleteObject(data.prepid)' title="Delete {{data.prepid}}" ng-show="user.is_production_expert" ng-href="#">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a ng-click='announce(data.prepid)' title="Announce the batch" ng-show="data.status == 'new' && user.is_production_manager;" ng-href="#">
                  <i class="glyphicon glyphicon-envelope"></i>
                </a>
                <a title="View all requests" ng-href="requests?prepid={{generateAllRequests(data.requests)}}" target="_self">
                  <i class="glyphicon glyphicon-folder-open"></i>
                </a>
              </div>
              <div ng-switch-when="notes">
                <pre ng-if="data.notes.length" class="notes">{{data.notes}}</pre>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="requests">
                <ul>
                  <li ng-repeat="workflowRequest in data[column.db_name]">
                    <a ng-show="isDevMachine()" ng-href='https://cmsweb-testbed.cern.ch/reqmgr2/fetch?rid={{workflowRequest[1]}}' title="Open {{workflowRequest[1]}} in ReqMgr2">
                      {{workflowRequest[1]}}
                    </a>
                    <a ng-show="!isDevMachine()" ng-href='https://cmsweb.cern.ch/reqmgr2/fetch?rid={{workflowRequest[1]}}' title="Open {{workflowRequest[1]}} in ReqMgr2">
                      {{workflowRequest[1]}}
                    </a>
                    <br>
                    <a ng-href='requests?prepid={{workflowRequest[0]}}' title="Open {{workflowRequest[0]}}" target="_self">
                      {{workflowRequest[0]}}
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-switch-default>
                <a ng-href='{{database}}?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all {{database.replace('_', ' ')}} where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="custom-footer">
      <div>
      </div>
    </div>
  </div>
</body>

</html>