<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Batches</title>
  <base href="/mcm/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet" />
  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  <script type="text/javascript">
    var testApp = angular.module('testApp', ['ui.bootstrap']).config(function ($locationProvider) { $locationProvider.html5Mode(true); });
  </script>
  <script src="scripts/main_controller.js"></script>
  <script src="scripts/batches_controller.js"></script>
  <script src="scripts/snow.js"></script>
</head>

<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <span ng-controller="resultsCtrl">
    <div style='margin-bottom: 5px' class="container">
      <select-well ng-if="selectionReady" database="{{dbName}}" selection="columns"></select-well>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='{{dbName}}?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/{{dbName}}/{{data.prepid}}"
                  title="Database entry of {{data.prepid}}" ng-show="user.is_administrator && !isDevMachine();"
                  target="_blank"><i class="icon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/{{dbName}}/{{data.prepid}}"
                  title="Database entry of {{data.prepid}}" ng-show="user.is_administrator && isDevMachine();"
                  target="_blank"><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-click='deleteObject(data.prepid)' title="Delete {{data.prepid}}" ng-show="user.is_production_expert" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-click='announce(data.prepid)' title="Announce the batch" ng-show="data.status == 'new' && user.is_production_manager;" ng-href="#">
                  <i class="icon-envelope"></i>
                </a>
                <a rel="tooltip" title="View all requests" ng-href="requests?range={{generateAllRequests(data.requests);}}" target="_self">
                  <i class="icon-folder-open"></i>
                </a>
              </div>
              <div ng-switch-when="notes">
                <div style="width:400px">
                  <pre class="notes">{{data[column.db_name]}}</pre>
                </div>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="requests">
                <ul>
                  <li ng-repeat="workflowRequest in data[column.db_name]">
                    <a ng-show="isDevMachine()" ng-href='https://cmsweb-testbed.cern.ch/reqmgr2/fetch?rid={{workflowRequest[1]}}' title="Open {{workflowRequest[1]}} in ReqMgr2">
                      {{workflowRequest[1]}}
                    </a>
                    <a ng-show="!isDevMachine()" ng-href='https://cmsweb.cern.ch/reqmgr2/fetch?rid={{workflowRequest[1]}}' title="Open {{workflowRequest[1]}} in ReqMgr2">
                      {{workflowRequest[1]}}
                    </a>
                    <br>
                    <a ng-href='requests?prepid={{workflowRequest[0]}}' title="Open {{workflowRequest[0]}}">
                      {{workflowRequest[0]}}
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-switch-default>
                <a ng-href='batches?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all batches where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span4">
      </div>
    </div>
  </span>
</body>

</html>