<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Campaigns</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/campaigns_controller.js"></script>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-include="'HTML/modals.html'"></div>
  <div ng-controller="campaignController">
    <div class="container">
      <column-select update-query="updateQuery" columns="columns"></column-select>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='{{database}}?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data.prepid}}"
                   title="Database entry of {{data.prepid}}"
                   ng-show="user.is_administrator && !isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data.prepid}}"
                   title="Database entry of {{data.prepid}}"
                   ng-show="user.is_administrator && isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-href='edit?db_name={{database}}&prepid={{data.prepid}}' title="Edit {{data.prepid}}" ng-show="user.is_production_manager" target="_self">
                  <i class="glyphicon glyphicon-wrench"></i>
                </a>
                <a ng-click='deleteObject(data.prepid)' title="Delete {{data.prepid}}" ng-show="user.is_production_expert" ng-href="#">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a ng-click="openCloneItemModal('campaigns', data.prepid)" title="Clone campaign" ng-show="user.is_production_manager;" ng-href="#">
                  <i class="glyphicon glyphicon-duplicate"></i>
                </a>
                <a ng-click="openRequestCreator(data.prepid)" title="Create new request in {{data.prepid}}" ng-show="user.is_mc_contact && data.root != 1 && data.status == 'started';" ng-href="#">
                  <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
                <a ng-click="nextStatus(data.prepid)" title="Toggle status" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-flag"></i>
                </a>
                <a ng-href='flows?uses={{data.prepid}}' title="View flows using {{data.prepid}}" target="_self">
                  <i class="glyphicon glyphicon-magnet"></i>
                </a>
                <a ng-href='chained_campaigns?contains={{data.prepid}}' title="Show chained campaigns using {{data.prepid}}" target="_self">
                  <i class="glyphicon glyphicon-align-right"></i>
                </a>
                <a ng-href='requests?member_of_campaign={{data.prepid}}' title="Show requests in {{data.prepid}}" target="_self">
                  <i class="glyphicon glyphicon-folder-open"></i>
                </a>
                <a ng-href="/pmp/present?m=false&r={{data.prepid}}" title="View announced statistics for {{data.prepid}}" target="_blank">
                  <i class="glyphicon glyphicon-stats"></i>
                </a>
                <a ng-href="/pmp/historical?r={{data.prepid}}" title="View historical statistics for {{data.prepid}}" target="_blank">
                  <i class="glyphicon glyphicon-signal"></i>
                </a>
                <span ng-show="actionMessage[data.prepid] == 'OK'" style="color: green">{{actionMessage[data.prepid]}}</span>
                <img ng-show="actionMessage[data.prepid] == 'loading'" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <span ng-show="actionMessage[data.prepid] != 'OK' && actionMessage[data.prepid] != 'loading'" style="color: red">{{actionMessage[data.prepid]}}</span>
              </div>
              <div ng-switch-when="notes">
                <pre ng-if="data.notes.length" class="notes">{{data.notes}}</pre>
              </div>
              <div ng-switch-when="sequences">
                <sequence-display ng-model="data.prepid" database="'campaigns'" prepid="data.prepid"></sequence-display>
              </div>
              <div ng-switch-when="generators">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="generator in data[column.db_name]">
                    {{generator}}
                  </li>
                </ul>
              </div>
              <div ng-switch-when="next">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="campaign in data[column.db_name]">
                    <a ng-href='campaigns?prepid={{campaign}}' title="View details of the campaign" target="_self">{{campaign}}<i class="glyphicon glyphicon-book"></i></a>
                    <a ng-href='flows?next_campaign={{campaign}}' title="View flows going into {{campaign}}" target="_self"> <i class="glyphicon glyphicon-magnet"></i></a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="pileup_dataset_name">
                <a ng-href='https://cmsweb.cern.ch/das/request?input={{data[column.db_name]}}' title="Open in DAS" target="_blank">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="input_dataset">
                <a ng-href='https://cmsweb.cern.ch/das/request?input={{data[column.db_name]}}' title="Open in DAS" target="_blank">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="root">
                <i class="glyphicon glyphicon-ok" ng-if="data[column.db_name]==0" title="Yes"></i>
                <i class="glyphicon glyphicon-ok-sign" ng-if="data[column.db_name]==-1" title="Possible"></i>
                <i class="glyphicon glyphicon-remove" ng-if="data[column.db_name]==1" title="No"></i>
              </div>
              <div ng-switch-when="events_per_lumi">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="(cores, lumis) in data[column.db_name]">
                    {{cores}}: {{lumis}}
                  </li>
                </ul>
              </div>
              <div ng-switch-when="memory">
                {{data[column.db_name]}} <span class="label label-info" title="Megabytes">MB<span>
              </div>
              <div ng-switch-when="keep_output">
                <ul>
                  <li ng-repeat="(name,values) in data[column.db_name]">
                    <b>{{name}}:</b>
                    <ul ng-repeat="value in values">
                      <li>{{sequenceName(data.sequences[name], $index)}}: <i class="glyphicon" ng-class="{'glyphicon-ok' : value, 'glyphicon-remove' : !value}"></i></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div ng-switch-default>
                <a ng-href='{{database}}?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all {{database.replace('_', ' ')}} where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="custom-footer">
      <div>
        <input type="button"
               class="btn btn-primary"
               ng-click="openCreateItemModal(database)"
               value="Create new campaign"
               ng-show="user.is_production_manager"/>
      </div>
    </div>
  </div>
</body>

</html>