<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Chained campaigns page McM</title>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/ui-bootstrap-custom-tpls-0.1.0-SNAPSHOT.js"></script>
         <!--[IF IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
           </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/chainedCampaigns_controller.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
      <div class="span12" style="overflow: auto">
        <div class="well"> <!--well for user to select table columns-->
          <span style="float: left;">
            <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false">
            <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true">
            <span ng-show="show_well == true">
              <input type="button" value="SelectAll" ng-click="select_all_well()" ng-hide="selectedCount">
              <input type="button" value="UnSelectAll" ng-click="select_all_well()" ng-show="selectedCount">
            </span>
          </span>
          <span ng-repeat="value in chainedCampaigns_defaults" ng-show="show_well">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="value.select" ng-click="calculate_shown()"> {{value.text}}
            </label>
          </span>
          <input type="button" value="saveCookie" ng-click="saveCookie()" ng-show="show_well">
        </div><!--end of well for table columns-->
      </div> <!--End of span12-->
    </div> <!--End of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in chainedCampaigns_defaults" ng-show="column.select" style="white-space: nowrap;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in filterResults()">
          <td ng-repeat="value in chainedCampaigns_defaults" ng-show="value.select" style="white-space: nowrap;">
            <div ng-switch on="value.text">
              <div ng-switch-when="PrepId">
                <a ng-href='chained_campaigns?prepid={{data.prepid}}&page=0' rel="tooltip" title="Show only {{data.prepid}}" target="_self">{{data.prepid}}<i class="icon-align-right"></i></a>
                <a ng-href="admin/_utils/document.html?chained_campaigns/{{data[value.db_name]}}" rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
	            <div ng-switch-when="Valid" align="center">
		            <a ng-href='chained_campaigns?valid={{data.valid}}&page=0' rel="tooltip" title="Show chained campaign in valid {{data.valid}}" target="_self">
		              <i class="icon-ok" ng-show="data.valid"></i>
		              <i class="icon-remove" ng-show="!data.valid"></i>
		            </a>
	            </div>
              <div ng-switch-when="Actions">
                <div ng-controller="ModalDemoCtrl">
		  <!--<a ng-click="open(data.prepid)" rel="tooltip" title="Create new request" target="_self" ng-hide="role(3);">
                    <i class="icon-plus-sign"></i>
                  </a>-->
                  <a ng-href='chained_requests?member_of_campaign={{data.prepid}}&page=0' rel="tooltip" title="Show chained requests in {{data.prepid}}" target="_self" ng-hide="data.exists==false;">
                    <i class="icon-indent-left"></i>
                  </a>
                  <a ng-click='delete_object("chained_campaigns", data.prepid)' rel="tooltip" title="Delete" ng-hide="role(3) || data.exists==false;">
                    <i class="icon-minus-sign"></i>
                  </a>
                  <a ng-href='edit?db_name=chained_campaigns&prepid={{data._id}}' rel="tooltip" title="Edit details" target="_self" ng-hide="role(3) || data.exists==false;">
                    <i class="icon-wrench"></i>
                  </a>
                  <a ng-click="create(data.prepid, data.campaigns)" ng-show="!role(3) && data.exists==false;" rel="tooltip" title="Create chain campaign {{data.prepid}}" >
                    <i class="icon-refresh"></i>
                  </a>
		  <a ng-href="/mcm/restapi/dashboard/get_stats/{{data.prepid}}" rel="tooltip" title="View statistics for {{data.prepid}}" target="_blank" ng-hide="role(2);">
		    <i class="icon-picture"></i>
		  </a>
                  <a ng-click='inspect(data.prepid)' rel="tooltip" title="Inspect chained campaign" ng-hide="role(3) || data.exists==false;"> 
                    <i class="icon-screenshot"></i>
                  </a>
                  <div modal="shouldBeOpen" close="close()" style="display: block; width: 400px;"> <!--hidden modal template-->
                    <div class="modal-header">
                      <h4>Create a request</h4>
                    </div>  <!--end of modal header-->
                    <div class="modal-body">
                      Create request for:{{prepId}} campaign
                       <select ng-options="value for value in pwgs" ng-model="selectedPwg" style="width: 90px; margin-bottom: 0px;">
                       </select>
                    </div> <!--end of modal body-->
                    <div class="modal-footer">
                      <button class="btn btn-success" ng-click="save()">Create</button>
                      <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
                    </div> <!--end of modal footer-->
                  </div>
                </div> <!--end of modalControler DIV-->
        <!--     END OF MODAL                 -->
              </div>
	      <!--<div ng-switch-when="Alias">
		<a ng-href='chained_campaigns?alias={{data.alias}}' rel="tooltip" title="View chained campaigns with alias {{data.alias}}" target="_self"><i class="icon-align-right"></i></a>
	      </div>-->
              <div ng-switch-when="Campaigns">
                <ul>
                  <li ng-repeat="element in data[value.db_name]"> 
                    <div ng-switch on="_.isArray(element)">
                      <div ng-switch-when="true" ng-switch on="element[1]!=null;">
                        <div ng-switch-when="true">
                          <a ng-href='chained_campaigns?contains={{element[1]}}' rel="tooltip" title="View chained campaigns using {{element[1]}}" target="_self">{{element[1]}}<i class="icon-align-right"></i></a>
                          <a ng-href='flows?prepid={{element[1]}}' rel="tooltip" title="View details of {{element[1]}}" target="_self"><i class="icon-magnet"></i></a>
                          <a>
                            <i class="icon-arrow-right"></i>
                          </a>
                          <a ng-href='chained_campaigns?contains={{element[0]}}' rel="tooltip" title="View chained campaigns using {{element[0]}}" target="_self">{{element[0]}}<i class="icon-align-right"></i></a>
                          <a ng-href='campaigns?prepid={{element[0]}}' rel="tooltip" title="View details of {{element[0]}}" target="_self"><i class="icon-book"></i></a>
                        </div>
                        <div ng-switch-when="false">
                          <a ng-href='chained_campaigns?contains={{element[0]}}' rel="tooltip" title="View chained campaigns using {{element[0]}}" target="_self">{{element[0]}}<i class="icon-align-right"></i></a>
                          <a ng-href='campaigns?prepid={{element[0]}}' rel="tooltip" title="View details of {{element[0]}}" target="_self"><i class="icon-book"></i></a>
                        </div>
                      <div ng-switch-default>
                        <a>
                          <i class="icon-arrow-right"></i>
                        </a>
                        {{element}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Submission details">
                <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in data[value.db_name]">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>                
                </dl>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-default>{{data[value.db_name]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="span5" style="margin-top:20px;">
        <!-- <div ng-controller="ModalDemoCtrl">
          <input type="button" class="btn" ng-click="open()" value="Create new chained campaign" align="left"/>
          <div modal="shouldBeOpen" close="close()" style="display: block; width: 400px;">
            <div class="modal-header">
              <h4>Create a campaign</h4>
            </div>
            <div class="modal-body">
              Campaign name: <input type="text" ng-model="campaignId"/>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="createChainedCampaign()">Create</button>
              <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
            </div>
          </div>
        </div> -->
        <a ng-href="chained_campaigns?select=" class="btn btn-mini" ng-hide="role(3);" target="_self">Create Chained Campaigns</a>
      </div>
      <div class="span2" style="margin-top:20px;">
        <span ng-show="got_results">
          Found {{ result.length}} results
        </span>
        <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font>
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font>
        </div>
      </div>
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>
  </body>
</html>
