<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Chained requests page McM</title>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/ui-bootstrap-custom-tpls-0.1.0-SNAPSHOT.js"></script>
         <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', []).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', []).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/chainRequests_controller.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
      <tabs>
        <pane heading="Select View" active="tabsettings.view.active">
          <div class="well">
            <div>
              <input type="button" value="SelectAll" ng-click="select_all_well()" ng-hide="selectedCount">
              <input type="button" value="UnSelectAll" ng-click="select_all_well()" ng-show="selectedCount">
            </div>
            <span ng-repeat="value in defaults" style="width:160px;float:inline;">
              <label class="checkbox inline">
                <input type="checkbox" ng-model="value.select" ng-click="calculate_shown()"> {{value.text}}
              </label>
            </span>
            <input type="button" value="saveCookie" ng-click="saveCookie()">
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#View_Characteristics" rel="tooltip" title="Help with view characteristics" target="_blank"><i class="icon-question-sign"></i></a>
          </div><!--end of well for table columns-->
        </pane>
        <pane heading="Super search" active="tabsettings.search.active">
          <form class="form-inline">
            <input type="text" class="input-small" maxlength="40" ng-repeat="elem in searchable_fields" ng-model="elem.value" placeholder="{{elem.name}}">
            <button class="btn btn-mini" ng-click="superSearch(searchable_fields);">Search!</button>
            <!--<a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#requests_search" rel="tooltip" title="Glossary for search"><i class="icon-question-sign"></i></a>-->
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Search_Requests" rel="tooltip" title="Help for search"><i class="icon-question-sign"></i></a>
          </form>
        </pane>
<!--        <pane heading="List from file">
          <div class="control-group">
            List request from a list file: <ddl-file-reader ng-model="cf"> </ddl-file-reader>
            <button class="btn btn-mini" align="middle" ng-click="upload(cf);">Upload</button>
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Lists_Requests" rel="tooltip" title="Help on listing from file"><i class="icon-question-sign"></i></a>
          </div>
        </pane>
        <pane heading="Navigation">
          <load-fields></load-fields>
        </pane>-->
      </tabs>
    </div> <!--End of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in defaults" ng-show="column.select" style="white-space: nowrap;" ng-switch on="column.text">
  	        <div ng-switch-when="Actions" ng-hide="role(1);">
              {{'Actions'}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
  	        </div>
  	        <div ng-switch-default>
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
  	        </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result | orderBy:sort.column: sort.descending | filter: filt">
          <td ng-repeat="value in defaults" ng-show="value.select" style="white-space: nowrap;">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-click='delete_object("chained_requests", data.prepid)' rel="tooltip" title="Delete chained request" ng-hide="role(4);">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-href="edit?db_name=chained_requests&prepid={{data.prepid}}" rel="tooltip" title="Edit details" target="_self" ng-hide="role(3);">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-click="load_puce(data.prepid)" rel="tooltip" title="Load short view">
                  <i class="icon-eye-open"></i>
                </a>
                <a ng-click="single_step('approve',data.prepid,'/0')" rel="tooltip" title="Reset" ng-hide="role(3);">
                  <i class="icon-repeat"></i>
                </a>
                <a ng-click="single_step('approve',data.prepid, '')" rel="tooltip" title="Next step" ng-hide="role(3);">
                  <i class="icon-chevron-right"></i>
                </a>
                <a ng-click="single_step('rewind',data.prepid, '')" rel="tooltip" title="Rewind the flow" ng-hide="role(3);">
                  <i class="icon-backward"></i>
                </a>
                <a ng-click='flowChainedRequest(data.prepid)' rel="tooltip" title="Flow" target="_self" ng-hide="role(3);">
                  <i class="icon-forward"></i>
                </a>
                <a ng-click="single_step('inspect',data.prepid,'')" rel="tooltip" title="Inspect status of this chained request" ng-hide="role(3);">
                  <i class="icon-screenshot"></i>
                </a>
                <input type="checkbox" ng-click="add_to_selected_list(data.prepid)" ng-checked="selected_prepids.indexOf(data.prepid) != -1" ng-hide="role(1);">
                <a ng-show="action_status[data.prepid]==true" > <font color=green>{{action_report[data.prepid]}}</font></a>
                <a ng-show="action_status[data.prepid]==false" > <font color=red>{{action_report[data.prepid]}}</font></a>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Chain">
                <a ng-href='chained_requests?root_request={{data[value.db_name][0]}}&page=0' rel="tooltip" title="Show chained request starting with {{data[value.db_name][0]}}" target="_self"><i class='icon-indent-left'></i></a>
                <span ng-repeat="chain in data[value.db_name]">
                  <a ng-href='requests?prepid={{chain}}&page=0' rel="tooltip" title="Show request {{chain}}" target="_self">{{chain}}<i class="icon-folder-open"></i></a>
                  <a ng-show="$index == data.step" rel="tooltip" title="Currently processing"> <i class="icon-asterisk"></i></a>
                  <img ng-show="puce[chain]" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/{{puce[chain]}}" rel="tooltip" title="{{r_status[chain]}}" />
                  <i class="{{puce[chain]}}" rel="tooltip" title="{{r_status[chain]}}"></i>
                  <a ng-show="$index==0" ng-href='actions?prepid={{chain}}' rel="tooltip" title="Show action for {{chain}}" target="_self"><i class="icon-qrcode"></i></a>
                  <span ng-switch on="$index == data[value.db_name].length-1"><!-- Display arrow only after n-1 element -->
                    <a ng-switch-when="false">
                      <i  class="icon-arrow-right"></i>
                    </a>
                    <a ng-switch-default><!-- on n-th(last) element display no arrow -->
                      <i></i>
                    </a>
                  </span>
                </span>
              </div>
              <div ng-switch-when="Short view">
                <a ng-href='chained_requests?root_request={{data[value.db_name][0]}}&page=0' rel="tooltip" title="Show chained request starting with {{data[value.db_name][0]}}" target="_self">
                  <i class='icon-folder-open'></i>
                </a>
                <span ng-repeat="chain in data[value.db_name]">
                  <a ng-href='requests?prepid={{chain}}&page=0' rel="tooltip" title="Show request {{chain}}" target="_self">{{chain}}</a>
                  <span ng-switch on="$index == data[value.db_name].length-1"><!-- Display arrow only after n-1 element -->
                    <a ng-switch-when="false">
                      <i  class="icon-arrow-right"></i>
                    </a>
                    <a ng-switch-default><!-- on n-th(last) element display no arrow -->
                      <i></i>
                    </a>
                  </span>
                </span>
	            </div>
              <div ng-switch-when="PrepId">
                <a ng-href='chained_requests?prepid={{data[value.db_name]}}&page=0' rel="tooltip" title="Show only {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <a ng-href="admin/_utils/document.html?chained_requests/{{data[value.db_name]}}" rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
	            <div ng-switch-when="Pwg">
		            <a ng-href='chained_requests?pwg={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all chained requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
	            <div ng-switch-when="Member of campaign">
		            <a ng-href='chained_requests?member_of_campaign={{data[value.db_name]}}&page=0' rel="tooltip" title="View chained requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}<i class="icon-indent-left"></i></a>
		            <a ng-href='chained_campaigns?prepid={{data[value.db_name]}}&page=0' rel="tooltip" title="Show chained campaign {{data[value.db_name]}}" target="_self"><i class="icon-align-right"></i></a>
	            </div>
	            <div ng-switch-when="Approval" align="center">
		            <i class="{{approvalIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
		            <a ng-href='chained_requests?approval={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all chained requests in approval {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
	            <div ng-switch-when="Last status" align="center">
		            <i class="{{statusIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
		            <a ng-href='chained_requests?status={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all chained request with last status {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
	            <div ng-switch-when="Dataset name">
		            <a ng-href='chained_requests?dataset_name={{data[value.db_name]}}&page=0' rel="tooltip" title="Show chained requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}<i class="icon-indent-left"></i></a>
		            <a ng-href='requests?dataset_name={{data[value.db_name]}}&page=0' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self"><i class="icon-folder-open"></i></a>
	            </div>
              <div ng-switch-default>{{data[value.db_name]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="span5" style="margin-top:20px;">
        Multiple selection buttons
	      <a ng-click="multiple_load()" rel="tooltip" title="Load short view for selected requests">
	        <i class="icon-eye-open"></i>
	      </a>
        <a ng-click="multiple_step('approve','/0')" rel="tooltip" ng-hide="role(3);" title="Reset selected requests">
         <i class="icon-repeat"></i>
        </a>
        <a ng-click="multiple_step('approve','')" rel="tooltip" title="Next step for selected chained requests" ng-hide="role(3);">
         <i class="icon-chevron-right"></i>
        </a>
        <a ng-click="multiple_flow()" rel="tooltip" ng-hide="role(3);" title="Flow selected requests">
         <i class="icon-forward"></i>
        </a>
        <a ng-click="multiple_step('inspect','')" rel="tooltip" title="Inspect slected chained requests" ng-hide="role(3);">
          <i class="icon-screenshot"></i>
        </a>
        <input type="checkbox" ng-click="toggleAll()" rel="tooltip" title="Toggle select all" style="margin-bottom: 8px;" ng-checked="result.length == selected_prepids.length">
      </div>
      <div class="span2" style="margin-top:20px;">
        <span ng-show="got_results">
          Found {{ result.length}} results
        </span>
        <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font>
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font>
        </div>
      </div> 
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>
  </body>
</html>
