<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Chained requests page McM</title>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="scripts/css/mcm.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/jquery/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.8.0.min.js"></script>

         <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/chainRequests_controller.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
      <tabs>
        <pane heading="Select View" active="tabsettings.view.active">
          <select-well ng-if="selectionReady" database="{{dbName}}" selection="defaults" always-show="true"></select-well>
        </pane>
        <pane heading="Navigation" active="tabsettings.navigation.active">
          <load-fields></load-fields>
        </pane>
        <pane heading="Navigation by requests" active="tabsettings.navigation2.active">
          <load-requests-fields></load-requests-fields>
        </pane>
      </tabs>
    </div> <!--End of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in defaults" ng-if="column.select" style="white-space: nowrap;" ng-switch on="column.text">
  	        <div ng-switch-when="Actions" ng-hide="role(1);">
              {{'Actions'}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
  	        </div>
  	        <div ng-switch-default>
		  {{column.text}} <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#chained_requests_{{column.db_name}}" rel="tooltip" title="Glossary for {{column.text}}"><i class="icon-question-sign"></i></a>
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
  	        </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result | orderBy:sort.column: sort.descending | filter: filt">
          <td ng-repeat="value in defaults" ng-if="value.select" style="white-space: nowrap;">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <div ng-controller="ModalDemoCtrl">
                  <a ng-click='isSureModal("delete", data.prepid)' rel="tooltip" title="Delete chained request" ng-hide="role(3);">
                    <i class="icon-minus-sign"></i>
                  </a>
                  <a ng-href="edit?db_name=chained_requests&prepid={{data.prepid}}" rel="tooltip" title="Edit details" target="_self" ng-hide="role(3);">
                    <i class="icon-wrench"></i>
                  </a>
                  <a ng-click="load_puce(data.prepid)" rel="tooltip" title="Load short view">
                    <i class="icon-eye-open"></i>
                  </a>
                  <a ng-click='isSureModal("reset", data.prepid)' rel="tooltip" title="Reset" ng-hide="role(3);">
                    <i class="icon-repeat"></i>
                  </a>
		  <a ng-click='isSureModal("validate", data.prepid)' rel="tooltip" title="Validate the chain" ng-hide="role(1);">
		    <i class="icon-star-empty"></i>
		  </a>
                  <a ng-click='isSureModal("next step", data.prepid)' rel="tooltip" title="Next step" ng-hide="role(3);">
                    <i class="icon-chevron-right"></i>
                  </a>
                  <a ng-href='public/restapi/chained_requests/get_setup/{{data.prepid}}' rel="tooltip" title="Get setup command" target="_self">
                    <i class="icon-download"></i>
                  </a>
                  <a ng-href='public/restapi/chained_requests/get_test/{{data.prepid}}' rel="tooltip" title="Get test command" target="_self">
                    <i class="icon-ok-circle"></i>
                  </a>                  
		  <a ng-click='isSureModal("soft reset", data.prepid)' rel="tooltip" title="Soft reset the flow" ng-hide="role(3);">
		    <i class="icon-step-backward"></i>
		  </a>
                  <a ng-click='isSureModal("rewind", data.prepid)' rel="tooltip" title="Rewind the flow" ng-hide="role(3);">
                    <i class="icon-backward"></i>
                  </a>
                  <a ng-click='isSureModal("flow", data.prepid)' rel="tooltip" title="Flow" ng-hide="role(3);">
                    <i class="icon-forward"></i>
                  </a>
                  <a ng-click='isSureModal("force flow", data.prepid)' rel="tooltip" title="Force Flow" target="_self" ng-hide="role(3);">
                    <i class="icon-fast-forward"></i>
                  </a>
                  <a ng-click='dropdownModal(data.prepid)' rel="tooltip" title="Reserve chain" target="_self" ng-hide="role(3);">
                    <i class="icon-indent-right"></i>
                  </a>
                  <a ng-click="single_step('inspect',data.prepid,'')" rel="tooltip" title="Inspect status of this chained request" ng-hide="role(3);">
                    <i class="icon-screenshot"></i>
                  </a>
                  <a ng-href="graph?prepid={{data.prepid}}&db_name={{dbName}}" rel="tooltip" title="Get growth graph" target="_blank">
                    <i class="icon-picture"></i>
                  </a>
                  <input type="checkbox" ng-click="add_to_selected_list(data.prepid)" ng-checked="selected_prepids.indexOf(data.prepid) != -1" ng-hide="role(1);">
                  <a ng-show="action_status[data.prepid]==true" > <font color=green>{{action_report[data.prepid]}}</font></a>
                  <a ng-show="action_status[data.prepid]==false" > <font color=red>{{action_report[data.prepid]}}</font></a>
                </div>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Chain">
		<a ng-href='requests?member_of_chain={{data.prepid}}' rel="tooltip" title="Show request in chain {{data.prepid}}" target="_self"><i class="icon-folder-open"></i></a>
                <span ng-repeat="chain in data[value.db_name]">
                  <a ng-show="$index==0" ng-href='actions?prepid={{chain}}&starts={{chain.split("-")[1]}}' rel="tooltip" title="Show action for {{chain}}" target="_self"><i class="icon-qrcode"></i></a>
                  <a ng-show="$index==0" ng-href='mccms?contains={{chain}}' rel="tooltip" title="Show mccms for {{chain}}" target="_self"><i class="icon-tasks"></i></a>
                  <a ng-href='requests?prepid={{chain}}&page=0' rel="tooltip" title="Show request {{chain}}" target="_self">{{chain}}<i class="icon-folder-open"></i></a>
                  <a ng-show="$index==0" ng-href='chained_requests?root_request={{data[value.db_name][0]}}&page=0' rel="tooltip" title="Show chained request starting with {{data[value.db_name][0]}}" target="_self"><i class='icon-indent-left'></i></a>
                  <a ng-hide="$index==0" ng-href='chained_requests?contains={{chain}}' rel="tooltip" title="Show chains containing {{chain}}" target="_self"><i class="icon-indent-left"></i></a>
                  <a ng-show="$index == data.step" rel="tooltip" title="Currently processing"> <i class="icon-asterisk"></i></a>
                  <img ng-show="puce[chain]" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/{{puce[chain]}}" rel="tooltip" title="{{r_status[chain]}}" />
                  <i class="{{puce[chain]}}" rel="tooltip" title="{{r_status[chain]}}"></i>
                  <span ng-show="r_status[chain] == 'submitted'">
                    <a ng-click="preloadRequest(chain,'');" ng-hide="underscore.has(local_requests,chain)" ng-href="#"><i class="icon-eye-open"></i></a>
                    <span ng-show="underscore.has(local_requests,chain)">
                      <reqmgr-Name ng-model="local_requests[''+chain+'']" prepid="data.prepid"></reqmgr-Name>
                    </span>
                  </span>
                  <!-- <reqmgr-Name ng-model="chain" prepid="data.prepid"> -->
		  
                  <span ng-switch on="$index == data[value.db_name].length-1"><!-- Display arrow only after n-1 element -->
                    <a ng-switch-when="false">
                      <i  class="icon-arrow-right"></i>
                    </a>
                    <a ng-switch-default><!-- on n-th(last) element display no arrow -->
                      <i></i>
                    </a>
                  </span>
                </span>
              </div>
              <div ng-switch-when="Short view">
                <a ng-href='chained_requests?root_request={{data[value.db_name][0]}}&page=0' rel="tooltip" title="Show chained request starting with {{data[value.db_name][0]}}" target="_self">
                  <i class='icon-folder-open'></i>
                </a>
                <span ng-repeat="chain in data[value.db_name]">
                  <a ng-href='requests?prepid={{chain}}&page=0' rel="tooltip" title="Show request {{chain}}" target="_self">{{chain}}</a>
                  <span ng-switch on="$index == data[value.db_name].length-1"><!-- Display arrow only after n-1 element -->
                    <a ng-switch-when="false">
                      <i  class="icon-arrow-right"></i>
                    </a>
                    <a ng-switch-default><!-- on n-th(last) element display no arrow -->
                      <i></i>
                    </a>
                  </span>
                </span>
	            </div>
              <div ng-switch-when="PrepId">
                <a ng-href='chained_requests?prepid={{data[value.db_name]}}&page=0' rel="tooltip" title="Show only {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <a ng-href="admin/_utils/document.html?chained_requests/{{data[value.db_name]}}" rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
	            <div ng-switch-when="Pwg">
		            <a ng-href='chained_requests?pwg={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all chained requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
	            <div ng-switch-when="Member of campaign">
		            <a ng-href='chained_requests?member_of_campaign={{data[value.db_name]}}&page=0' rel="tooltip" title="View chained requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}<i class="icon-indent-left"></i></a>
		            <a ng-href='chained_campaigns?prepid={{data[value.db_name]}}&page=0' rel="tooltip" title="Show chained campaign {{data[value.db_name]}}" target="_self"><i class="icon-align-right"></i></a>
	            </div>
	            <div ng-switch-when="Approval" align="center">
		            <i class="{{approvalIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
		            <a ng-href='chained_requests?approval={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all chained requests in approval {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
	            <div ng-switch-when="Last status" align="center">
		            <i class="{{statusIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
		            <a ng-href='chained_requests?last_status={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all chained request with last status {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
	            <div ng-switch-when="Dataset name">
		            <a ng-href='chained_requests?dataset_name={{data[value.db_name]}}&page=0' rel="tooltip" title="Show chained requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}<i class="icon-indent-left"></i></a>
		            <a ng-href='requests?dataset_name={{data[value.db_name]}}&page=0' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self"><i class="icon-folder-open"></i></a>
	            </div>
                <div ng-switch-when="Status" align="center">
                  <i class="{{statusIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
                  <a ng-href='chained_requests?status={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all requests in status {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                </div>
              <div ng-switch-default>{{data[value.db_name]}}</div>
            </div>
          </td>
          <!-- <td>
            <growth-graph ng-model="data.prepid"></growth-graph>
          </td> -->
        </tr>
      </tbody>
    </table>
    <!-- {{r_status}} -->
    <!-- {{local_requests}} -->
    <div class="row-fluid custom-footer">
      <div class="span5" style="margin-top:20px;">
        Multiple selection buttons
	      <a ng-click="multiple_load()" rel="tooltip" title="Load short view for selected requests" ng-href="#">
	        <i class="icon-eye-open"></i>
	      </a>
        <a ng-click="multiple_inspect()" rel="tooltip" title="Load detailed view for selected requests" ng-href="#">
          <i class="icon-barcode"></i>
        </a>
        <a ng-click="multiple_step('approve','/0')" rel="tooltip" ng-hide="role(3);" title="Reset selected requests" ng-href="#">
         <i class="icon-repeat"></i>
        </a>
        <a ng-click="multiple_step('approve','')" rel="tooltip" title="Next step for selected chained requests" ng-hide="role(3);" ng-href="#">
         <i class="icon-chevron-right"></i>
        </a>
        <a ng-click="multiple_step('rewind','')" rel="tooltip" title="Rewind selected chained requests" ng-hide="role(3);" ng-href="#">
          <i class="icon-backward"></i>
        </a>
        <a ng-click="multiple_flow('')" rel="tooltip" ng-hide="role(3);" title="Flow selected requests" ng-href="#">
         <i class="icon-forward"></i>
        </a>
        <a ng-click="multiple_flow('/force')" rel="tooltip" ng-hide="role(3);" title="Force Flow selected requests" ng-href="#">
         <i class="icon-fast-forward"></i>
        </a>
        <a ng-click="multiple_step('inspect','')" rel="tooltip" title="Inspect slected chained requests" ng-hide="role(3);" ng-href="#">
          <i class="icon-screenshot"></i>
        </a>
        <a ng-href="graph?prepid={{selected_prepids.join()}}&db_name={{dbName}}" rel="tooltip" title="Get growth graph" target="_blank">
          <i class="icon-picture"></i>
        </a>
        <input type="checkbox" ng-click="toggleAll()" rel="tooltip" title="Toggle select all" style="margin-bottom: 8px;" ng-checked="result.length == selected_prepids.length">
      </div>
    </div>
  </span>
<!-- MODAL-->
<script type="text/ng-template" id="dropdownModal.html"> <!--hidden modal template-->
  <div class="modal-header">
    <h4>Limited reservation for {{toggle_prepid}}?</h4>
  </div> 
  <div class="modal-body">
    <select ng-model="campaign">
	<option ng-repeat="elem in campaignListDropdown">{{elem}}</option>
	</select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="confirm()">Confirm</button>
    <button class="btn btn-success" ng-click="cancel()">Cancel</button>
  </div>
</script>
<!-- END of MODAL-->
  </body>
</html>
