<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Chained Campaigns</title>
  <base href="/mcm/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet" />
  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  <script type="text/javascript">
    var testApp = angular.module('testApp', ['ui.bootstrap']).config(function ($locationProvider) { $locationProvider.html5Mode(true); });
  </script>
  <script src="scripts/main_controller.js"></script>
  <script src="scripts/chainedCampaigns_controller.js"></script>
  <script src="scripts/snow.js"></script>
</head>

<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <span ng-controller="resultsCtrl">
    <div style='margin-bottom: 5px' class="container">
      <select-well ng-if="selectionReady" database="{{dbName}}" selection="columns"></select-well>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns"
              ng-if="column.select"
              style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='chained_campaigns?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/chained_campaigns/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-show="user.is_administrator && !isDevMachine();"><i class="icon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/chained_campaigns/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-show="user.is_administrator && isDevMachine();"><i class="icon-star"></i></a>
              </div>

              <div ng-switch-when="">
                <a ng-href='edit?db_name=chained_campaigns&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-show="user.is_production_manager" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-click='deletePrompt(data.prepid)' rel="tooltip" title="Delete chained campaign" ng-show="user.is_production_manager" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-href='chained_requests?member_of_campaign={{data.prepid}}' rel="tooltip" title="Show chained requests in {{data.prepid}}" target="_self">
                  <i class="icon-indent-left"></i>
                </a>
              </div>
              <div ng-switch-when="valid" align="center">
                <a ng-href='chained_campaigns?valid={{data.valid}}&page=0' rel="tooltip" title="Show chained campaign in valid {{data.valid}}" target="_self">
                  <i class="icon-ok" ng-show="data.valid"></i>
                  <i class="icon-remove" ng-show="!data.valid"></i>
                </a>
              </div>
              <div ng-switch-when="notes">
                <div style="width:400px">
                  <pre class="notes">{{data[column.db_name]}}</pre>
                </div>
              </div>
              <div ng-switch-when="campaigns">
                <ul>
                  <li ng-repeat="element in data[column.db_name]">
                    <div ng-switch on="_.isArray(element)">
                      <div ng-switch-when="true" ng-switch on="element[1]!=null;">
                        <div ng-switch-when="true">
                          <a ng-href='chained_campaigns?contains={{element[1]}}' rel="tooltip" title="View chained campaigns using {{element[1]}}" target="_self">{{element[1]}}<i class="icon-align-right"></i></a>
                          <a ng-href='chained_campaigns?prepid={{element[1]}}' rel="tooltip" title="View details of {{element[1]}}" target="_self"><i class="icon-magnet"></i></a>
                          <a><i class="icon-arrow-right"></i></a>
                          <a ng-href='chained_campaigns?contains={{element[0]}}' rel="tooltip" title="View chained campaigns using {{element[0]}}" target="_self">{{element[0]}}<i class="icon-align-right"></i></a>
                          <a ng-href='campaigns?prepid={{element[0]}}' rel="tooltip" title="View details of {{element[0]}}" target="_self"><i class="icon-book"></i></a>
                        </div>
                        <div ng-switch-when="false">
                          <a ng-href='chained_campaigns?contains={{element[0]}}' rel="tooltip" title="View chained campaigns using {{element[0]}}" target="_self">{{element[0]}}<i class="icon-align-right"></i></a>
                          <a ng-href='campaigns?prepid={{element[0]}}' rel="tooltip" title="View details of {{element[0]}}" target="_self"><i class="icon-book"></i></a>
                        </div>
                        <div ng-switch-default>
                          <a>
                            <i class="icon-arrow-right"></i>
                          </a>
                          {{element}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="do_not_check_cmssw_versions" align="center" title="Do not check whether CMSSW versions in chained requests are the same or increasing">
                <i class="icon-ok" ng-show="data.do_not_check_cmssw_versions"></i>
                <i class="icon-remove" ng-show="!data.do_not_check_cmssw_versions"></i>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="action_parameters">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="(key, value) in data[column.db_name]">
                    {{key}}: {{value}}
                  </li>
                </ul>
              </div>

              <div ng-switch-default>
                <a ng-href='chained_campaigns?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all chained campaigns where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span4">
        <div>
          <!-- MODAL -->
          <input type="button" class="btn" ng-click="openChainCreationModal()" value="Create a chained campaign" ng-show="user.is_production_manager" align="left" />
          <script type="text/ng-template" id="chainedCampaignCreateModal.html">
            <div class="modal-header">
              <h4>Create new chained campaign</h4>
            </div>
            <div class="modal-body">
              <table>
                <tr>
                  <th>Step</th>
                  <th>Flow</th>
                  <th>Campaign</th>
                </tr>
                <tr ng-repeat="pair in pairs track by $index">
                  <td style="text-align:center">{{ $index + 1 }}</td>
                  <td><select ng-options="flow.prepid for flow in pair.flows" ng-model="pair.selectedFlow" ng-change="updateFlow($index)" ng-disabled="$index == 0"></select></td>
                  <td><select ng-options="prepid for prepid in pair.campaigns" ng-model="pair.selectedCampaign" ng-change="updateCampaign($index)" ng-disabled="$index != 0"></select></td>
                </tr>
              </table>
              <h5 ng-show="pairs.length > 1">Chained campaign will look like this</h5>
              <ul>
                <li ng-show="pair.selectedFlow.prepid || ($index == 0 && pair.selectedCampaign)" ng-repeat="pair in pairs track by $index">Step {{ $index + 1}}:
                  <ul>
                    <li ng-show="$index != 0">Flow: {{pair.selectedFlow.prepid}}</li>
                    <li>Campaign: {{pair.selectedCampaign}}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="save()" ng-disabled="pairs.length < 1">Create</button>
              <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
            </div>
          </script>
        </div>
      </div> <!-- END OF MODAL -->
    </div>
  </span>
</body>

</html>