<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Chained Requests</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="stylesheet" href="scripts/css/pdmv-development-ribbon.css">
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/chained_requests_controller.js"></script>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-include="'HTML/modals.html'"></div>
  <div ng-controller="chainedRequestController">
    <div class="container">
      <column-select update-query="updateQuery" columns="columns" ng-if="!initialGetData && result.length"></column-select>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='{{database}}?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data.prepid}}"
                   title="Database entry of {{data.prepid}}"
                   ng-show="user.is_administrator && !isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data.prepid}}"
                   title="Database entry of {{data.prepid}}"
                   ng-show="user.is_administrator && isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-href='edit?db_name={{database}}&prepid={{data.prepid}}' title="Edit {{data.prepid}}" ng-show="user.is_production_manager" target="_self">
                  <i class="glyphicon glyphicon-wrench"></i>
                </a>
                <a ng-click='deleteObject(data.prepid)' title="Delete {{data.prepid}}" ng-show="user.is_production_expert" ng-href="#">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a ng-click="loadShortView(data.prepid)" title="Load short view" ng-href="#">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <a ng-click='validate(data.prepid)' title="Validate the chain" ng-show="user.is_user" ng-href="#">
                  <i class="glyphicon glyphicon-star-empty"></i>
                </a>
                <a ng-href='public/restapi/{{database}}/get_setup/{{data.prepid}}' title="Get setup command" target="_self">
                  <i class="glyphicon glyphicon-download"></i>
                </a>
                <a ng-href='public/restapi/{{database}}/get_test/{{data.prepid}}' title="Get test command" target="_self">
                  <i class="glyphicon glyphicon-ok-circle"></i>
                </a>
                <a ng-click='rewindToRoot(data.prepid)' title="Rewind to root" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-fast-backward"></i>
                </a>
                <a ng-click='rewind(data.prepid)' title="Rewind by one step" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-backward"></i>
                </a>
                <a ng-click='flow(data.prepid)' title="Flow" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-forward"></i>
                </a>
                <a ng-click='openReserveChainModal(data)' title="Reserve chain" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-align-right"></i>
                </a>
                <a ng-click="inspect(data.prepid)" title="Inspect status of this chained request" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-screenshot"></i>
                </a>
                <input type="checkbox" ng-click="toggleSelection(data.prepid)" ng-checked="selectedItems.includes(data.prepid)">
                <span ng-show="actionMessage[data.prepid] == 'OK'" style="color: green">{{actionMessage[data.prepid]}}</span>
                <img ng-show="actionMessage[data.prepid] == 'loading'" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <span ng-show="actionMessage[data.prepid] != 'OK' && actionMessage[data.prepid] != 'loading'" style="color: red">{{actionMessage[data.prepid]}}</span>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="chain">
                <a ng-href='requests?member_of_chain={{data.prepid}}' title="Show requests of this chain" target="_self"><i class="glyphicon glyphicon-folder-open"></i></a>
                <span ng-repeat="chain in data[column.db_name]">
                  <a ng-show="$index==0"
                     ng-href='mccms?contains={{chain}}'
                     title="Show MccM tickets for {{chain}}"
                     target="_self"><i class="glyphicon glyphicon-tasks"></i></a>
                  <a ng-href='requests?prepid={{chain}}&page=0'  title="Show request {{chain}}" target="_self">
                    <u ng-show="$index == data.step">{{chain}}</u>
                    <span ng-hide="$index == data.step">{{chain}}</span>
                  </a>
                  <a ng-show="$index==0"
                     ng-href='chained_requests?root_request={{data[column.db_name][0]}}&page=0'
                     title="Show chained request starting with {{data[column.db_name][0]}}"><i class='glyphicon glyphicon-indent-left'></i></a>
                  <a ng-hide="$index==0"
                     ng-href='chained_requests?contains={{chain}}'
                     title="Show chains containing {{chain}}"><i class="glyphicon glyphicon-indent-left"></i></a>
                  <i ng-show="$index == data.step" class="glyphicon glyphicon-asterisk"></i>
                  <img ng-show="shortView[data.prepid][chain]"
                       ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/{{shortView[data.prepid][chain][1]}}"
                       title="{{shortView[data.prepid][chain][0]}}" />
                  <i ng-hide="$index == data[column.db_name].length-1" class="glyphicon glyphicon-arrow-right"></i>
                  </span>
                </span>
              </div>
              <div ng-switch-when="member_of_campaign">
                <a ng-href='chained_requests?member_of_campaign={{data[column.db_name]}}&page=0'
                   title="View chained requests for {{data[column.db_name]}}">{{data[column.db_name]}}<i
                   class="glyphicon glyphicon-indent-left"></i></a>
                <a ng-href='chained_campaigns?prepid={{data[column.db_name]}}&page=0'
                   title="Show chained campaign {{data[column.db_name]}}"><i
                   class="glyphicon glyphicon-align-right"></i></a>
              </div>
              <div ng-switch-when="validate">
                <i class="glyphicon" ng-class="{'glyphicon-ok' : data[column.db_name], 'glyphicon-remove' : !data[column.db_name]}"></i>
              </div>
              <div ng-switch-when="enabled">
                <i class="glyphicon" ng-class="{'glyphicon-ok' : data[column.db_name], 'glyphicon-remove' : !data[column.db_name]}"></i>
              </div>

              <div ng-switch-default>
                <a ng-href='{{database}}?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all {{database.replace('_', ' ')}} where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="custom-footer">
      <div>
        <input type="button"
                class="btn btn-primary"
                ng-click="openCreateItemModal(database)"
                value="Create new campaign"
                ng-show="user.is_production_manager"/>
        <div>
          Multiple selection buttons
          <a ng-click="loadShortView('selected')" title="Load short view for selected requests" ng-href="#">
            <i class="glyphicon glyphicon-eye-open"></i>
          </a>
          <a ng-click="rewindToRoot('selected')" title="Rewind chained request to root" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-fast-backward"></i>
          </a>
          <a ng-click="rewind('selected')"  title="Rewind selected chained requests" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-backward"></i>
          </a>
          <a ng-click="flow('selected')" title="Flow selected requests" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-forward"></i>
          </a>
          <a ng-click="openReserveChainModal('selected')" title="Reserve selected chains" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-align-right"></i>
          </a>
          <a ng-click="inspect('selected')" title="Inspect selected chained requests" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-screenshot"></i>
          </a>
          <input type="checkbox" ng-click="toggleAll()" title="Toggle select all" ng-checked="result.length == selectedItems.length">
        </div>
      </div>
    </div>

  </div>
</body>

</html>
