<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Chained Campaigns</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/chained_campaigns_controller.js"></script>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-include="'HTML/modals.html'"></div>
  <div ng-controller="chainedCampaignController">
    <div class="container">
      <column-select update-query="updateQuery" columns="columns"></column-select>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='chained_campaigns?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/chained_campaigns/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-show="user.is_administrator && !isDevMachine();"><i class="glyphicon glyphicon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/chained_campaigns/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-show="user.is_administrator && isDevMachine();"><i class="glyphicon glyphicon-star"></i></a>
              </div>

              <div ng-switch-when="">
                <a ng-href='edit?db_name=chained_campaigns&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-show="user.is_production_manager" target="_self">
                  <i class="glyphicon glyphicon-wrench"></i>
                </a>
                <a ng-click='deleteObject(data.prepid)' rel="tooltip" title="Delete chained campaign" ng-show="user.is_production_manager" ng-href="#">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a ng-href='chained_requests?member_of_campaign={{data.prepid}}' rel="tooltip" title="Show chained requests in {{data.prepid}}" target="_self">
                  <i class="glyphicon glyphicon-align-left"></i>
                </a>
                <span ng-show="actionMessage[data.prepid] == 'OK'" style="color: green">{{actionMessage[data.prepid]}}</span>
                <img ng-show="actionMessage[data.prepid] == 'loading'" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <span ng-show="actionMessage[data.prepid] != 'OK' && actionMessage[data.prepid] != 'loading'" style="color: red">{{actionMessage[data.prepid]}}</span>
              </div>
              <div ng-switch-when="notes">
                <pre ng-if="data.notes.length" class="notes">{{data.notes}}</pre>
              </div>
              <div ng-switch-when="campaigns">
                <ul>
                  <li ng-repeat="element in data[column.db_name]">
                    <div ng-switch on="isArray(element)">
                      <div ng-switch-when="true" ng-switch on="element[1]!=null;">
                        <div ng-switch-when="true">
                          <a ng-href='chained_campaigns?contains={{element[1]}}' rel="tooltip" title="View chained campaigns using {{element[1]}}" target="_self">{{element[1]}}<i class="glyphicon glyphicon-align-right"></i></a>
                          <a ng-href='flows?prepid={{element[1]}}' rel="tooltip" title="View details of {{element[1]}}" target="_self"><i class="glyphicon glyphicon-magnet"></i></a>
                          <a><i class="glyphicon glyphicon-arrow-right"></i></a>
                          <a ng-href='chained_campaigns?contains={{element[0]}}' rel="tooltip" title="View chained campaigns using {{element[0]}}" target="_self">{{element[0]}}<i class="glyphicon glyphicon-align-right"></i></a>
                          <a ng-href='campaigns?prepid={{element[0]}}' rel="tooltip" title="View details of {{element[0]}}" target="_self"><i class="glyphicon glyphicon-book"></i></a>
                        </div>
                        <div ng-switch-when="false">
                          <a ng-href='chained_campaigns?contains={{element[0]}}' rel="tooltip" title="View chained campaigns using {{element[0]}}" target="_self">{{element[0]}}<i class="glyphicon glyphicon-align-right"></i></a>
                          <a ng-href='campaigns?prepid={{element[0]}}' rel="tooltip" title="View details of {{element[0]}}" target="_self"><i class="glyphicon glyphicon-book"></i></a>
                        </div>
                        <div ng-switch-default>
                          <a>
                            <i class="glyphicon glyphicon-arrow-right"></i>
                          </a>
                          {{element}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="check_cmssw_version">
                <i class="glyphicon" ng-class="{'glyphicon-ok' : data[column.db_name], 'glyphicon-remove' : !data[column.db_name]}"></i>
              </div>
              <div ng-switch-when="enabled">
                <i class="glyphicon" ng-class="{'glyphicon-ok' : data[column.db_name], 'glyphicon-remove' : !data[column.db_name]}"></i>
              </div>

              <div ng-switch-default>
                <a ng-href='{{database}}?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all {{database.replace('_', ' ')}} where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="custom-footer">
      <div>
        <input type="button"
                class="btn btn-primary"
                ng-click="openChainCreationModal()"
                value="Create new chained campaign"
                ng-show="user.is_production_manager"/>
      </div>
    </div>
  </span>
</body>

</html>