<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="eng" ng-app="testApp">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/controller.js"></script>
  </head>
  <body ng-controller="resultsCtrl">
    <div class="navbar navbar-static-top">       <!--  place for NAV-BAR-->
      <div class="navbar-inner">
        <ul class="nav">
          <li>
           <a href='campaigns2?db_name=campaigns&query=""&page=0'  target="_self">Campaigns</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='requests2?db_name=requests&query=""&page=0' target="_self">Requests</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='flows2?db_name=flows&query=""&page=0' target="_self">Flows</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='actions2?db_name=actions&query=""&page=0' target="_self">Actions</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='chained_campaigns2?db_name=chained_campaigns&query=""&page=0' target="_self">Chained campaigs</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='chained_requests2?db_name=chained_requests&query=""&page=0' target="_self">Chained requests</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a>{{user.name}} : {{user.role}}</a>
          </li>
        </ul>
      </div>
    </div> <!--END of navbar-->
    <div class="container">
      <div class="span12" style="overflow: auto">
       <div align="center"> A to-be create page for: {{dbName}} </div>
        <table class="table table-bordered table-stripped" style="margin-top: 30px;">
        <thead>
        </thead>
        <tbody>
          <tr ng-repeat="column in defaults">
            <th>
              {{column.text}}
            </th>
            <td>
              <ng-form name="antantasForm">
                <div ng-switch on="column.text" style="width: 400px;">
                    <div ng-switch-when="Approvals">
                    </div>
                    <div ng-switch-when="Sequences">
                    </div>
                    <div ng-switch-when="Processing String">
                    </div>
                    <div ng-switch-when="Comments">
                    </div>
                    <div ng-switch-when="Next">
                    </div>
                    <div ng-switch-when="Generators">
                    </div>
                    <div ng-switch-when="Pileup dataset name ">
                    </div>
                    <div ng-switch-when="Remarks">
<!--                         <textarea type="text" ng-model="result[0][column.db_name]" style="width: 390px; height: 160px; margin-bottom: 0px;"></textarea> -->
                        <ng-form name="fieldForm">
                          <div inline-editable ng-model="new[column.db_name]" ></div>
                          <font color="red" ng-show="fieldForm.$invalid">Bad JSON formatting</font>
                        </ng-form>
                    </div>
                    <div ng-switch-when="Submission details">
<!--                         <textarea type="text" ng-model="result[0][column.db_name]" style="width: 390px; height: 160px; margin-bottom: 0px;"></textarea> -->
                        <ng-form name="fieldForm">
                          <div inline-editable ng-model="new[0][column.db_name]" ></div>
                          <font color="red" ng-show="fieldForm.$invalid">Bad JSON formatting</font>
                        </ng-form>
                      <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in new[column.db_name]">
                        <dt>{{key}}</dt>
                        <dd>{{value}}</dd>                
                      </dl>
                    </div>
                    <div ng-switch-default style="width: 400px;">
                        <textarea type="text" ng-model="new[column.db_name]" style="width: 390px; height: 20px; margin-bottom: 0px;"></textarea>
                    </div>
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div class="span4" align="left">
          <input type="button" class="btn" ng-click="submit_create();" value="Commit" align="left"/>
        </div>
        <div class="span3">
          <div ng-show="update['success']">
            Updated. Status code:<font color="green">{{update['status_code']}}</font>
          </div>
          <div ng-show="update['fail']">
            Update failed. Status code:<font color="red">{{update['status_code']}}</font>
          </div>
        </div>
      </div><!-- span4-->
      </div><!-- span12-->
    </div><!-- container-->
  </body>
</html>