<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Edit</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/codemirror-3.11/lib/codemirror.css">
  <link rel="stylesheet" href="scripts/codemirror-3.11/theme/eclipse.css">
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="stylesheet" href="scripts/css/pdmv-development-ribbon.css">
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/codemirror-3.11/lib/codemirror-compressed.js"></script>
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/edit_controller.js"></script>

  <style type="text/css">
    .bs-docs-sidenav>li>a:hover {
      background-color: #F5F5F5;
    }

    .bs-docs-sidenav>li>a {
      border: 1px solid #E5E5E5;
      display: block;
      margin: 0 0 -1px;
      padding: 8px 14px;
    }

    .bs-docs-sidenav {
      background-color: #FFFFFF;
      border-radius: 6px 6px 6px 6px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
      margin: 30px 0 0;
      padding: 0;
    }

    table th {
      min-width: 150px;
    }
    input {
      margin: 0 !important;
      padding: 1px 4px;
    }
    input[type="text"] {
      width: 100%;
    }
    input[type="number"] {
      width: 50%;
      text-align: right;
    }
    select {
      width: 50%;
      height: 26px;
    }
    .table-cell-wrapper > div {
      display: flex;
    }
    .CodeMirror {
      height: fit-content;
      width: 100%;
      min-height: 75px;
    }
    .CodeMirror > .CodeMirror-scroll,
    .CodeMirror > .CodeMirror-scroll > .CodeMirror-gutters {
      min-height: 75px;
    }
    table.generator-parameters td {
      border: none;
      padding: 1px 20px 1px 0;
    }
    input.tt-hint {
      display: none !important;
    }
    span.twitter-typeahead {
      margin-top: 2px;
    }
  </style>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-include="'HTML/modals.html'"></div>
  <span ng-controller="editController">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12 bs-docs-sidebar ">
          <!--  sidebar span -->
          <ul class="nav nav-list bs-docs-sidenav" style="position: sticky; top: 20px">
            <li class="">
              <a ng-click="commitEdit()" title="Save {{prepid}}" ng-href="#">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Save
              </a>
            </li>
            <li class="">
              <a ng-href='{{database}}?prepid={{prepid}}' title="View {{prepid}}" target="_self">
                <i class="glyphicon glyphicon-eye-open"></i>
                View
              </a>
            </li>
            <li ng-show="user.is_production_manager && database != 'users'">
              <a ng-click="deleteEditableObject()" title="Delete {{prepid}}" ng-href="#">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
              </a>
            </li>
            <li>
              <a ng-show="update['success']">
                Updated. Status code: <font color="green">{{update['status_code']}}</font>
              </a>
              <a ng-show="update['fail']">
                Update failed. Message: <font color="red">{{update['message']}}</font>
              </a>
            </li>
            <li class="" ng-show="pendingHTTP">
              <a ng-click="" ng-href="#">
                <img ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif" />
                Pending {{ pendingHTTPLength }} HTTP request(-s)
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-8 col-sm-12 ">
          <table class="table table-bordered table-stripped" style="margin: 30px auto">
            <tbody>
              <tr ng-repeat="(attribute, editable) in editingInfo">
                <td style="text-transform: capitalize; white-space: nowrap;">
                  {{attribute.replaceAll('_', ' ')}}
                </td>
                <td style="width: 100%;">
                  <!-- <small style="font-family: monospace;">VALUE: {{editableObject[attribute]}} EDITABLE: {{editable}}</small> -->
                  <div ng-switch on="attribute" class="table-cell-wrapper">
                    <div ng-switch-when="events_per_lumi">
                      <div ng-if="database == 'campaigns'">
                        <label>Single core</label>
                        <input type="number"
                               ng-model="editableObject[attribute].singlecore"
                               ng-disabled="!editable">
                        <br>
                        <label>Multi core</label>
                        <input type="number"
                               ng-model="editableObject[attribute].multicore"
                               ng-disabled="!editable">
                      </div>
                      <div ng-if="database == 'requests'" style="width: 100%">
                        <edit-events-per-lumi style="width: 100%" ng-model="editableObject[attribute]" editable="editable"></edit-events-per-lumi>
                      </div>
                    </div>
                    <div ng-switch-when="generators">
                      <edit-list-with-suggestions ng-model="editableObject[attribute]"
                                                  style="display: flex; width: 100%"
                                                  editable="editable"
                                                  suggest-attribute="generators"
                                                  limit="20"></edit-list-with-suggestions>
                    </div>
                    <div ng-switch-when="cmssw_release">
                      <edit-attribute-with-suggestions ng-model="editableObject[attribute]"
                                                       style="display: flex; width: 100%"
                                                       editable="editable"
                                                       suggest-database="campaigns"
                                                       suggest-attribute="cmssw_release"
                                                       limit="20"></edit-attribute-with-suggestions>
                    </div>
                    <div ng-switch-when="keep_output">
                      <div ng-if="database == 'campaigns'">
                        <div ng-repeat="(name, values) in editableObject[attribute]">
                          {{name}}:
                          <ul>
                            <li ng-repeat="value in values track by $index">
                              {{sequenceName(editableObject.sequences[name], $index)}}
                              <input type="checkbox" ng-model="values[$index]" ng-disabled="!editable">
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div ng-if="database== 'requests'">
                        <ul>
                          <li ng-repeat="value in editableObject[attribute] track by $index">
                            {{sequenceName(editableObject.sequences, $index)}}
                            <input type="checkbox" ng-model="editableObject[attribute][$index]" ng-disabled="!editable">
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div ng-switch-when="notes">
                      <textarea style="display: flex; width: 100%;" ng-model="editableObject[attribute]" ng-disabled="!editable"></textarea>
                    </div>
                    <div ng-switch-when="sequences">
                      <edit-campaign-sequences ng-if="database == 'campaigns'" ng-model="editableObject[attribute]" disabled="!editable" campaign="editableObject"></edit-campaign-sequences>
                      <edit-request-sequences ng-if="database == 'requests'" ng-model="editableObject[attribute]" disabled="!editable" request="editableObject"></edit-request-sequences>
                    </div>
                    <div ng-switch-when="root">
                      <select ng-model="editableObject[attribute]" ng-disabled="!editable" convert-to-number>
                        <option value="0" ng-selected="editableObject[attribute] == 0">Yes</option>
                        <option value="-1" ng-selected="editableObject[attribute] == -1">Possible</option>
                        <option value="1" ng-selected="editableObject[attribute] == 1">No</option>
                      </select>
                    </div>
                    <div ng-switch-when="type">
                      <select ng-model="editableObject[attribute]" ng-disabled="!editable">
                        <option value="" disabled ng-selected="editableObject[attribute] == ''">Not selected</option>
                        <option value="LHE" ng-selected="editableObject[attribute] == 'LHE'">LHE</option>
                        <option value="Prod" ng-selected="editableObject[attribute] == 'Prod'">Prod</option>
                        <option value="MCReproc" ng-selected="editableObject[attribute] == 'MCReproc'">MCReproc</option>
                      </select>
                    </div>
                    <div ng-switch-when="allowed_campaigns">
                      <edit-list-with-suggestions ng-model="editableObject[attribute]"
                                                  style="display: flex; width: 100%"
                                                  editable="editable"
                                                  suggest-database="campaigns"
                                                  suggest-attribute="prepid"
                                                  limit="20"></edit-list-with-suggestions>
                    </div>
                    <div ng-switch-when="next_campaign">
                      <edit-attribute-with-suggestions ng-model="editableObject[attribute]"
                                                       style="display: flex; width: 100%"
                                                       editable="editable"
                                                       suggest-database="campaigns"
                                                       suggest-attribute="prepid"
                                                       limit="20"></edit-attribute-with-suggestions>
                    </div>
                    <div ng-switch-when="request_parameters">
                      <edit-request-parameters ng-model="editableObject[attribute]"
                                               style="width: 100%;"
                                               editable="editable"></edit-request-parameters>
                    </div>
                    <div ng-switch-when="process_string">
                      <edit-attribute-with-suggestions ng-model="editableObject[attribute]"
                                                       style="display: flex; width: 100%"
                                                       editable="editable"
                                                       suggest-attribute="process_string"
                                                       limit="20"></edit-attribute-with-suggestions>
                    </div>
                    <div ng-switch-when="interested_pwg">
                      <edit-list-pwgs editable="editable" ng-model="editableObject[attribute]"></edit-list-pwgs>
                    </div>
                    <div ng-switch-when="fragment">
                      <textarea class="fragment"
                                style="width: 100%; min-height: 50px;"
                                ng-model="editableObject[attribute]"></textarea>
                    </div>
                    <div ng-switch-when="extension">
                      <select class="input-mini" ng-disabled="!editable" ng-model="editableObject[attribute]" ng-options="key as key for key in [0,1,2,3,4,5]"></select>
                    </div>
                    <div ng-switch-when="mcdb_id">
                      <input type="number"
                             ng-model="editableObject[attribute]"
                             ng-disabled="!editable"
                             min="0"
                             max="100000">
                    </div>
                    <div ng-switch-when="size_event">
                      <ul ng-if="!editable">
                        <li ng-repeat="value in editableObject[attribute] track by $index">
                          {{sequenceName(editableObject.sequences, $index)}}: {{value}} kB
                        </li>
                      </ul>
                      <ul ng-if="editable">
                        <li ng-repeat="value in editableObject[attribute] track by $index" style="margin: 4px 0">
                          {{sequenceName(editableObject.sequences, $index)}}
                          <input type="number" style="width: auto;" ng-model="editableObject[attribute][$index]"> kB
                        </li>
                      </ul>
                    </div>
                    <div ng-switch-when="time_event">
                      <ul ng-if="!editable">
                        <li ng-repeat="value in editableObject[attribute] track by $index">
                          {{sequenceName(editableObject.sequences, $index)}}: {{value}} s
                        </li>
                      </ul>
                      <ul ng-if="editable">
                        <li ng-repeat="value in editableObject[attribute] track by $index" style="margin: 4px 0">
                          {{sequenceName(editableObject.sequences, $index)}}
                          <input type="number" style="width: auto;" ng-model="editableObject[attribute][$index]"> s
                        </li>
                      </ul>
                    </div>
                    <div ng-switch-when="generator_parameters">
                      <edit-generator-parameters editable="editable" ng-model="editableObject[attribute]"></edit-generator-parameters>
                    </div>
                    <div ng-switch-when="validation">
                      <edit-request-validation editable="editable" ng-model="editableObject[attribute]"></edit-request-validation>
                    </div>
                    <div ng-switch-when="tags">
                      <edit-list-with-suggestions ng-model="editableObject[attribute]"
                                                  style="display: flex; width: 100%"
                                                  editable="editable"
                                                  suggest-attribute="tags"
                                                  limit="20"></edit-list-with-suggestions>
                    </div>
                    <div ng-switch-when="chains">
                      <edit-mccm-chains editable="editable" style="width: 100%;" ng-model="editableObject[attribute]"></edit-mccm-chains>
                    </div>
                    <div ng-switch-when="requests">
                      <edit-mccm-requests editable="editable" style="width: 100%;" ng-model="editableObject[attribute]"></edit-mccm-requests>
                    </div>
                    <div ng-switch-when="block">
                      <select style="margin-bottom: 0;" ng-model="editableObject[attribute]" ng-disabled="!editable" convert-to-number>
                        <option value="0" ng-selected='result[column.db_name] == 0'>0 (not selected)</option>
                        <option value="1" ng-selected='result[column.db_name] == 1'>1 (110k)</option>
                        <option value="2" ng-selected='result[column.db_name] == 2'>2 (90k)</option>
                        <option value="3" ng-selected='result[column.db_name] == 3'>3 (85k)</option>
                        <option value="4" ng-selected='result[column.db_name] == 4'>4 (80k)</option>
                        <option value="5" ng-selected='result[column.db_name] == 5'>5 (70k)</option>
                        <option value="6" ng-selected='result[column.db_name] == 6'>6 (63k)</option>
                      </select>
                    </div>
                    <div ng-switch-when="repetitions">
                      <select style="margin-bottom: 0;"
                              ng-model="editableObject[attribute]"
                              ng-disabled="!editable"
                              ng-options="key as key for key in [1,2,3,4,5,6,7,8,9,10]"></select>
                    </div>
                    <div ng-switch-when="pwg">
                      <div ng-switch on="database">
                        <div ng-switch-when="users">
                          <edit-list-pwgs editable="editable" ng-model="editableObject[attribute]"></edit-list-pwgs>
                        </div>
                        <div ng-switch-default>
                          <input type="text"
                                 ng-model="editableObject[attribute]"
                                 ng-disabled="!editable">
                        </div>
                      </div>
                    </div>
                    <div ng-switch-when="role">
                      <select style="margin-bottom: 0;" ng-model="editableObject[attribute]" ng-disabled="!editable || !user.is_production_manager">
                        <option value="user" ng-selected='editableObject[attribute] == "user"'>User</option>
                        <option value="mc_contact" ng-selected='editableObject[attribute] == "mc_contact"'>MC contact</option>
                        <option value="generator_convener" ng-selected='editableObject[attribute] == "generator_convener"'>Generator convener</option>
                        <option value="production_manager" ng-selected='editableObject[attribute] == "production_manager"'>Production manager</option>
                        <option ng-if="user.is_production_expert" value="production_expert" ng-selected='editableObject[attribute] == "production_expert"'>Production expert</option>
                        <option ng-if="user.is_administrator" value="administrator" ng-selected='editableObject[attribute] == "administrator"'>Administrator</option>
                      </select>
                    </div>

                    <div ng-switch-when="Value">
                      <!-- <textarea type="text" ng-model="result[column.db_name]" style="width: 390px; height: 20px; margin-bottom: 0px;" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></textarea> -->
                      <ng-form name="fieldForm">
                        <div inline-editable ng-model="result[column.db_name]" column="column.text"></div>
                        <font color="red" ng-show="fieldForm.$invalid">Bad JSON formatting</font>
                      </ng-form>
                    </div>


                    <div ng-switch-default>
                      <input ng-if="attributeType(editableObject[attribute]) == 'boolean'"
                             type="checkbox"
                             ng-model="editableObject[attribute]"
                             ng-disabled="!editable">
                      <input ng-if="attributeType(editableObject[attribute]) == 'number'"
                             type="number"
                             ng-model="editableObject[attribute]"
                             ng-disabled="!editable">
                      <input ng-if="attributeType(editableObject[attribute]) == 'string'"
                             type="text"
                             ng-model="editableObject[attribute]"
                             ng-disabled="!editable">
                      <ul ng-if="attributeType(editableObject[attribute]) == 'array'">
                        <li ng-repeat="item in editableObject[attribute]">{{item}}</li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--END of span12-->
      </div>
    </div>
  </span>
</body>

</html>