<!DOCTYPE html>
<html lang="eng" ng-app="testApp"  xmlns:ng="http://angularjs.org" id="ng-app">
<head>
        <base href="/mcm/">
        <title>Edit page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/build/mcmcss.css" rel="stylesheet"/>

        <link href="scripts/codemirror-3.11/lib/codemirror.css" rel="stylesheet">
        <link href="scripts/codemirror-3.11/theme/eclipse.css" rel="stylesheet">

        <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
        <script type="text/javascript" src="scripts/build/mcm.deps2.js"></script>
        <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui','ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
        <![endif]-->
        <![if !IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui','ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
          </script>
        <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/edit.js"></script>
        <script src="scripts/edit_controller.js"></script>
        <!-- angularui is needed for codemirror -->
        <script src="scripts/codemirror-3.11/lib/codemirror-compressed.js"></script>
        <script src="scripts/angular-ui.min.js"></script>

        <style type="text/css">
        .bs-docs-sidenav > li > a:hover {
          background-color: #F5F5F5;
        }
        .bs-docs-sidenav > li > a {
          border: 1px solid #E5E5E5;
          display: block;
          margin: 0 0 -1px;
          padding: 8px 14px;
        }
        .bs-docs-sidenav {
          background-color: #FFFFFF;
          border-radius: 6px 6px 6px 6px;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
          margin: 30px 0 0;
          padding: 0;
          width: 228px;
        }
        .affix {
          position: fixed;
        }
        </style>

</head>
<body ng-controller="mainCtrl">
  <span ng-controller="resultCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <div class="container" ng-show="role(1);">
    <b>You have not enough permission to access this resource.</b>
  </div>
  <div class="container-fluid">
    <div class="span3 bs-docs-sidebar"> <!--  sidebar span -->
      <ul class="nav nav-list bs-docs-sidenav affix">
        <li class="" ng-hide="role(1);">
          <a ng-click="submit_edit()" ng-href="#">
            <i class="icon-chevron-right"></i>
            Commit
          </a>
        </li>
        <li class="">
          <a ng-href='{{dbName}}?prepid={{prepid}}' rel="tooltip" title="View {{dbName}} {{prepid}}" target="_self">
            <i class="icon-chevron-right"></i>
            View
          </a>
        </li>
        <li class="" ng-hide="role(3);">
          <a ng-click="delete_edit(result['prepid'])" ng-href="#">
            <i class="icon-chevron-right"></i>
            Delete
          </a>
        </li>
        <li>
          <a ng-show="update['success']">
            Updated. Status code: <font color="green">{{update['status_code']}}</font>
          </a>
          <a ng-show="update['fail']">
            Update failed. Message: <font color="red">{{update['message']}}</font>
          </a>
        </li>
        <li class="" ng-show="pendingHTTP">
          <a ng-click="delete_edit(result['prepid'])">
            <img ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
            Pending {{ pendingHTTPLenght }} HTTP request(-s)
          </a>
        </li>
      </ul>
    </div>
    <div class="span9" ng-hide="role(1);">
      <table class="table table-bordered table-stripped" style="margin-top: 30px;">
        <thead>
        </thead>
        <tbody>
          <tr ng-repeat="column in defaults">
            <th>
              {{column.text}} <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#{{dbName}}_{{column.db_name}}" rel="tooltip" title="Glossary for {{column.text}}"><i class="icon-question-sign"></i></a>
            </th>
            <td>
              <ng-form name="antantasForm">
                <div ng-switch on="column.text">
                    <div ng-switch-when="Sequences">
                      <div sequence-edit ng-model="result[column.db_name]"></div>
                    </div>
                    <div ng-switch-when="Notes">
                      <textarea ng-disabled="not_editable_list.indexOf(column.text)!=-1" ng-model="result[column.db_name]" style="width: 390px; height: 152px;"></textarea>
                    </div>
                    <div ng-switch-when="Submission details">
                      <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in result[column.db_name]">
                        <dt>{{key}}</dt>
                        <dd>{{value}}</dd>
                      </dl>
                    </div>
                    <div ng-switch-when="Block white list">
                      <list-edit ng-model="result[column.db_name]" column="column.text"></list-edit>
                    </div>
                    <div ng-switch-when="Block black list">
                      <list-edit ng-model="result[column.db_name]" column="column.text"></list-edit>
                    </div>
                    <div ng-switch-when="History">
                      <div custom-history ng-model="result[column.db_name]"></div>
                    </div>
                    <div ng-switch-when="Valid">
                      <input type="checkbox" ng-model="result[column.db_name]">
                    </div>
                    <div ng-switch-when="Validation">
                      <custom-validation-edit ng-model="result[column.db_name]"></custom-validation-edit>
                    </div>
                    <div ng-switch-when="Tags">
                      <tokenfield  show-autocomplete-on-focus="true" tokens="result[column.db_name]" allow-duplicates="false" before-create="addToken" on-remove="removeToken" type-ahead="{'name':'request_tags', 'prefetch':{'url': 'restapi/tags/get_all',ttl:10,'filter': '(function(data){return data.tags;})'}}"/>
                    </div>
                    <div ng-switch-when="Request parameters" ng-controller="ModalDemoCtrl">
                      <ng-form name="fieldForm" id="fieldForm">
                        <a class="btn btn-small" href="#" ng-click="update();">
                          <i class="icon-refresh"></i>
                        </a>
                        <a class="btn btn-small btn-info text-uppercase" ng-click="openRequestParametersModal()" href="#">Edit</a>
                        <span class="badge badge-important" ng-show="fieldForm.$invalid">Bad JSON formatting</span>
                        <span class="badge badge-success" ng-show="!fieldForm.$invalid">Valid JSON formatting</span>
                        <div inline-editable ng-model="result[column.db_name]" column="column.text"></div>
                      </ng-form>
                    </div>
                    <div ng-switch-when="Reqmgr name">
                      <ng-form name="fieldForm">
                        <div inline-editable ng-model="result[column.db_name]" column="column.text"></div>
                        <font color="red" ng-show="fieldForm.$invalid">Bad JSON formatting</font>
                      </ng-form>
                    </div>
                    <div ng-switch-when="Generator parameters">
                      <div generator-params ng-model="result[column.db_name]"></div>
                    </div>
                    <div ng-switch-when="Fragment">
                      <span ng-switch on="not_editable_list.indexOf(column.text)!=-1">
                        <span ng-switch-when="true">
                          <textarea ui-codemirror="{ theme:'eclipse', readOnly:true}" ui-refresh=true ng-model="result[column.db_name]"></textarea>
                        </span>
                        <span ng-switch-when="false">
                          <textarea ui-codemirror="{ theme:'eclipse', readOnly:false}" ui-refresh=true ng-model="result[column.db_name]"></textarea>
                        </span>
                      </span>
                    </div>
                    <div ng-switch-when="Keep output">
                      <ul ng-repeat="elem in result[column.db_name] track by $index">
                        <li>
                          Step {{ $index +1 }}:
                          <input type="checkbox" ng-model="result[column.db_name][$index]" ng-disabled="not_editable_list.indexOf(column.text)!=-1">
                        </li>
                      </ul>
                    </div>
                    <div ng-switch-when="Extension">
                      <select class="input-mini" ng-disabled="not_editable_list.indexOf(column.text)!=-1" ng-model="result[column.db_name]" ng-options="key as key for key in [0,1,2,3,4,5]"></select>
                    </div>
                    <div ng-switch-when="Allowed campaigns">
                      <div select-campaign ng-model="result[column.db_name]"></div>
                    </div>
                    <div ng-switch-when="Pwg">
                      <div ng-switch on="dbName">
                        <div ng-switch-when="users">
                          <ul ng-repeat="elem in result[column.db_name]">
                            <li>
                              {{elem}} <a ng-click="removeUserPWG(elem);"><i class="icon-remove-sign"></i></a>
                            </li>
                          </ul>
                          <a ng-click="showAddUserPWG();"><i class="icon-plus" ng-hide="showSelectPWG"></i></a>
                          <select ng-model="selectedPWG" ng-change="addUserPWG(selectedPWG);" ng-options="value for value in all_pwgs" ng-show="showSelectPWG"></select>
                        </div>
                        <div ng-switch-default>
                          <textarea type="text" ng-model="result[column.db_name]" style="width: 390px; height: 20px; margin-bottom: 0px;" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></textarea>
                        </div>
                      </div>
                    </div>
                    <div ng-switch-when="Next campaign">
                      <select ng-model="result[column.db_name]" ng-options="value for value in allCampaigns"></select>
                    </div>
                    <div ng-switch-when="Announced">
                      <input type="checkbox" ng-model="result[column.db_name]">
                    </div>
                    <div ng-switch-when="Text">
                      <textarea ng-model="result[column.db_name]" style="width: 639px; height: 236px;"></textarea>
                    </div>
                    <div ng-switch-when="Analysis id">
                      <list-edit ng-model="result[column.db_name]" column="column.text"></list-edit>
                    </div>
                    <div ng-switch-when="Generators">
                      <list-edit ng-model="result[column.db_name]" column="column.text" suggestions-fieldname="generators"></list-edit>
                    </div>
                    <div ng-switch-when="Type">
                      <select ng-model="result[column.db_name]" ng-disabled="not_editable_list.indexOf(column.text)!=-1">
                        <option ng-repeat="elem in type_list" ng-selected="elem == result[column.db_name]">{{elem}}</option>
                      </select>
                    </div>
                    <div ng-switch-when="Root">
                      <select ng-model="result[column.db_name]" ng-disabled="not_editable_list.indexOf(column.text)!=-1">
                        <option value="0" ng-selected="result[column.db_name] == 0">Yes</option>
                        <option value="-1" ng-selected="result[column.db_name] == -1">Possible</option>
                        <option value="1" ng-selected="result[column.db_name] == 1">No</option>
                      </select>
                    </div>
                    <div ng-switch-when="Requests">
                      <custom-requests-edit ng-model="result[column.db_name]"></custom-requests-edit>
                    </div>
                    <div ng-switch-when="Action parameters">
                      <custom-action-parameters ng-model="result[column.db_name]"></custom-action-parameters >
                    </div>
                    <div ng-switch-when="Memory">
                      <textarea type="text" ng-model="result[column.db_name]" style="width: 390px; height: 20px; margin-bottom: 0px;" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></textarea>
                      <a class="label label-info" rel="tooltip" title="megabytes" ng-href="#">MB</a>
                    </div>
                    <div ng-switch-when="Size event">
                      <size-event-edit ng-model="result[column.db_name]" column="column.text"></size-event-edit>
                    </div>
                    <div ng-switch-when="Time event">
                      <time-event-edit ng-model="result[column.db_name]" column="column.text"></time-event-edit>
                    </div>
                    <div ng-switch-when="Chains"><!-- custom chains editor for mccm's -->
                      <custom-mccm-chains ng-model="result[column.db_name]"></custom-mccm-chains>
                    </div>
                    <div ng-switch-when="Value">
                      <!-- <textarea type="text" ng-model="result[column.db_name]" style="width: 390px; height: 20px; margin-bottom: 0px;" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></textarea> -->
                      <ng-form name="fieldForm">
                        <div inline-editable ng-model="result[column.db_name]" column="column.text"></div>
                        <font color="red" ng-show="fieldForm.$invalid">Bad JSON formatting</font>
                      </ng-form>
                    </div>
                    <div ng-switch-when="Events per lumi">
                      <ng-form name="fieldForm">
                        <div inline-editable ng-model="result[column.db_name]" column="column.text"></div>
                        <font color="red" ng-show="fieldForm.$invalid">Bad JSON formatting</font>
                      </ng-form>
                    </div>
                    <div ng-switch-when="Interested pwg">
                      <list-predefined ng-model="result[column.db_name]" column="column.text" suggestions-fieldname="pwg" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></list-predefined>
                    </div>
                    <div ng-switch-when="Ppd tags">
                      <list-predefined ng-model="result[column.db_name]" column="column.text" suggestions-fieldname="ppd_tags" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></list-predefined>
                    </div>
                    <div ng-switch-when="Chain type">
                      <button class="btn btn-info"
                      ng-click="result[column.db_name] = result[column.db_name] === 'TaskChain' ? 'StepChain' : 'TaskChain'">
                      {{result[column.db_name]}}
                      </button>
                    </div>
                    <div ng-switch-when="Transient output modules">
                      <ul ng-repeat="elem in result[column.db_name] track by $index">
                        <li>
                          Sequence {{ $index +1 }}:
                          <list-edit ng-model="result[column.db_name][$index]" column="column.text" suggestions-fieldname="transient_output_modules" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></list-edit>
                        </li>
                      </ul>
                    </div>
                    <div ng-switch-when="Do not check cmssw versions">
                      <input type="checkbox" ng-model="result[column.db_name]">
                    </div>
                    <div ng-switch-default style="width: 400px;">
                      <div ng-switch on="underscore.isBoolean(result[column.db_name])">
                        <div ng-switch-when="true">
                          <input type="checkbox" ng-model="result[column.db_name]" ng-disabled="not_editable_list.indexOf(column.text)!=-1">
                        </div>
                        <div ng-switch-default>
                          <textarea type="text" ng-model="result[column.db_name]" style="width: 390px; height: 20px; margin-bottom: 0px;" ng-disabled="not_editable_list.indexOf(column.text)!=-1"></textarea>
                        </div>
                      </div>
                    </div>
                </div>
              </ng-form>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--END of span12-->
  </div>
</span>
</body>
</html>
