<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Flows page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="scripts/css/mcm.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/jquery/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.8.0.min.js"></script>
         <!--[IF IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
           </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/flows_controller.js"></script>
  </head> 

  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div style='margin-bottom: 5px' class="container">
        <select-well ng-if="selectionReady" database="{{dbName}}" selection="flows_defaults"></select-well>
    </div>
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in flows_defaults" ng-if="column.select" ng-switch on="column.text" style="white-space: nowrap;">
	    <div ng-switch-when="Actions">
	      {{column.text}}
	    </div>
	    <div ng-switch-default>
	      {{column.text}} <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#flows_{{column.db_name}}" rel="tooltip" title="Glossary for {{column.text}}"><i class="icon-question-sign"></i></a>
	    </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="value in flows_defaults" ng-if="value.select" style="white-space: nowrap;">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-click='delete_object("flows", data.prepid)' rel="tooltip" title="Delete flow" ng-hide="role(4);">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-href='chained_campaigns?contains={{data.prepid}}' rel="tooltip" title="Show chained campaigns using {{data.prepid}}" target="_self">
                  <i class="icon-align-right"></i>
                </a>
                <a ng-href='requests?flown_with={{data.prepid}}' rel="tooltip" title="Show requests created with {{data.prepid}}" target="_self">
                  <i class="icon-folder-open"></i>
                </a>
                <a ng-href="edit?db_name=flows&prepid={{data.prepid}}" rel="tooltip" title="Edit details" target="_self" ng-hide="role(3);">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-href="/pmp/present?r={{data.prepid}}" rel="tooltip"
                   title="View announced statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-picture"></i>
                </a>
                <a ng-href="/pmp/present?m=true&r={{data.prepid}}" rel="tooltip"
                   title="View growing statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-film"></i>
                </a>
                <a ng-href="/pmp/historical?r={{data.prepid}}" rel="tooltip"
                   title="View historical statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-facetime-video"></i>
                </a> 
                <a ng-click="reset_flow(data.prepid)" rel="tooltip" title="Reset" target="_self" ng-hide="role(3);">
                  <i class="icon-repeat"></i>
                </a>
                <a ng-click="next_step(data.prepid)" rel="tooltip" title="Next step" target="_self" ng-hide="role(3);">
                  <i class="icon-chevron-right"></i>
                </a>
              </div>
	      <div ng-switch-when="PrepId">
                <a ng-href='flows?prepid={{data[value.db_name]}}&page=0' rel="tooltip" title="View only {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}<i class="icon-magnet"></i></a>
		            <a ng-href="admin/_utils/document.html?flows/{{data[value.db_name]}}" rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="Approval" align="center">
                <i class="{{approvalIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
		            <a ng-href='flows?approval={{data[value.db_name]}}&page=0' rel="tooltip" title="Show all flows in approval {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Allowed Campaigns">
                <ul>
                  <li ng-repeat="value in data[value.db_name]">
                    <a ng-href='flows?allowed_campaigns={{value}}' rel="tooltip" title="View flows starting from {{value}}" target="_self">{{value}}<i class="icon-magnet"></i></a>
                    <a ng-href='campaigns?prepid={{value}}' rel="tooltip" title="View details of the campaign" target="_self"><i class="icon-book"></i></a>
		              </li>
                </ul>
              </div>
              <div ng-switch-when="Next Campaign">
                <a ng-href='flows?next_campaign={{data[value.db_name]}}' rel="tooltip" title="View flows going into {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}<i class="icon-magnet"></i></a>
                <a ng-href='campaigns?prepid={{data[value.db_name]}}' rel="tooltip" title="View details of the campaign" target="_self"><i class="icon-book"></i></a>
              </div>
              <div ng-switch-when="Submission details">
                <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in data[value.db_name]">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>
                </dl>
              </div>
	      <div ng-switch-when="Notes">
		<div style="width:400px"><pre>{{data[value.db_name]}}</pre></div>
	      </div>
               <div ng-switch-when="Request parameters">
                <ul>
                  <li ng-repeat="(key, param) in data[value.db_name]">
                    <div ng-switch on="key">
                    <div ng-switch-when="sequences">
                      {{key}}
                      <ul ng-repeat="el in param">
                        <div ng-switch on="underscore.size(el)">
                          <div ng-switch-when="1">
                            <li>Default</li>
                          </div>
                          <div ng-switch-default>
                            <li ng-repeat="(sequence,variable) in el">
                             {{sequence}}
                              <ul>
                                 <li ng-repeat="(x, y) in variable">{{x}} : {{y}}</li>
                              </ul>
                            </li>
                          </div>
                        </div>
                      </ul>
                    </div>
                    <div ng-switch-default>
                      {{key}} : {{param}}
                    </div>
                  </div>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-default>{{data[value.db_name]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span5" style="margin-top:20px;">
    <!--     MODAL -->
          <div ng-controller="ModalDemoCtrl">
            <input type="button" class="btn" ng-click="open()" value="Create new flow" ng-hide="role(3);" align="left"/>
            <script type="text/ng-template" id="flowCreateModal.html">
              <div class="modal-header">
                <h4>Create a flow</h4>
              </div>  <!--end of modal header-->
              <div class="modal-body">
                  Flow name: <input type="text" ng-model="flow.flowId"/>
              </div> <!--end of modal body-->
              <div class="modal-footer">
                <font color="red" ng-if="flow.flowId.indexOf('_') != -1">Flow name should not have "_" in it</font>
                <button class="btn btn-success" ng-click="save()" ng-disabled="flow.flowId.indexOf('_') != -1">Create</button>
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
              </div> <!--end of modal footer-->
            </script>
          </div> <!--end of modalControler DIV-->
    <!--     END OF MODAL  -->
      </div>
    </div>
  </span>
  </body>
</html>
