<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Flows</title>
  <base href="/mcm/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet" />
  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  <script type="text/javascript">
    var testApp = angular.module('testApp', ['ui.bootstrap']).config(function ($locationProvider) { $locationProvider.html5Mode(true); });
  </script>
  <script src="scripts/main_controller.js"></script>
  <script src="scripts/flows_controller.js"></script>
  <script src="scripts/snow.js"></script>
</head>

<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <span ng-controller="resultsCtrl">
    <div style='margin-bottom: 5px' class="container">
      <select-well ng-if="selectionReady" database="{{dbName}}" selection="columns"></select-well>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns"
              ng-if="column.select"
              style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='flows?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv-prod.web.cern.ch/mcm/admin/_utils/#database/flows/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-hide="role(4) || isDevMachine();"><i class="icon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.web.cern.ch/mcm/admin/_utils/#database/flows/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-hide="role(4) || !isDevMachine();"><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-href='edit?db_name=flows&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-hide="role(3);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-click='deletePrompt(data.prepid)' rel="tooltip" title="Delete flow" ng-hide="role(3);" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-click="openCloneItemModal('flows', data.prepid)" title="Clone flow" ng-hide="role(1);" ng-href="#">
                  <i class="icon-share-alt"></i>
                </a>
                <a ng-click="nextApproval(data.prepid)" rel="tooltip" title="Next approval" ng-hide="role(3);" ng-href="#">
                  <i class="icon-chevron-right"></i>
                </a>
                <a ng-href='chained_campaigns?contains={{data.prepid}}' rel="tooltip" title="Show chained campaigns using {{data.prepid}}">
                  <i class="icon-align-right"></i>
                </a>
                <a ng-href='requests?flown_with={{data.prepid}}' rel="tooltip" title="Show requests created with {{data.prepid}}">
                  <i class="icon-folder-open"></i>
                </a>
              </div>
              <div ng-switch-when="approval" align="center">
                <i class="{{approvalIcon(data[column.db_name])}}" rel="tooltip" title="{{data[column.db_name]}}"></i>
                <a ng-href='flows?approval={{data[column.db_name]}}&page=0' rel="tooltip" title="Show all flows in approval {{data[column.db_name]}}">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="allowed_campaigns">
                <ul>
                  <li ng-repeat="campaign_id in data[column.db_name]">
                    <a ng-href='flows?allowed_campaigns={{campaign_id}}' rel="tooltip" title="View flows starting from {{campaign_id}}">{{campaign_id}}<i class="icon-magnet"></i></a>
                    <a ng-href='campaigns?prepid={{campaign_id}}' rel="tooltip" title="View details of the campaign"><i class="icon-book"></i></a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="next_campaign">
                <a ng-href='flows?next_campaign={{data[column.db_name]}}' rel="tooltip" title="View flows going into {{data[column.db_name]}}">{{data[column.db_name]}}<i class="icon-magnet"></i></a>
                <a ng-href='campaigns?prepid={{data[column.db_name]}}' rel="tooltip" title="View details of the campaign"><i class="icon-book"></i></a>
              </div>
              <div ng-switch-when="notes">
                <div style="width:400px">
                  <pre class="notes">{{data[column.db_name]}}</pre>
                </div>
              </div>
              <div ng-switch-when="request_parameters">
                <ul>
                  <li ng-repeat="(key, param) in data[column.db_name]">
                    <div ng-switch on="key">
                      <div ng-switch-when="sequences">
                        {{key}}
                        <ul ng-repeat="el in param">
                          <div ng-switch on="underscore.size(el)">
                            <li ng-repeat="(sequence, variable) in el">
                              {{sequence}}
                              <ul>
                                <li ng-repeat="(x, y) in variable">{{x}} : {{y}}</li>
                              </ul>
                            </li>
                          </div>
                        </ul>
                      </div>
                      <div ng-switch-default>
                        {{key}} : {{param}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-default>
                <a ng-href='flows?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all flows where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span4">
        <input type="button"
                class="btn"
                ng-click="openCreateItemModal(dbName)"
                value="Create new flow"
                ng-hide="role(1);"
                align="left"/>
      </div>
    </div>
  </span>
</body>

</html>