<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM</title>
  <base href="/mcm/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet" />
  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  <script type="text/javascript">
    const testApp = angular.module('testApp', ['ui.bootstrap']).config(function ($locationProvider) { $locationProvider.html5Mode(true); });
  </script>
  <script src="scripts/main_controller.js"></script>
  <script src="scripts/index_controller.js"></script>
  <script src="scripts/snow.js"></script>
  <style>
    .main-search-row {
      display: block;
      margin: 8px;
      text-align: right;
    }

    .main-search-row>* {
      display: inline-block;
    }

    .main-search-row>ul {
      text-align: left;
    }

    .main-search-row>label {
      margin-right: 4px;
    }
  </style>
</head>

<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <div class="container">
    <div align="middle">
      <h2>McM Home page</h2>
      Welcome to the McM Monte-Carlo Request Management
      <p> Brought to you by <a href="https://cms-pdmv-prod.web.cern.ch/">PdmV</a></p>
      <p> Up since {{start_time}}</p>
    </div>
  </div>
  <!--End of container -->
  <div class="container">
    <div ng-controller="resultsCtrl" style="text-align: center;">
      <form style="display: inline-block;">
        <h4>Request search</h4>
        <div class="main-search-row">
          <label for="requestSearchField">...by PrepID</label>
          <input type="text" id="requestSearchField" ng-model="searchForm.prepid" class="input-large"
            typeahead="prepid for prepid in preloadPrepids($viewValue, 'requests')">
        </div>
        <div class="main-search-row">
          <label for="datasetSearchField">...by dataset name</label>
          <input type="text" id="datasetSearchField" ng-model="searchForm.dataset" class="input-large"
            typeahead="dataset for dataset in preloadUniques($viewValue, 'dataset_name')">
        </div>
        <div class="main-search-row">
          <label for="tagsSearchField">...by tags</label>
          <input type="text" id="tagsSearchField" ng-model="searchForm.tags" class="input-large"
            typeahead="tag for tag in preloadUniques($viewValue, 'tags')">
        </div>
        <button ng-click="searchRequests()" class="btn btn-medium">Search</button>
        <h4>MccM ticket search</h4>
        <div class="main-search-row">
          <label for="ticketSearchField">...by PrepID</label>
          <input type="text" id="ticketSearchField" ng-model="searchForm.ticket" class="input-large"
            typeahead="prepid for prepid in preloadPrepids($viewValue, 'mccms')">
        </div>
        <button ng-click="searchTickets()" class="btn btn-medium">Search</button>
      </form>
    </div>
  </div>
  <!--End of container-->

</body>