<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/pdmv-development-ribbon.css">
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/index_controller.js"></script>
  <style>
    table {
      margin: 8px auto;
    }
    td {
      padding: 8px;
    }
    h4 {
      margin-top: 20px;
    }
    img.mcm-logo {
      transition: transform .4s ease-in-out;
    }
    img.mcm-logo:hover {
      transform: rotate(360deg);
    }
  </style>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-controller="indexController" style="text-align: center;">
    <div class="container">
      <div align="middle">
        <img class="mcm-logo" src="scripts/img/mcm.png" alt="McM"/>
        <br>
        Welcome to the Monte Carlo Request Management
        <p>Brought to you by <a href="https://cms-pdmv.cern.ch/">PdmV</a></p>
        <p>Up since {{start_time}}</p>
      </div>
    </div>
    <div class="container">
      <h4>Request search</h4>
      <table>
        <tr>
          <td style="text-align: right">by PrepID</td>
          <td>
            <input type="text"
                   ng-model="requestPrepid"
                   class="form-control"
                   typeahead-on-select="openItem('requests', 'prepid', $item)"
                   uib-typeahead="s for s in loadSuggestions('requests', 'prepid', $viewValue)">
          </td>
        </tr>
        <tr>
          <td style="text-align: right">by dataset name</td>
          <td>
            <input type="text"
                   ng-model="requestDataset"
                   class="form-control"
                   typeahead-on-select="openItem('requests', 'dataset_name', $item)"
                   uib-typeahead="s for s in loadSuggestions('requests', 'dataset_name', $viewValue)">
          </td>
        </tr>
        <tr>
          <td style="text-align: right">by tag</td>
          <td>
            <input type="text"
                   ng-model="requestTag"
                   class="form-control"
                   typeahead-on-select="openItem('requests', 'tags', $item)"
                   uib-typeahead="s for s in loadSuggestions('requests', 'tags', $viewValue)">
          </td>
        </tr>
      </table>
      <button ng-click="searchRequests()" class="btn btn-medium">Search</button>
      <h4>MccM ticket search</h4>
      <table>
        <tr>
          <td style="text-align: right">by PrepID</td>
          <td>
            <input type="text"
                   ng-model="mccmPrepid"
                   class="form-control"
                   typeahead-on-select="openItem('mccms', 'prepid', $item)"
                   uib-typeahead="s for s in loadSuggestions('mccms', 'prepid', $viewValue)">
          </td>
        </tr>
      </table>
      <button ng-click="searchTickets()" class="btn btn-medium">Search</button>
    </div>
  </div>
</body>