<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
<head>
  <title>McM</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet"/>

  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  
  <!--[IF IE]>
    <script type="text/javascript">
      var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
    </script>
  <![endif]-->
  <![if !IE]>
    <script type="text/javascript">
      var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
    </script>
  <![endif]>

<script src="scripts/main_controller.js"></script>
<script src="scripts/index_controller.js"></script>
<script src="scripts/notifications.js"></script>
</head>
<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <div class="container" >
    <span ng-controller="resultsCtrl">
      <tabs>
        <pane heading="Navigation" active="is_navigation_active">
          <form class="form-inline">
            <span >
              <label style="width: 80px">Request</label>
              <input type="text" ng-model="form_data.request" style="margin-right: 50px" type="text" class="input-large" typeahead="prepid for prepid in preloadPrepids($viewValue, 'requests')">
            </span>
            <span class="control-group navigation-form">
              <label style="width: 100px">Dataset name</label>
              <input type="text" ng-model="form_data.dataset" style="margin-right: 50px" type="text" class="input-large" typeahead="dataset for dataset in preloadUniques($viewValue, 'dataset_name')">
            </span>
            <span class="control-group navigation-form">
              <label style="width: 95px">Request tags</label>
              <input type="text" ng-model="form_data.tags" type="text" class="input-large" typeahead="tag for tag in preloadUniques($viewValue, 'tags')">
            </span>
            <br><br>
            <span class="control-group navigation-form">
              <label style="width: 80px">Mccm ticket</label>
              <input type="text" ng-model="form_data.ticket" style="margin-right: 225px" type="text" class="input-large" typeahead="prepid for prepid in preloadPrepids($viewValue, 'mccms')">
            </span>
            <button ng-click="redirect()" class="btn btn-medium">Search</button>
          </form>
        </pane>
      </tabs>
    </span>
  </div><!--End of container-->
  <div class="container">
    <div align="middle">
      <h2>McM Home page</h2>
      <p> Updated to use HTML5 links: exclude <b>#</b> from URL's </p>
      Welcome to the McM Monte-Carlo Request Management
      <p> Brought to you by <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmV">PdmV</a></p>
      <p> Current McM version is <a href="https://github.com/cms-PdmV/cmsPdmV/tree/{{mcm_revision}}/mcm"> {{mcm_revision}}</a></p>
      <p> <a href="https://github.com/cms-PdmV/cmsPdmV/compare/{{mcm_revision}}...master"> Upcoming developments </a></p>
      <p> Up since {{start_time}}</p>
    </div>
  </div><!--End of container -->
</body>
