<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <base href="/mcm/">
        <title>Invalidations page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/build/mcmcss.css" rel="stylesheet"/>

        <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
        <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
        <![endif]-->
        <![if !IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
          </script>
        <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/invalidations_controller.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div style='margin-bottom: 5px' class="container">
        <select-well ng-if="selectionReady" database="{{dbName}}" selection="dataColumns"></select-well>
    </div>
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in dataColumns" ng-if="column.select" ng-switch on="column.text">
            <div ng-switch-when="Actions">
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              </div>
              <div ng-switch-default>
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invalidations_info in result | orderBy:sort.column: sort.descending">
          <td ng-repeat="data in dataColumns" ng-if="data.select" style="white-space: nowrap;">
            <div ng-switch on="data.text">
              <div ng-switch-when="Object">
                <!--<a ng-href='invalidations?object={{invalidations_info[data.db_name]}}' target="_self" rel="tooltip" title="View only invalidation {{invalidations_info[data.db_name]}}">{{invalidations_info[data.db_name]}}</a>-->
                <a ng-show="invalidations_info.type=='dataset'" ng-href='https://cmsweb.cern.ch/das/request?input={{invalidations_info[data.db_name]}}'  rel="tooltip" title="View dataset in DAS" target="_self" >{{invalidations_info[data.db_name]}}</a>
                <a ng-show="invalidations_info.type=='request' && isDevMachine();" ng-href='https://cmsweb-testbed.cern.ch/reqmgr2/fetch?rid={{invalidations_info[data.db_name]}}' rel="tooltip" title="View request details" target="_self" >{{invalidations_info[data.db_name]}}</a>
                <a ng-show="invalidations_info.type=='request' && !isDevMachine();" ng-href='https://cmsweb.cern.ch/reqmgr2/fetch?rid={{invalidations_info[data.db_name]}}' rel="tooltip" title="View request details" target="_self" >{{invalidations_info[data.db_name]}}</a>
                <a ng-href="admin/_utils/document.html?invalidations/{{objectToId(invalidations_info[data.db_name])}}" rel="tooltip" title="Admin view of {{invalidations_info[data.db_name]}}" ng-hide="role(4);" target="_self" ><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="Actions">
                <a rel="tooltip" title="Remove invalidation" ng-click="delete(invalidations_info['_id']);" ng-hide="role(4);" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <a rel="tooltip" title="Edit invalidation" ng-href="edit?db_name=invalidations&prepid={{objectToId(invalidations_info['object'])}}" ng-hide="role(2);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <a rel="tooltip" title="Clear invalidation" ng-click="do_action(invalidations_info['_id'], 'clear');" ng-hide="role(3);" ng-href="#">
                  <i class="icon-fire"></i>
                </a>
                <a rel="tooltip" title="Announce invalidation" ng-click="do_action(invalidations_info['_id'], 'announce');" ng-hide="role(3);" ng-href="#">
                  <i class="icon-bullhorn"></i>
                </a>
                <a rel="tooltip" title="Hold invalidation" ng-click="do_action(invalidations_info['_id'], 'new_to_hold');" ng-hide="role(3);" ng-if="invalidations_info['status'] == 'new'" ng-href="#">
                  <i class="icon-time"></i>
                </a>
                <a rel="tooltip" title="Move hold invalidation back to new" ng-click="do_action(invalidations_info['_id'], 'hold_to_new');" ng-hide="role(3);" ng-if="invalidations_info['status'] == 'hold'" ng-href="#">
                  <i class="icon-hand-left"></i>
                </a>
                <input type="checkbox" ng-click="add_to_selected_list(invalidations_info['_id'])" ng-checked="selected_objects.indexOf(invalidations_info['_id']) != -1">
              </div>
              <div ng-switch-when="Type">
                <a ng-href='invalidations?type={{invalidations_info[data.db_name]}}' rel="tooltip" title="View invalidations with type {{invalidations_info[data.db_name]}}" target="_self"> {{invalidations_info[data.db_name]}}</a>
              </div>
	            <div ng-switch-when="Status">
                <a ng-href='invalidations?status={{invalidations_info[data.db_name]}}' rel="tooltip" title="View invalidations with status {{invalidations_info[data.db_name]}}" target="_self"> {{invalidations_info[data.db_name]}}</a>
	            </div>
              <div ng-switch-when="Prepid">
                <a ng-href='requests?prepid={{invalidations_info[data.db_name]}}' target="_self" ng-hfre="#">{{invalidations_info[data.db_name]}}</a>
              </div>
              <div ng-switch-default>
                {{invalidations_info[data.db_name]}}
              </div>
      	    </div>
      	  </td>
      	</tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span5" style="margin-top:20px;">
        <span>
          Multiple selection buttons
          <a ng-click="do_action(selected_objects, 'clear');" rel="tooltip" ng-hide="role(3);" title="Clear selected invalidations" ng-href="#">
            <i class="icon-fire"></i>
          </a>
          <a ng-click="do_action(selected_objects, 'announce');" rel="tooltip" ng-hide="role(3);" title="Announce selected invalidations" ng-href="#">
            <i class="icon-bullhorn"></i>
          </a>
          <a ng-click="do_action(selected_objects, 'new_to_hold');" rel="tooltip" ng-hide="role(3);" title="Hold selected invalidations" ng-href="#">
            <i class="icon-time"></i>
          </a>
          <a ng-click="do_action(selected_objects, 'hold_to_new');" rel="tooltip" ng-hide="role(3);" title="Move selected HOLD invalidations to new" ng-href="#">
            <i class="icon-hand-left"></i>
          </a>
          <input type="checkbox" value="ToggleAll" ng-click="toggleAll()" rel="tooltip" title="Toggle select all" style="margin-bottom: 8px;" ng-checked="result.length == selected_objects.length">
        </span>
      </div>
    </div>
  </span>
  </body>
</html>
