<!DOCTYPE html>
<html lang="eng" ng-app="mcmApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Invalidations</title>
  <base href="/mcm/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/css/mcm.css" />
  <link rel="stylesheet" href="scripts/css/pdmv-development-ribbon.css">
  <link rel="shortcut icon" type="image/x-icon" href="scripts/img/mcm.png">
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/bootstrap.js"></script>
  <script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.5.0.js"></script>
  <script type="text/javascript" src="scripts/main_controller.js"></script>
  <script type="text/javascript" src="scripts/invalidations_controller.js"></script>
</head>

<body ng-controller="mainController">
  <div ng-include="'HTML/navbar.html'"></div>
  <div ng-include="'HTML/modals.html'"></div>
  <div ng-controller="invalidationController">
    <div class="container">
      <column-select update-query="updateQuery" columns="columns" ng-if="!initialGetData && result.length"></column-select>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="object">
                <a ng-href='{{database}}?object={{data._id}}' title="Show only {{data._id}}">{{data._id}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data._id}}"
                   title="Database entry of {{data._id}}"
                   ng-show="user.is_administrator && !isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/{{database}}/{{data._id}}"
                   title="Database entry of {{data._id}}"
                   ng-show="user.is_administrator && isDevMachine();"
                   target="_blank"><i class="glyphicon glyphicon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-click='deleteObject(data._id)' title="Delete invalidation" ng-show="user.is_production_manager && data.status == 'new'" ng-href="#">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a ng-click='announce(data._id)' title="Announce invalidation" ng-show="user.is_production_manager && data.status == 'new'" ng-href="#">
                  <i class="glyphicon glyphicon-volume-up"></i>
                </a>
                <a ng-click='unannounce(data._id)' title="Move invalidation back to new" ng-show="user.is_production_manager && data.status == 'announced'" ng-href="#">
                  <i class="glyphicon glyphicon-volume-off"></i>
                </a>
                <input type="checkbox" ng-click="toggleSelection(data.prepid)" ng-checked="selectedItems.includes(data.prepid)">
                <span ng-show="actionMessage[data.prepid] == 'OK'" style="color: green">{{actionMessage[data.prepid]}}</span>
                <img ng-show="actionMessage[data.prepid] == 'loading'" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <span ng-show="actionMessage[data.prepid] != 'OK' && actionMessage[data.prepid] != 'loading'" style="color: red">{{actionMessage[data.prepid]}}</span>
              </div>
              <div ng-switch-when="prepid">
                <a ng-href='invalidations?prepid={{data[column.db_name]}}' title="Show all invalidations for {{data[column.db_name]}}">{{data[column.db_name]}}</a>
                <a ng-href='requests?prepid={{data.prepid}}' title="Show {{data[column.db_name]}}" target="_self"><i class="glyphicon glyphicon-folder-open"></i></a>
              </div>
              <div ng-switch-default>
                <a ng-href='{{database}}?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all {{database.replace('_', ' ')}} where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="custom-footer">
      <div>
        <span>
          Multiple selection buttons
          <a ng-click="deleteObject('selected')" title="Delete selected invalidations" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
          <a ng-click="announce('selected')" title="Announce selected invalidations" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-volume-up"></i>
          </a>
          <a ng-click="unannounce('selected')" title="Move selected invalidations back to new" ng-show="user.is_production_manager" ng-href="#">
            <i class="glyphicon glyphicon-volume-off"></i>
          </a>
          <input type="checkbox" value="ToggleAll" ng-click="toggleAll()" title="Toggle select all"
            style="margin-bottom: 8px;" ng-checked="result.length == selected_objects.length">
        </span>
      </div>
    </div>
  </div>
</body>

</html>