<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Mccms page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/ui-bootstrap-custom-tpls-0.1.0-SNAPSHOT.js"></script>
        <!--<script src="http://code.angularjs.org/1.0.7/angular-cookies.min.js"></script>-->
         <!--[IF IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
           </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/mccms_controller.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
      <div class="span12" style="overflow: auto">
        <div class="well">
          <span style="float: left;">
            <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false">
            <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true">
            <span ng-show="show_well == true">
              <input type="button" value="SelectAll" ng-click="select_all_well()" ng-hide="selectedCount">
              <input type="button" value="UnSelectAll" ng-click="select_all_well()" ng-show="selectedCount">
            </span>
          </span>        
          <span ng-repeat="value in defaults" ng-show="show_well">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="value.select" ng-click="calculate_shown()"> {{value.text}}
            </label>
          </span>
          <input type="button" value="saveCookie" ng-click="saveCookie()" ng-show="show_well">
        </div><!--end of well for table columns-->
      </div> <!--End of span12-->
    </div> <!--End of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in defaults" ng-show="column.select" ng-switch on="column.text">
	          <div ng-switch-when="Actions">
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
	          </div>
	          <div ng-switch-default>
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
	          </div>
          </th>
        </tr>
      </thead>
      <tbody>
      	<tr ng-repeat="mccm_info in result | orderBy:sort.column: sort.descending">
      	  <td ng-repeat="data in defaults" ng-show="data.select" style="white-space: nowrap;">
      	    <div ng-switch on="data.text">
              <div ng-switch-when="Actions">
                <a rel="tooltip" title="Edit details" ng-href="edit?db_name=mccms&prepid={{mccm_info['prepid']}}" ng-hide="role(1);" target="_self"><i class="icon-wrench"></i></a>
                <a rel="tooltip" title="Generate chains" ng-click="generate(mccm_info.prepid,'')" ng-href="#" ng-hide="role(3);"><i class="icon-play"></i></a>
                <a rel="tooltip" title="Generate chains and reserve" ng-click="generate(mccm_info.prepid,'/reserve')" ng-href="#" ng-hide="role(3);"><i class="icon-indent-right"></i></a>
                <a rel="tooltip" title="View all requests" ng-href="requests?range={{generateAllRequests(mccm_info.requests);}}" target="_self"><i class="icon-folder-open"></i></a>
              </div>
              <div ng-switch-when="Prepid">
                <a ng-href='mccms?prepid={{mccm_info[data.db_name]}}' rel="tooltip" title="View only mccm_info[data.db_name]" target="_self">{{mccm_info[data.db_name]}}</a>
                <a ng-href="admin/_utils/document.html?mccms/{{mccm_info[data.db_name]}}" rel="tooltip" title="Admin view of {{mccm_info[data.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
	      <div ng-switch-when="Size">
		{{numberWithCommas(mccm_info[data.db_name])}}
	      </div>
	      <div ng-switch-when="Staged">
		{{numberWithCommas(mccm_info[data.db_name])}}
	      </div>
              <div ng-switch-when="Pwg">
                <a ng-href='mccms?pwg={{mccm_info[data.db_name]}}' rel="tooltip" title="View mccms for {{mccm_info[data.db_name]}}"  target="_self"> {{mccm_info[data.db_name]}}</a>
              </div>
              <div ng-switch-when="Meeting">
                <a ng-href='mccms?meeting={{mccm_info[data.db_name]}}' rel="tooltip" title="View mccms for {{mccm_info[data.db_name]}}"  target="_self"> {{mccm_info[data.db_name]}}</a>
              </div>
              <div ng-switch-when="Status">
                <a ng-href='mccms?status={{mccm_info[data.db_name]}}' rel="tooltip" title="View mccms for {{mccm_info[data.db_name]}}"  target="_self"> {{mccm_info[data.db_name]}}</a>
              </div>
              <div ng-switch-when="Approval">
                <a ng-href='mccms?approval={{mccm_info[data.db_name]}}' rel="tooltip" title="View mccms for {{mccm_info[data.db_name]}}"  target="_self"> {{mccm_info[data.db_name]}}</a>
              </div>
              <div ng-switch-when="Notes" style="width:500px;overflow:auto">
                <pre>{{mccm_info[data.db_name]}}</pre>
              </div>
              <div ng-switch-when="Name">
                {{mccm_info[data.db_name]}}
                <a ng-href="admin/_utils/document.html?mccms/{{mccm_info[data.db_name]}}" rel="tooltip" title="Admin view of {{mccm_info[data.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="Requests">
                <ul>
                    <div ng-repeat="elem in mccm_info[data.db_name]">
                      <li ng-hide="isArray(elem);">
                        <a ng-href='requests?prepid={{elem}}' rel="tooltip" title="View request {{elem}}" target="_self">{{elem}}</a>
                      </li>
                      <li ng-show="isArray(elem);">
                        <a ng-href='requests?range={{elem[0]}},{{ elem[1] }}' rel="tooltip" title="View range of rqeuests" target="_self">{{elem[0]}} <i class="icon-arrow-right"></i> {{ elem[1]}}</a>
                      </li>
                    </div>
                </ul>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="mccm_info[data.db_name]"></div>
              </div>
              <div ng-switch-when="Chains">
                <ul ng-repeat="el in mccm_info[data.db_name]">
                  <li ng-switch="el.indexOf('_') == -1">
                    <a ng-switch-when="true" ng-href="chained_campaigns?alias={{el}}" target="_self">{{el}}</a>
                    <a ng-switch-when="false" ng-href="chained_campaigns?prepid={{el}}" target="_self">{{el}}</a>
                  </li>
                </ul>
              </div>
      	      <div ng-switch-default>
    		        {{mccm_info[data.db_name]}}
      	      </div>
      	    </div>
      	  </td>
      	</tr>
      </tbody>
    </table>
    <div class="row-fluid">
        <div class="span5" style="margin-top:20px;">
          <div ng-controller="ModalDemoCtrl">
            <input type="button" class="btn" ng-click="open()" value="Create new MccM ticket" ng-hide="role(1);" align="left"/>
            <div modal="shouldBeOpen" close="close()" style="display: block; width: 400px;"> <!--hidden modal template-->
              <div class="modal-header">
                <h4>Create MccM ticket</h4>
              </div>
              <div class="modal-body">
                Choose pwg for the ticket: <select ng-options="value for value in pwgs" ng-model="selectedPwg" style="width: 90px; margin-bottom: 0px;">
                  </select>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" ng-click="save()">Create</button>
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      <div class="span2" style="margin-top:20px;">
        <span ng-show="got_results">
          Found {{ result.length}} results
        </span>
        <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font>. Results: {{update['results']}}
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font>
        </div>
      </div> 
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>
  </body>
</html> 
