<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - MccM Tickets</title>
  <base href="/mcm/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet" />
  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  <script type="text/javascript" src="scripts/build/mcm.deps2.js"></script>
  <script type="text/javascript">
    var testApp = angular.module('testApp', ['ui.bootstrap']).config(function ($locationProvider) { $locationProvider.html5Mode(true); });
  </script>
  <script src="scripts/main_controller.js"></script>
  <script src="scripts/mccms_controller.js"></script>
  <script src="scripts/snow.js"></script>
</head>

<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <span ng-controller="resultsCtrl">
    <div style='margin-bottom: 5px' class="container">
      <select-well ng-if="selectionReady" database="{{dbName}}" selection="columns"></select-well>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns"
              ng-if="column.select"
              style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='{{dbName}}?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <a ng-href="https://cms-pdmv.cern.ch/mcm/admin/_utils/#database/{{dbName}}/{{data.prepid}}"
                   title="Admin view of {{data.prepid}}"
                   ng-show="user.is_administrator && !isDevMachine();"><i class="icon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/#database/{{dbName}}/{{data.prepid}}"
                   title="Admin view of {{data.prepid}}"
                   ng-show="user.is_administrator && isDevMachine();"><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-href='edit?db_name={{dbName}}&prepid={{data.prepid}}' title="Edit {{data.prepid}}" ng-show="user.is_user" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-click='deleteObject(data.prepid)' title="Delete {{data.prepid}}" ng-show="user.is_user" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-click="cancelTicket(data.prepid)" title="Cancel {{data.prepid}}" ng-show="user.is_user && data.status == 'new'" ng-href="#">
                  <i class="icon-thumbs-down"></i>
                </a>
                <a ng-click="cancelTicket(data.prepid)" title="Uncancel {{data.prepid}}" ng-show="user.is_user && data.status == 'cancelled'" ng-href="#">
                  <i class="icon-thumbs-up"></i>
                </a>
                <a ng-click="openTicketChainGenerator(data)" title="Generate chains for {{data.prepid}}" ng-show="user.is_production_manager" ng-href="#">
                  <i class="icon-play"></i>
                </a>
                <a ng-click="recalculate(data.prepid)" title="Recalculate total events for {{data.prepid}}" ng-show="user.is_user" ng-href="#">
                  <i class="icon-filter"></i>
                </a>
                <a ng-href="requests?range={{requestRange(data.requests)}}" title="Show requests of {{data.prepid}}" target="_self">
                  <i class="icon-folder-open"></i>
                </a>
                <a ng-href="chained_requests?from_ticket={{data.prepid}}" title="Show generated chained requests of {{data.prepid}}" target="_self">
                  <i class="icon-indent-left"></i>
                </a>
                <a ng-click="checkApproved(data.prepid)" title="Check approval of requests" ng-show="user.is_generator_contact" ng-href="#">
                  <i class="icon-eye-open"></i>
                </a>
                <span ng-show="actionMessage[data.prepid] == 'OK'" style="color: green">{{actionMessage[data.prepid]}}</span>
                <img ng-show="actionMessage[data.prepid] == 'loading'" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <span ng-show="actionMessage[data.prepid] != 'OK' && actionMessage[data.prepid] != 'loading'" style="color: red">{{actionMessage[data.prepid]}}</span>
              </div>
              <div ng-switch-when="notes">
                <div style="width:400px">
                  <pre class="notes">{{data[column.db_name]}}</pre>
                </div>
              </div>
              <div ng-switch-when="requests">
                <i ng-show="allRequestsApproved[data.prepid] === false" style="color:red">Not all requests are approved</i>
                <i ng-show="allRequestsApproved[data.prepid] === true" style="color:green">All requests are approved</i>
                <ul>
                  <div ng-repeat="elem in data[column.db_name]">
                    <li ng-hide="isArray(elem);">
                      <a ng-href='requests?prepid={{elem}}' title="View request {{elem}}" target="_self">{{elem}}</a>
                      <a ng-href='chained_requests?contains={{elem}}' title="View chains from {{elem}}" target="_self"><i class="icon-indent-left"></i></a>
                    </li>
                    <li ng-show="isArray(elem);">
                      <a ng-href='requests?range={{elem[0]}},{{ elem[1] }}' title="View range of rqeuests" target="_self">{{elem[0]}} <i class="icon-arrow-right"></i> {{ elem[1]}}</a>
                    </li>
                  </div>
                </ul>
              </div>
              <div ng-switch-when="tags">
                <tokenfield ng-disabled="true" on-click="findToken" tokens="data[column.db_name]" />
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="chains">
                <ul ng-repeat="chain in data[column.db_name]">
                  <li>
                    <a ng-href="chained_campaigns?prepid={{chain}}" target="_self">{{chain}}</a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="generated_chains">
                <ul ng-repeat="(chain, requests) in data[column.db_name]">
                  <li>
                    <a href="chained_requests?prepid={{chain}}" target="_self">{{chain}}</a>
                  </li>
                  <ul ng-repeat="request in requests track by $index">
                    <li>
                      <a href="requests?prepid={{request}}" target="_self">{{request}}</a>
                      <a ng-click="approve_gen_request(request)" ng-href='#' rel="tooltip" title="Next step">
                        <i class="icon-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </ul>
                <input type="button" class="btn" ng-click="approve_all_requests(data.prepid)"
                  ng-show="get_requests_size(data.generated_chains)" value="Approve all requests" align="left" />
                <input type="button" class="btn" ng-click="redirect_chained_request(data.prepid)"
                  ng-show="is_generated_chains_empty(data.generated_chains)" value="Show chains" align="left" />
              </div>
              <div ng-switch-default>
                <a ng-href='{{dbName}}?{{column.db_name}}={{data[column.db_name]}}'
                   title="Show all {{dbName.replace('_', ' ')}} where {{column.text}} is {{data[column.db_name]}}">
                   {{data[column.db_name]}}
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span4">
        <input type="button" class="btn" ng-click="openTicketCreator()" value="Create new MccM ticket" ng-show="user.is_user" align="left" />
      </div>
    </div>
    <script type="text/ng-template" id="createTicketModal.html">
      <div class="modal-header">
        <h4>Create an MccM Ticket</h4>
      </div>
      <div class="modal-body">
        Choose a PWG:
        <select ng-options="value for value in vars.pwgs" ng-model="vars.selectedPwg" style="width: 90px; margin-bottom: 0px;"></select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="save()">Create</button>
        <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
      </div>
      </script>
      <script type="text/ng-template" id="generateChainsModal.html">
        <div class="modal-header">
          <h4>Generate chained requests</h4>
        </div>
        <div class="modal-body">
          Generate chained requests for {{vars.prepid}}
          <br>
          <span title="Immediately create or reuse requests in chained requests">
            <input type="checkbox" ng-model="vars.reserve"> Reserve chained requests
          </span>
          <br>
          <span title="Silently skip already existing chained requests">
            <input type="checkbox" ng-model="vars.skipExisting"> Ignore existing chained requests
          </span>
          <br>
          <span title="Generate chained requests for all requests and chained campaings even if this leads to duplicated chained requests">
            <input type="checkbox" ng-model="vars.allowDuplicates"> Allow duplicates
          </span>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="confirm()">Confirm</button>
          <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
      </script>
  </span>
</body>

</html>