<script type="text/ng-template" id="createRequestModal.html">
  <div class="modal-header">
    <h4>Create a request</h4>
  </div>
  <div class="modal-body">
    Create request in {{prepid}} campaign
    <select ng-options="value for value in vars.pwgs" ng-model="vars.selectedPwg" style="width: 90px; margin-bottom: 0px;"></select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Create</button>
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
  </div>
</script>

<!--     Support MODAL -->
<script type="text/ng-template" id="supportModal.html"> <!--hidden modal template-->
  <div class="modal-header">
    <h4>Request for Support</h4>
  </div>  <!--end of modal header-->
  <div class="modal-body">
    <h5>Please select between operation issues (Ask Support)<br> or feature/improvement/functionnality issues (Create Issue)</h5>
  </div> <!--end of modal body-->
  <div class="modal-footer">
    <a class="btn btn-success" ng-href="https://github.com/cms-PdmV/cmsPdmV/issues/new" ng-click="close();" target="_blank">Create Issue</a>
    <a class="btn btn-info" ng-href="mailto:cms-pdmv-serv@cern.ch?Subject=[MCM]%20Support:%20<Some problem occured>" ng-click="close();"  target="_blank">Ask Support</a>
    <a class="btn btn-warning cancel" ng-click="close();">Cancel</a>
  </div> <!--end of modal footer-->
</script>
<!--     END OF MODAL  -->

<!-- Are you Sure MODAL-->
<script type="text/ng-template" id="isSureModal.html">
  <div class="modal-header">
    <h4>Are you sure to {{action}} "{{prepid}}"?</h4>
  </div>
  <div class="modal-footer" style="background-color:{{color}}">
    <button class="btn btn-warning" ng-click="yes()">Yes</button>
    <button class="btn btn-success" ng-click="no()">No</button>
  </div>
</script>
<!-- END of isSure MODAL-->

<!-- Question MODAL-->
<script type="text/ng-template" id="questionModal.html">
  <div class="modal-header">
    <h4>{{question}}</h4>
  </div>
  <div class="modal-footer" style="background-color: yellow">
    <button class="btn btn-warning" ng-click="yes()">Yes</button>
    <button class="btn btn-success" ng-click="no()">No</button>
  </div>
</script>
<!-- END of isSure MODAL-->

<!-- Error MODAL-->
<script type="text/ng-template" id="errorModal.html">
  <div class="modal-header">
    <h4>Error <span ng-show="prepid">for "{{prepid}}"</span></h4>
  </div>
  <div class="modal-body">
    {{message}}
  </div> <!--end of modal body-->
  <div class="modal-footer" style="background-color: red">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
  </div>
</script>
<!-- END of isSure MODAL-->

<!-- Create item MODAL -->
<script type="text/ng-template" id="createItemModal.html">
  <div class="modal-header">
    <h4>Create new {{objectName}}</h4>
  </div>
  <div class="modal-body">
    New {{objectName}} name: <input type="text" ng-model="vars.prepid" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Create</button>
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
  </div>
</script>
<!-- End of Create item MODAL -->

<!-- Clone item MODAL -->
<script type="text/ng-template" id="cloneItemModal.html">
  <div class="modal-header">
    <h4>Clone {{objectName}} {{prepid}}</h4>
  </div>
  <div class="modal-body">
    New {{objectName}} name: <input type="text" ng-model="vars.newPrepid" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="clone()">Clone</button>
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
  </div>
</script>
<!-- End of Clone item MODAL -->

<!-- Edit sequence MODAL -->
<script type="text/ng-template" id="editSequenceModal.html">
  <div class="modal-header">
    <h4>Edit sequence</h4>
  </div>
  <div class="modal-body">
    <table style="width: 100%" class="sequence-edit">
      <tr ng-repeat="(attribute, value) in sequence">
        <td style="text-align: right">
          {{attribute}}
        </td>
        <td style="width: 100%">
          <input ng-if="attributeType(value) == 'boolean'"
                 type="checkbox"
                 ng-model="sequence[attribute]">
          <input ng-if="attributeType(value) == 'number'"
                 type="number"
                 ng-model="sequence[attribute]">
          <input ng-if="attributeType(value) == 'string'"
                 type="text"
                 ng-model="sequence[attribute]">
          <ul ng-if="attributeType(value) == 'array'">
            <li ng-repeat="item in value">{{item}}</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <div class="span3 input-append" style="text-align:left;">
      <select ng-model="sequence.selectedHidden" ng-show="sequence.hidden.length > 0">
        <option ng-repeat="elem in sequence.hidden">{{elem}}</option>
      </select>
      <a class="btn" ng-click="showHiddenSequence();" ng-href="#" ng-show="sequence.hidden.length > 0"><i class="glyphicon glyphicon-plus-sign"></i></a>
    </div>
    <div class="span2">
      <button class="btn btn-success" ng-click="save()">Save</button>
      <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    </div>
  </div>
</script>
<!-- End of edit sequence MODAL -->

<script type="text/ng-template" id="chainedCampaignCreateModal.html">
  <div class="modal-header">
    <h4>Create new chained campaign</h4>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <th>Step</th>
        <th>Flow</th>
        <th>Campaign</th>
      </tr>
      <tr ng-repeat="pair in pairs track by $index">
        <td style="text-align:center">{{ $index + 1 }}</td>
        <td><select ng-options="flow.prepid for flow in pair.flows" ng-model="pair.selectedFlow" ng-change="updateFlow($index)" ng-disabled="$index == 0"></select></td>
        <td><select ng-options="prepid for prepid in pair.campaigns" ng-model="pair.selectedCampaign" ng-change="updateCampaign($index)" ng-disabled="$index != 0"></select></td>
      </tr>
    </table>
    <h5 ng-show="pairs.length > 1">Chained campaign will look like this</h5>
    <ul>
      <li ng-show="pair.selectedFlow.prepid || ($index == 0 && pair.selectedCampaign)" ng-repeat="pair in pairs track by $index">Step {{ $index + 1}}:
        <ul>
          <li ng-show="$index != 0">Flow: {{pair.selectedFlow.prepid}}</li>
          <li>Campaign: {{pair.selectedCampaign}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="save()" ng-disabled="pairs.length < 1">Create</button>
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
  </div>
</script>

<!-- MODAL-->
<script type="text/ng-template" id="reserveChainModal.html"> <!--hidden modal template-->
  <div class="modal-header">
    <h4>Chain reservation</h4>
  </div>
  <div class="modal-body">
    <div ng-repeat="chainedRequest in chainedRequests">
      <small style="word-break: break-all">{{chainedRequest.prepid}}</small>
      <br>
      Reserve up to:<select ng-options="elem for elem in chainedRequest.campaigns" ng-model="chainedRequest.campaign" style="width: 60%"></select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="confirm()">Confirm</button>
    <button class="btn btn-success" ng-click="cancel()">Cancel</button>
  </div>
</script>
<!-- END of MODAL-->

<script type="text/ng-template" id="createTicketModal.html">
  <div class="modal-header">
    <h4>Create an MccM Ticket</h4>
  </div>
  <div class="modal-body">
    Choose a PWG:
    <select ng-options="value for value in vars.pwgs" ng-model="vars.selectedPwg" style="width: 90px; margin-bottom: 0px;"></select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Create</button>
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="generateChainsModal.html">
  <div class="modal-header">
    <h4>Generate chained requests</h4>
  </div>
  <div class="modal-body">
    Generate chained requests for {{vars.prepid}}
    <br>
    <span title="Silently skip already existing chained requests">
      <input type="checkbox" ng-model="vars.skipExisting"> Ignore existing chained requests
    </span>
    <br>
    <span title="Generate chained requests for all requests and chained campaings even if this leads to duplicated chained requests">
      <input type="checkbox" ng-model="vars.allowDuplicates"> Allow duplicates
    </span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="confirm()">Confirm</button>
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
  </div>
</script>

<!-- Notify MODAL-->
<script type="text/ng-template" id="notifyModal.html"> <!--hidden modal template-->
  <div class="modal-header">
    <h4>Text to notify</h4>
  </div>
  <!--end of modal header-->
  <div class="modal-body">
    <textarea ng-model="data.text" style="width:500px"></textarea>
  </div>
  <!--end of modal body-->
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="notify()" ng-disabled="data.text.length == 0">Notify</button>
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
  </div>
  <!--end of modal footer-->
</script>
<!-- END of Notify MODAL-->

<!--     Clone MODAL -->
<script type="text/ng-template" id="cloneRequestModal.html"> <!--hidden modal template-->
  <div class="modal-header">
    <h4>Clone request {{request.prepid}}</h4>
  </div>
  <div class="modal-body">
    <select ng-model="vars.pwg">
      <option ng-repeat="elem in allPWGs" ng-selected="elem == vars.pwg">{{elem}}</option>
    </select>
    <select ng-model="vars.campaign">
      <option ng-repeat="elem in allCampaigns" ng-selected="elem == vars.campaign">{{elem}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="clone()">Clone</button>
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
  </div>
</script>
<!--     END OF MODAL  -->