<nav class="navbar navbar-default" ng-class="{'navbar-inverse': isDevMachine()}" style="border-radius: 0 !important;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/mcm/" target="_self">McM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-class="{'active': database == 'campaigns'}" ng-href='campaigns' target="_self">Campaigns <i class="glyphicon glyphicon-book"></i></a></li>
        <li><a ng-class="{'active': database == 'flows'}" ng-href='flows' target="_self">Flows <i class="glyphicon glyphicon-magnet"></i></a></li>
        <li><a ng-class="{'active': database == 'chained_campaigns'}" ng-href='chained_campaigns' target="_self">Chained campaigns <i class="glyphicon glyphicon-align-right"></i></a></li>
        <li><a ng-class="{'active': database == 'requests'}" ng-href='requests' target="_self">Requests <i class="glyphicon glyphicon-folder-open"></i></a></li>
        <li><a ng-class="{'active': database == 'chained_requests'}" ng-href='chained_requests' target="_self">Chained requests <i class="glyphicon glyphicon-indent-left"></i></a></li>
        <li><a ng-class="{'active': database == 'batches'}" ng-href='batches?status=new' target="_self" ng-if="user.is_production_manager">Batches <i class="glyphicon glyphicon-tags"></i></a></li>
        <li><a ng-class="{'active': database == 'invalidations'}" ng-href='invalidations?status=new' target="_self" ng-if="user.is_production_manager">Invalidations <i class="glyphicon glyphicon-exclamation-sign"></i></a></li>
        <li><a ng-class="{'active': database == 'mccms'}" ng-href='mccms?status=new' target="_self">MccM tickets <i class="glyphicon glyphicon-tasks"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More... <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="#" target="_self">Priority change</a></li> -->
            <li><a href="users" target="_self">Users</a></li>
            <li ng-if="user.is_production_manager"><a href="settings" target="_self">Settings</a></li>
            <li role="separator" class="divider" ng-if="user.is_administrator"></li>
            <li ng-if="user.is_administrator"><a href="https://cms-pdmv.cern.ch/mcm/admin/_utils/" target="_self">Database</a></li>
            <li ng-if="user.is_administrator"><a href="https://cms-pdmv-dev.cern.ch/mcm/admin/_utils/" target="_self">Database DEV</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://cms-pdmv.gitbook.io/project/" target="_blank">Documentation</a></li>
            <li><a href="https://github.com/cms-PdmV/cmsPdmV/issues/new" target="_blank">Report an issue</a></li>
            <li><a href="https://cms-pdmv.cern.ch/home/" target="_blank">PdmV</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-href='users?prepid={{user.username}}' target="_blank">{{user.fullname}} <small>({{user.role}})</small>
        </li>
      </ul>
    </div>
  </div>
</nav>