<div class="navbar navbar-static-top" ng-class="{ 'navbar-inverse': isDevMachine() }"  style="margin-bottom: 20px;"> <!--  place for NAV-BAR-->
  <div class="navbar-inner">
    <ul class="nav">
      <li ng-class='{ "active": dbName=="campaigns"}'>
        <a ng-href='campaigns' target="_self">Campaign <i class="icon-book"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="chained_campaigns"}'>
        <a ng-href='chained_campaigns' target="_self">Chained campaign <i class="icon-align-right"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="flows"}'>
        <a ng-href='flows' target="_self">Flow <i class="icon-magnet"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <a ng-href='priority_change' target="_self">Priority change<i class="icon-qrcode"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="requests"}'>
        <a ng-href='requests' target="_self">Request <i class="icon-folder-open"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="chained_requests"}'>
        <a ng-href='chained_requests' target="_self">Chained request <i class="icon-indent-left"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="batches"}'>
        <a ng-href='batches?status=new' target="_self">Batch <i class="icon-tags"></i></a>
      </li>
      <li class="divider-vertical" ng-hide="role(3);"></li>
      <li ng-class='{ "active": dbName=="invalidations"}' ng-hide="role(3);">
        <a ng-href='invalidations?status=new' target="_self">Invalidations <i class="icon-exclamation-sign"></i></a>
      </li>
      <li class="divider-vertical" ng-hide="role(1);"></li>
      <li ng-class='{ "active": dbName=="mccms"}' ng-hide="role(1);">
        <a ng-href='mccms' target="_self">MccM <i class="icon-tasks"></i></a>
      </li>
      <li class="divider-vertical" ng-hide="role(1);"></li>
      <li ng-class='{ "active": dbName=="dashboard"}' ng-hide="role(1);">
        <a ng-href='dashboard' target="_self">Dashboard <i class="icon-picture"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="users"}'>
        <a ng-href='users' target="_self">User <i class="icon-user"></i></a>
      </li>
      <li class="divider-vertical" ng-hide="role(4);"></li>
      <li ng-class='{ "active": dbName=="settings"}' ng-hide="role(4);">
        <a ng-href='settings' target="_self">Settings <i class="icon-briefcase"></i></a>
      </li>
      <li class="divider-vertical"></li>
      <li ng-class='{ "active": dbName=="lists"}'>
        <a ng-href='lists' target="_self">Lists <i class="icon-list-alt"></i></a>
      </li>
      <li class="divider-vertical" ng-hide="role(4);"></li>
      <li ng-hide="role(4);">
        <a ng-href='admin/_utils/' target="_self">Admin <i class="icon-star"></i></a>
      </li>
      <li class="divider-vertical" ></li>
      <li>
        <a ng-href='https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM' target="_blank">Help <i class="icon-question-sign"></i></a>
      </li>
      <li>
        <a ng-href='/pmp' target="_blank">pMp <i class="icon-film"></i></a>
      </li>
      <li class="divider-vertical" ></li>
      <li>
        <a ng-click="openSupportModal();" ng-href="#">
          Support <i class="icon-envelope"></i></a>
      </li>
      <li class="divider-vertical" ></li>
      <li>
        <a ng-href="/mcm" target="_self">
          Home <i class="icon-home"></i>
        </a>
      </li>
      <li class="divider-vertical" ></li>
      <ul class="nav pull-right">
        <li>
          <a ng-href='users?prepid={{user.name}}' target="_blank">{{user.name}} ({{user.role}})</a>
        </li>
      </ul>
    </ul>
  </div>
</div> <!--END of navbar-->

<!--     Support MODAL -->
<script type="text/ng-template" id="supportModal.html"> <!--hidden modal template-->
  <div class="modal-header">
    <h4>Request for Support</h4>
  </div>  <!--end of modal header-->
  <div class="modal-body">
    <h5>Please select between operation issues (Ask Support)<br> or feature/improvement/functionnality issues (Create Issue)</h5>
  </div> <!--end of modal body-->
  <div class="modal-footer">
    <a class="btn btn-success" ng-href="https://github.com/cms-PdmV/cmsPdmV/issues/new" ng-click="close();" target="_blank">Create Issue</a>
    <a class="btn btn-info" ng-href="mailto:cms-pdmv-serv@cern.ch?Subject=[MCM]%20Support:%20<Some problem occured>" ng-click="close();"  target="_blank">Ask Support</a>
    <a class="btn btn-warning cancel" ng-click="close();">Cancel</a>
  </div> <!--end of modal footer-->
</script>
<!--     END OF MODAL  -->

<!-- Are you Sure MODAL-->
<script type="text/ng-template" id="isSureModal.html">
  <div class="modal-header">
    <h4>Are you sure to {{action}} "{{prepid}}"?</h4>
  </div>
  <div class="modal-footer" style="background-color:{{color}}">
    <button class="btn btn-warning" ng-click="yes()">Yes</button>
    <button class="btn btn-success" ng-click="no()">No</button>
  </div>
</script>
<!-- END of isSure MODAL-->

<!-- Error MODAL-->
<script type="text/ng-template" id="errorModal.html">
  <div class="modal-header">
    <h4>Error <span ng-show="prepid">for "{{prepid}}"</span></h4>
  </div>
  <div class="modal-body">
    {{message}}
  </div> <!--end of modal body-->
  <div class="modal-footer" style="background-color: red">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
  </div>
</script>
<!-- END of isSure MODAL-->

<!-- Create item MODAL -->
<script type="text/ng-template" id="createItemModal.html">
  <div class="modal-header">
    <h4>Create new {{database.substr(0, database.length - 1).replaceAll('_', ' ')}}</h4>
  </div>
  <div class="modal-body">
    New PrepID: <input type="text" ng-model="vars.prepid" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Create</button>
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
  </div>
</script>
<!-- End of Create item MODAL -->

<!-- Clone item MODAL -->
<script type="text/ng-template" id="cloneItemModal.html">
  <div class="modal-header">
    <h4>Clone {{prepid}}</h4>
  </div>
  <div class="modal-body">
    New PrepID: <input type="text" ng-model="vars.newPrepid" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="clone()">Clone</button>
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
  </div>
</script>
<!-- End of Clone item MODAL -->
