<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">

<head>
  <title>McM - Requests</title>
  <base href="/mcm/">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="scripts/build/mcmcss.css" rel="stylesheet" />

  <link href="scripts/codemirror-3.11/lib/codemirror.css" rel="stylesheet">
  <link href="scripts/codemirror-3.11/theme/eclipse.css" rel="stylesheet">

  <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
  <script type="text/javascript" src="scripts/build/mcm.deps2.js"></script>
  <script type="text/javascript">
    var testApp = angular.module('testApp', ['ui.bootstrap']).config(function ($locationProvider) { $locationProvider.html5Mode(true); });
  </script>
  <script src="scripts/codemirror-3.11/lib/codemirror-compressed.js"></script>
  <script src="scripts/main_controller.js"></script>
  <script src="scripts/requests_ctrl.js"></script>
  <script src="scripts/snow.js"></script>
</head>

<body ng-controller="mainCtrl">
  <div ng-include="'HTML/navbar_template.html'"></div>
  <span ng-controller="resultsCtrl">
    <div class="container">
      <tabs>
        <pane heading="Select View" active="tabsettings.view.active">
          <select-well ng-if="selectionReady" database="{{dbName}}" selection="columns" always-show="true">
          </select-well>
        </pane>
        <pane heading="List from file" active="tabsettings.file.active">
          <div class="control-group">
            List request from a list file: <ddl-file-reader ng-model="cf"> </ddl-file-reader>
            <button class="btn btn-mini" align="middle" ng-click="upload(cf);">Upload</button>
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Lists_Requests" rel="tooltip"
              title="Help on listing from file"><i class="icon-question-sign"></i></a>
          </div>
        </pane>
        <pane heading="Navigation" active="tabsettings.navigation.active">
          <load-fields></load-fields>
        </pane>
        <pane heading="Output Dataset" active="tabsettings.output.active">
          <form class="form-inline">
            <input type="text" class="input-xxlarge" maxlength="200" placeholder="dataset name as shown in DAS"
              ng-model="dataset_name_in_das">
            <a class="btn btn-mini" ng-href='requests?produce={{dataset_name_in_das}}' target="_self">Search</a>
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Search_by_Dataset" rel="tooltip"
              title="Help for search by output dataset"> <i class='icon-question-sign'></i></a>
          </form>
        </pane>
      </tabs>
    </div>
    <!--End of container-->

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="column in columns"
              ng-if="column.select"
              style="white-space: nowrap; text-align: center;">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result">
          <td ng-repeat="column in columns" ng-if="column.select" style="white-space: nowrap;">
            <div ng-switch on="column.db_name">
              <div ng-switch-when="prepid">
                <a ng-href='requests?prepid={{data.prepid}}' title="Show only {{data.prepid}}">{{data.prepid}}</a>
                <custom-actor-list prepid="data[column.db_name]"></custom-actor-list>
                <a ng-if='data.reqmgr_name.length'
                   ng-href='batches?contains={{data.prepid}}'
                   rel="tooltip"
                   title="View batches containing {{data.prepid}}"
                   target="_self"><i class="icon-tags"></i></a>
                <a ng-href="https://cms-pdmv-prod.web.cern.ch/mcm/admin/_utils/#database/requests/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-hide="role(4) || isDevMachine();"><i class="icon-star"></i></a>
                <a ng-href="https://cms-pdmv-dev.web.cern.ch/mcm/admin/_utils/#database/requests/{{data[column.db_name]}}"
                   rel="tooltip"
                   title="Admin view of {{data[column.db_name]}}"
                   ng-hide="role(4) || !isDevMachine();"><i class="icon-star"></i></a>
              </div>
              <div ng-switch-when="">
                <a ng-href='edit?db_name=requests&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-click='deletePrompt(data.prepid)' rel="tooltip" title="Delete request" ng-hide="data.status != 'new' || role(1);" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-click="openCloneRequestModal(data)" title="Clone request" ng-hide="role(1);" ng-href="#">
                  <i class="icon-share-alt"></i>
                </a>
                <a ng-click="actionPrompt('reset', data.prepid)" rel="tooltip" title="Reset" ng-hide="data.status == 'new' || role(1);" ng-href="#">
                  <i class="icon-repeat"></i>
                </a>
                <a ng-click="actionPrompt('option_reset', data.prepid)" rel="tooltip" title="Option Reset" ng-hide="data.status != 'new' || role(1);" ng-href="#">
                  <i class="icon-share"></i>
                </a>
                <a ng-click="actionPrompt('approve', data.prepid)" rel="tooltip" title="Next step" ng-hide="data.status == 'done' || role(1);" ng-href="#">
                  <i class="icon-chevron-right"></i>
                </a>
                <a ng-href='public/restapi/requests/get/{{data.prepid}}' rel="tooltip" title="Get dictionary" target="_self">
                  <i class="icon-download-alt"></i>
                </a>
                <a ng-href='public/restapi/requests/get_setup/{{data.prepid}}' rel="tooltip" title="Get setup command" target="_self">
                  <i class="icon-download"></i>
                </a>
                <a ng-href='public/restapi/requests/get_test/{{data.prepid}}' rel="tooltip" title="Get test command" target="_self">
                  <i class="icon-ok-circle"></i>
                </a>
                <a ng-href='restapi/requests/get_upload/{{data.prepid}}' rel="tooltip" title="Get upload command" ng-hide="role(3);" target="_self">
                  <i class="icon-upload"></i>
                </a>
                <a ng-href='restapi/requests/get_inject/{{data.prepid}}' rel="tooltip" title="Get injection command" ng-hide="role(3);" target="_self">
                  <i class="icon-italic"></i>
                </a>
                <a ng-click="objectAction('register', data.prepid)" rel="tooltip" title="Register to the request {{data.prepid}}" ng-href="#">
                  <i class="icon-map-marker"></i>
                </a>
                <a ng-click="openNotifyModal(data.prepid)" rel="tooltip" title="Notify" ng-href="#">
                  <i class="icon-envelope"></i>
                </a>
                <a ng-click="actionPrompt('soft_reset', data.prepid)" rel="tooltip" title="Soft Reset" ng-hide="role(3);" ng-href="#">
                  <i class="icon-step-backward"></i>
                </a>
                <a ng-href='chained_requests?contains={{data.prepid}}' rel="tooltip" title="View chains containing {{data.prepid}}" target="_self">
                  <i class="icon-indent-left"></i>
                </a>
                <a ng-click="objectAction('inspect', data.prepid)" rel="tooltip" ng-hide="role(3);" title="Inspect status of {{data.prepid}}" ng-href="#">
                  <i class="icon-screenshot"></i>
                </a>
                <a ng-click="objectAction('update_stats', data.prepid)" rel="tooltip" ng-hide="role(4);" title="Update status of {{data.prepid}} in Stats" ng-href="#">
                  <i class="icon-refresh"></i>
                </a>
                <a ng-click="forcecompletePrompt(data.prepid)" rel="tooltip" ng-if="data.status == 'submitted'" ng-hide="role(1);" title="Add request to be force completed" ng-href="#">
                  <i class="icon-gift"></i>
                </a>
                <a ng-href="restapi/requests/gen_log/{{data.prepid}}" rel="tooltip" title="See GEN request checking script logs for {{data.prepid}}" target="_self">
                  <i class="icon-th"></i>
                </a>
                <a ng-href="/pmp/present?r={{data.prepid}}" rel="tooltip" title="View announced statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-picture"></i>
                </a>
                <a ng-href="/pmp/present?r={{data.prepid}}&m=true" rel="tooltip" title="View growing statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-film"></i>
                </a>
                <a ng-show="data.status == 'done' || data.status == 'submitted'" ng-href="/pmp/historical?r={{data.prepid}}" rel="tooltip" title="View historical statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-facetime-video"></i>
                </a>
                <a ng-if="data.status == 'done' || data.status == 'submitted'" ng-href="{{getLinktoDmytro(data.reqmgr_name)}}" rel="tooltip" title="Computing's monitoring for {{data.prepid}}" target="_blank">
                  <i class="icon-camera"></i>
                </a>
                <input type="checkbox" ng-click="add_to_selected_list(data.prepid)" ng-checked="selected_prepids.indexOf(data.prepid) != -1">
                <span ng-show="actionMessage[data.prepid] == 'OK'" style="color: green">{{actionMessage[data.prepid]}}</span>
                <img ng-show="actionMessage[data.prepid] == 'loading'" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <span ng-show="actionMessage[data.prepid] != 'OK' && actionMessage[data.prepid] != 'loading'" style="color: red">{{actionMessage[data.prepid]}}</span>
              </div>
              <div ng-switch-when="approval" align="center">
                <i class="{{approvalIcon(data[column.db_name])}}" rel="tooltip" title="{{data[column.db_name]}}"></i>
                <a ng-href='{{getLocation()}}&approval={{data[column.db_name]}}' rel="tooltip"
                  title="Show all requests in approval {{data[column.db_name]}}"
                  target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="status" align="center">
                <i class="{{statusIcon(data[column.db_name])}}" rel="tooltip" title="{{data[column.db_name]}}"></i>
                <a ng-href='{{getLocation()}}&status={{data[column.db_name]}}' rel="tooltip"
                  title="Show all requests in status {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="input_dataset">
                <a ng-href='https://cmsweb.cern.ch/das/request?input={{data[column.db_name]}}' rel="tooltip"
                  title="Link to DAS" target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="pileup_dataset_name">
                <a ng-href='https://cmsweb.cern.ch/das/request?input={{data[column.db_name]}}' rel="tooltip"
                  title="Link to DAS" target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="dataset_name">
                <a ng-href='requests?dataset_name={{data[column.db_name]}}' rel="tooltip"
                  title="Show requests for {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>
                <!--<a ng-href='{{getLocation()}}&dataset_name={{data[column.db_name]}}' rel="tooltip" title="Show requests for {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>-->
                <a ng-href='chained_requests?dataset_name={{data[column.db_name]}}' rel="tooltip"
                  title="Show chained requests for {{data[column.db_name]}}" target="_self"><i
                    class="icon-indent-left"></i></a>
              </div>
              <div ng-switch-when="cmssw_release">
                <a ng-href='requests?cmssw_release={{data[column.db_name]}}' rel="tooltip"
                  title="Show requests for {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="mcdb_id">
                <a ng-href='requests?mcdb_id={{data[column.db_name]}}' rel="tooltip"
                  title="Show requests for mcdb ID {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="pwg">
                <a ng-href='{{getLocation()}}&pwg={{data[column.db_name]}}' rel="tooltip"
                  title="Show all requests for {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="notes">
                <div style="width:400px">
                  <pre class="notes">{{data[column.db_name]}}</pre>
                </div>
              </div>
              <div ng-switch-when="sequences">
                <sequence-display ng-model="data.prepid" database="'requests'" prepid="data.prepid"></sequence-display>
              </div>
              <div ng-switch-when="extension" ng-show="data[column.db_name]" align="center">
                <i class="icon-ok"></i> Number: {{data[column.db_name]}}
              </div>
              <div ng-switch-when="keep_output" align="center">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="keep in data[column.db_name] track by $index">
                    <i class="icon-ok-sign" ng-if="keep"></i>
                    <i class="icon-remove-sign" ng-if="!keep"></i>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="config_id">
                <ul style="margin-bottom: 0px;">
                  <li ng-if="isDevMachine();" ng-repeat="configid in data[column.db_name]">
                    <a ng-href='https://cmsweb-testbed.cern.ch/couchdb/reqmgr_config_cache/{{configid}}/configFile'
                       rel="tooltip"
                       title="View production configuration file {{configid}}"
                       target="_self">
                       <i class="icon-th"></i>
                    </a>
                  </li>
                  <li ng-if="!isDevMachine();" ng-repeat="configid in data[column.db_name]">
                    <a ng-href='https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/{{configid}}/configFile'
                       rel="tooltip"
                       title="View production configuration file {{configid}}"
                       target="_self">
                       <i class="icon-th"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="flown_with">
                <a ng-show="data[column.db_name]" ng-href='{{getLocation()}}&flown_with={{data[column.db_name]}}'
                  rel="tooltip" title="View requests created with {{data[column.db_name]}}"
                  target="_self">{{data[column.db_name]}} <i class="icon-folder-open"></i></a>
                <a ng-show="data[column.db_name]" ng-href='flows?prepid={{data[column.db_name]}}' rel="tooltip"
                  title="View details of the flow {{data[column.db_name]}}" target="_self"><i
                    class="icon-magnet"></i></a>
              </div>
              <div ng-switch-when="output_dataset">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="ds in data[column.db_name]">
                    <a ng-href='https://cmsweb.cern.ch/das/request?input={{ds}}' rel="tooltip" title="Link to DAS"
                      target="_self">{{ds}}</a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="generators">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="gen in data[column.db_name]">
                    {{gen}}
                </ul>
              </div>
              <div ng-switch-when="generator_parameters">
                <div generator-params ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="member_of_chain">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="chain in data[column.db_name] | orderBy: 'toString()'">
                    <a ng-href='chained_requests?prepid={{chain}}' rel="tooltip" title="View details of the chain"
                      target="_self">{{chain}}<i class="icon-indent-left"></i></a>
                    <a ng-href='requests?member_of_chain={{chain}}' rel="tooltip"
                      title="View request in chain {{chain}}" target="_self"><i class="icon-folder-open"></i></a>
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="fragment_tag">
                <div ng-show="data[column.db_name];">
                  <a ng-href='https://raw.githubusercontent.com/cms-sw/genproductions/{{data["fragment_tag"]}}/python/{{data[column.db_name].replace("Configuration/GenProduction/python/", "").replace("Configuration/GenProduction/","")}}'
                    target="_self" ng-show='data["fragment_tag"];'>{{data[column.db_name]}}</a>
                  <a ng-href='https://github.com/cms-sw/genproductions' target="_self"
                    ng-hide='data["fragment_tag"];'>github repo</a>
                  <a ng-href='http://cmssw.cvs.cern.ch/cgi-bin/cmssw.cgi/CMSSW/{{data[column.db_name]}}?revision={{data["fragment_tag"]}}&content-type=text%2Fplain'
                    target="_self" ng-show='data["fragment_tag"];'>, old file in cvs</a>
                  <a ng-href='http://cmssw.cvs.cern.ch/cgi-bin/cmssw.cgi/CMSSW/Configuration/GenProduction/'
                    target="_self" ng-hide='data["fragment_tag"];'>,cvs repo </a>
                </div>
              </div>
              <div ng-switch-when="fragment">
                <div fragment-display ng-model="data.prepid" rawfragment={{data[column.db_name]}}></div>
              </div>
              <div ng-switch-when="member_of_campaign">
                <a ng-href='{{getLocation()}}&member_of_campaign={{data[column.db_name]}}' rel="tooltip"
                  title="View request for {{data[column.db_name]}}" target="_self">{{data[column.db_name]}}</a>
                <a ng-href='campaigns?prepid={{data[column.db_name]}}' rel="tooltip"
                  title="View details of the campaign {{data[column.db_name]}}" target="_self"><i
                    class="icon-book"></i></a>
              </div>
              <div ng-switch-when="validation">
                <ul style="margin-bottom: 0px;">
                  <li ng-show="data[column.db_name].valid != undefined"><i class="icon-ok"
                      ng-show="data[column.db_name].valid"></i> <i class="icon-remove"
                      ng-show="!data[column.db_name].valid"></i></li>
                  <li ng-show="data[column.db_name].content != undefined">Content: {{data[column.db_name].content}}</li>
                  <!-- #PG <li ng-show="data[column.db_name].nEvents != undefined">{{numberWithCommas(data[column.db_name].nEvents)}} events</li> -->
                  <li ng-show="data[column.db_name].valid"> DQM
                    <a ng-show="isDevMachine()"
                      href="https://cmsweb.cern.ch/dqm/relval/start?runnr=1;dataset={{data[column.db_name].dqm}};;sampletype=offline_relval;filter=all;referencepos=overlay;referenceshow=all;referencenorm=True;referenceobj1=other%3A%3A{{data[column.db_name].ref_dqm}}%3AReference%3A;referenceobj2=none;referenceobj3=none;referenceobj4=none;search=;striptype=object;stripruns=;stripaxis=run;stripomit=none;workspace=Everything;size=M;root=Generator;focus=;zoom=no;"
                      rel="tooltip" title="Go to the DQM gui for {{data[column.db_name].dqm}}" target="_blank"><i
                        class="icon-th-large"></i></a>
                    <a ng-show="!isDevMachine()"
                      href="https://cmsweb.cern.ch/dqm/relval/start?runnr=1;dataset={{data[column.db_name].dqm}};;sampletype=offline_relval;filter=all;referencepos=overlay;referenceshow=all;referencenorm=True;referenceobj1=other%3A%3A{{data[column.db_name].ref_dqm}}%3AReference%3A;referenceobj2=none;referenceobj3=none;referenceobj4=none;search=;striptype=object;stripruns=;stripaxis=run;stripomit=none;workspace=Everything;size=M;root=Generator;focus=;zoom=no;"
                      rel="tooltip" title="Go to the DQM gui for {{data[column.db_name].dqm}}" target="_blank"><i
                        class="icon-th-large"></i></a>
                  </li>
                  <li ng-show="data[column.db_name].peak_value_rss">
                    Peak RSS value: {{data[column.db_name].peak_value_rss}}MB
                  </li>
                  <li ng-show="data[column.db_name].time_multiplier != undefined">
                    Length: {{data[column.db_name].time_multiplier}} * 8h = {{8 * data[column.db_name].time_multiplier}}h
                  </li>
                  <li ng-show="data[column.db_name].results">
                    Results:
                    <ul>
                      <li ng-repeat="(threads, threadsResult) in data[column.db_name].results">
                        Threads {{threads}}:
                        <ul ng-if="threadsResult.length !== undefined && threadsResult.length > 1">
                          <li ng-repeat="sequence in threadsResult">
                            Sequence {{$index + 1}}:
                            <ul>
                              <li>Events: {{sequence.total_events}}</li>
                              <li>CPU Efficiency: {{(sequence.cpu_efficiency) * 100 | number:1}} %</li>
                              <li>Est. events/lumi: {{sequence.estimated_events_per_lumi | number:1}}</li>
                              <li>Peak Value RSS: {{sequence.peak_value_rss | number:2}} MB</li>
                              <li>Filter efficiency: {{(sequence.filter_efficiency) * 100 | number:1}} %</li>
                              <li>Time per event: {{sequence.time_per_event | number:4}} s</li>
			      <li>Time per event (single thread): {{sequence.time_per_event_onethread | number:4}} s</li>
                              <li>Size per event: {{sequence.size_per_event | number:4}} kB</li>
                              <li ng-if="sequence.cpu_name">CPU Name: {{sequence.cpu_name}}</li>
                            </ul>
                          </li>
                        </ul>
                        <ul ng-if="threadsResult.length !== undefined || threadsResult.length == 1">
                          <li>Events: {{threadsResult[0].total_events}}</li>
                          <li>CPU Efficiency: {{(threadsResult[0].cpu_efficiency) * 100 | number:1}} %</li>
                          <li>Est. events/lumi: {{threadsResult[0].estimated_events_per_lumi | number:1}}</li>
                          <li>Peak Value RSS: {{threadsResult[0].peak_value_rss | number:2}} MB</li>
                          <li>Filter efficiency: {{(threadsResult[0].filter_efficiency) * 100 | number:1}} %</li>
                          <li>Time per event: {{threadsResult[0].time_per_event | number:4}} s</li>
			  <li>Time per event (single thread): {{threadsResult[0].time_per_event_onethread | number:4}} s</li>
                          <li>Size per event: {{threadsResult[0].size_per_event | number:4}} kB</li>
                          <li ng-if="threadsResult[0].cpu_name">CPU Name: {{threadsResult[0].cpu_name}}</li>
                        </ul>
                        <ul ng-if="threadsResult.length === undefined">
                          <li>Events: {{threadsResult.total_events}}</li>
                          <li>CPU Efficiency: {{(threadsResult.cpu_efficiency) * 100 | number:1}} %</li>
                          <li>Est. events/lumi: {{threadsResult.estimated_events_per_lumi | number:1}}</li>
                          <li>Peak Value RSS: {{threadsResult.peak_value_rss | number:2}} MB</li>
                          <li>Filter efficiency: {{(threadsResult.filter_efficiency) * 100 | number:1}} %</li>
                          <li>Time per event: {{threadsResult.time_per_event | number:4}} s</li>
                          <li>Time per event (single thread): {{threadsResult.time_per_event_onethread | number:4}} s</li>
                          <li>Size per event: {{threadsResult.size_per_event | number:4}} kB</li>
                          <li ng-if="threadsResult.cpu_name">CPU Name: {{threadsResult.cpu_name}}</li>
                        </ul>

                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="history">
                <div custom-history ng-model="data[column.db_name]"></div>
              </div>
              <div ng-switch-when="tags">
                <tokenfield ng-disabled="true" on-click="findToken" tokens="data[column.db_name]" />
              </div>
              <div ng-switch-when="total_events" align="right">
                {{numberWithCommas(data[column.db_name])}}
              </div>
              <div ng-switch-when="completed_events" align="right">
                {{numberWithCommas(data[column.db_name])}}
              </div>
              <div ng-switch-when="reqmgr_name">
                <reqmgr-Name ng-model="data[column.db_name]" prepid="data.prepid"></reqmgr-Name>
              </div>
              <div ng-switch-when="memory" align="center">
                {{data[column.db_name]}}
                <span class="label label-info" ng-show="data[column.db_name]" title="Megabytes">MB<span>
              </div>
              <div ng-switch-when="size_event" align="center">
                {{data[column.db_name]}}
                <span class="label label-info" ng-show="data[column.db_name]" title="Kegabytes">kB<span>
              </div>
              <div ng-switch-when="time_event" align="center">
                {{data[column.db_name] | number:4}}
                <span class="label label-info" ng-show="data[column.db_name]" title="seconds">s<span>
              </div>
              <div ng-switch-when="filter_efficiency" align="center">
                {{data["generator_parameters"].slice(-1)[0]["filter_efficiency"]}}
              </div>
              <div ng-switch-when="events_per_lumi">
                <span ng-show="data[column.db_name] != 0">{{data[column.db_name]}}</span>
                <span ng-show="data[column.db_name] == 0">Use campaign's value</span>
              </div>
              <div ng-switch-when="transient_output_modules" align="left">
                <ul ng-repeat="elem in data[column.db_name] track by $index">
                  <li>
                    For sequence {{ $index +1 }}:
                    <ul>
                      <li ng-repeat="module_name in elem">{{ module_name }}</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="cadi_line" align="center">
                <a ng-show="data[column.db_name]" rel="tooltip" title="Cadi line"
                  ng-href="http://cms.cern.ch/iCMS/analysisadmin/cadilines?line={{data[column.db_name]}}">{{data[column.db_name]}}</a>
              </div>
              <div ng-switch-when="interested_pwg">
                <ul>
                  <li ng-repeat="elem in data[column.db_name]">
                    {{elem}}
                  </li>
                </ul>
              </div>
              <div ng-switch-default>{{data[column.db_name]}}</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Notify MODAL-->
    <script type="text/ng-template" id="notifyModal.html"> <!--hidden modal template-->
    <div class="modal-header">
      <h4>Text to notify</h4>
    </div>
    <!--end of modal header-->
    <div class="modal-body">
      <textarea ng-model="data.text" style="width:500px"></textarea>
    </div>
    <!--end of modal body-->
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="notify()" ng-disabled="data.text.length == 0">Notify</button>
      <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
    <!--end of modal footer-->
    </script>
    <!-- END of Notify MODAL-->

    <!--     Clone MODAL -->
    <script type="text/ng-template" id="cloneRequestModal.html"> <!--hidden modal template-->
    <div class="modal-header">
      <h4>Clone request {{request.prepid}}</h4>
    </div>
    <div class="modal-body">
      <select ng-model="vars.pwg">
        <option ng-repeat="elem in allPWGs" ng-selected="elem == vars.pwg">{{elem}}</option>
      </select>
      <select ng-model="vars.campaign">
        <option ng-repeat="elem in allCampaigns" ng-selected="elem == vars.campaign">{{elem}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="clone()">Clone</button>
      <button class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
    </script>
    <!--     END OF MODAL  -->

    <div class="row-fluid custom-footer">
      <div class="span4">
        <span>
          Multiple selection buttons
          <a ng-href='edit_many?db_name=requests&prepid={{selected_prepids.join()}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
            <i class="icon-wrench"></i>
          </a>
          <a ng-click="actionPrompt('reset', 'selected')" rel="tooltip" ng-hide="role(1);" title="Reset selected requests" ng-href="#">
            <i class="icon-repeat"></i>
          </a>
          <a ng-click="actionPrompt('option_reset', 'selected')" rel="tooltip" ng-hide="role(1);"  title="Option Reset selected requests" ng-href="#">
            <i class="icon-share"></i>
          </a>
          <a ng-click="actionPrompt('approve', 'selected')" rel="tooltip" title="Next step for selected requests" ng-hide="role(1);" ng-href="#">
            <i class="icon-chevron-right"></i>
          </a>
          <a ng-click="objectAction('register', 'selected')" rel="tooltip" title="Register to selected requests" ng-href="#">
            <i class="icon-map-marker"></i>
          </a>
          <a ng-click="openNotifyModal(data.prepid)" rel="tooltip" title="Notify selected prepids" ng-href="#">
            <i class="icon-envelope"></i>
          </a>
          <a ng-click="actionPrompt('soft_reset', 'selected')" rel="tooltip" ng-hide="role(3);" title="Soft reset selected requests" ng-href="#">
            <i class="icon-step-backward"></i>
          </a>
          <a ng-click="objectAction('inspect', 'selected')" rel="tooltip" ng-hide="role(3);" title="Inspect status of selected requests" ng-href="#">
            <i class="icon-screenshot"></i>
          </a>
          <a ng-click="objectAction('update_stats', 'selected')" rel="tooltip" ng-hide="role(4);" title="Update status of selected requests in Stats" ng-href="#">
            <i class="icon-refresh"></i>
          </a>
          <a ng-click="openOnlySelected();" rel="tooltip" ng-hide="role(1);" title="View only selected prepids" ng-href="#">
            <i class="icon-th-list"></i>
          </a>
          <a ng-href="/pmp/present?r={{selected_prepids.join()}}" rel="tooltip" title="View announced statistics for selected prepids" target="_blank">
            <i class="icon-picture"></i>
          </a>
          <a ng-href="/pmp/present?r={{selected_prepids.join()}}&m=true" rel="tooltip" title="View growing statistics for selected prepids" target="_blank">
            <i class="icon-film"></i>
          </a>
          <a ng-href="/pmp/historical?r={{selected_prepids.join()}}" rel="tooltip" title="View historical statistics for selected prepids" target="_blank">
            <i class="icon-facetime-video"></i>
          </a>
          <input type="checkbox" value="ToggleAll" ng-click="toggleAll()" rel="tooltip" title="Toggle select all" style="margin-bottom: 8px;" ng-checked="result.length == selected_prepids.length">
        </span>
      </div>

    </div>
  </span>
</body>

</html>
