<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <base href="/mcm/">
        <title>Requests page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/build/mcmcss.css" rel="stylesheet"/>

        <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
        <script type="text/javascript" src="scripts/build/mcm.deps2.js"></script>

        <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui.bootstrap', 'pasvaz.bindonce']).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
        <![endif]-->
        <![if !IE]>
          <script type="text/javascript">
           var testApp = angular.module('testApp', ['ui.bootstrap', 'pasvaz.bindonce']).config(function($locationProvider){$locationProvider.html5Mode(true);});
          </script>
        <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/requests_ctrl.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
      <tabs>
        <pane heading="Select View" active="tabsettings.view.active">
          <select-well ng-if="selectionReady" database="{{dbName}}" selection="requests_defaults" always-show="true"></select-well>
        </pane>
        <pane heading="List from file" active="tabsettings.file.active">
          <div class="control-group">
            List request from a list file: <ddl-file-reader ng-model="cf"> </ddl-file-reader>
            <button class="btn btn-mini" align="middle" ng-click="upload(cf);">Upload</button>
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Lists_Requests" rel="tooltip" title="Help on listing from file"><i class="icon-question-sign"></i></a>
          </div>
        </pane>
        <pane heading="Navigation" active="tabsettings.navigation.active">
          <load-fields></load-fields>
        </pane>
        <pane heading="Output Dataset" active="tabsettings.output.active">
          <form class="form-inline">
            <input type="text" class="input-xxlarge" maxlength="200" placeholder="dataset name as shown in DAS" ng-model="dataset_name_in_das">
            <a class="btn btn-mini" ng-href='requests?produce={{dataset_name_in_das}}' target="_self">Search</a>
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Search_by_Dataset" rel="tooltip" title="Help for search by output dataset"> <i class='icon-question-sign'></i></a>
          </form>
        </pane>
      </tabs>
    </div><!--End of container-->

    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in requests_defaults" ng-if="column.select" ng-switch on="column.text" style="white-space: nowrap;">
            <div ng-switch-when="Actions">
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
            </div>
            <div ng-switch-default>
              {{column.text}} <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#requests_{{column.db_name}}" rel="tooltip" title="Glossary for {{column.text}}"><i class="icon-question-sign"></i></a>
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result | orderBy:sort.column: sort.descending | filter: filt" style="white-space: nowrap;">
          <td ng-repeat="value in requests_defaults" ng-if="value.select">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-click="open_isSureModal('delete', data.prepid)" rel="tooltip" ng-hide="role(1);" title="Delete request" ng-href="#">
                  <i class="icon-minus-sign"></i>
                </a>
                <!--[IF IE]>
                <a ng-href='edit#?db_name=requests&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <![endif]-->
                <![if !IE]>
                <a ng-href='edit?db_name=requests&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <![endif]>
                <a ng-click="openCloneModal(data.prepid, data.pwg, data.member_of_campaign)" rel="tooltip" ng-hide="role(1);" title="Clone Request" ng-href="#">
                  <i class="icon-share-alt"></i>
                </a>
                <a ng-click="open_isSureModal('reset',data.prepid)" rel="tooltip" title="Reset" ng-hide="role(1);" ng-href="#">
                  <i class="icon-repeat"></i>
                </a>
                <a ng-click="open_isSureModal('option_reset',data.prepid)" rel="tooltip" title="Option Reset" ng-hide="role(1);" ng-href="#">
                  <i class="icon-share"></i>
                </a>
                <a ng-click="open_isSureModal('approve',data.prepid)" rel="tooltip" title="Next step" ng-hide="role(1);" ng-href="#">
                  <i class="icon-chevron-right"></i>
                </a>
                <a ng-href='public/restapi/requests/get/{{data.prepid}}' rel="tooltip" title="Get dictionary" target="_self">
                  <i class="icon-download-alt"></i>
                </a>
                <a ng-href='public/restapi/requests/get_setup/{{data.prepid}}' rel="tooltip" title="Get setup command" target="_self">
                  <i class="icon-download"></i>
                </a>
                <a ng-href='public/restapi/requests/get_test/{{data.prepid}}' rel="tooltip" title="Get test command" target="_self">
                  <i class="icon-ok-circle"></i>
                </a>
                <a ng-href='restapi/requests/get_upload/{{data.prepid}}' rel="tooltip" title="Get upload command" ng-hide="role(3);" target="_self">
                  <i class="icon-upload"></i>
                </a>
                <a ng-href='restapi/requests/get_inject/{{data.prepid}}' rel="tooltip" title="Get injection command" ng-hide="role(3);" target="_self">
                  <i class="icon-italic"></i>
                </a>
                <a ng-click="register(data.prepid)" rel="tooltip" title="Register to the request {{data.prepid}}" ng-href="#">
                  <i class="icon-map-marker"></i>
                </a>
                <a ng-click="openNotifyModal(data.prepid)" rel="tooltip" title="Notify" ng-href="#">
                  <i class="icon-envelope"></i>
                </a>
                <!--<a ng-click="open_isSureModal('hello',data.prepid)" rel="tooltip" ng-hide="role(3);" title="Rewind status" ng-href="#">
                  <i class="icon-step-backward"></i>
                </a>-->
                <a ng-click="open_isSureModal('soft_reset',data.prepid)" rel="tooltip" title="Soft Reset" ng-hide="role(3);" ng-href="#">
                  <i class="icon-step-backward"></i>
                </a>
                <a ng-click="open_isSureModal('toggle',data.prepid)" rel="tooltip" ng-hide="role(4);" title="Toggle status" ng-href="#">
                  <i class="icon-step-forward"></i>
                </a>
                <a ng-href='chained_requests?contains={{data.prepid}}' rel="tooltip" title="View chains containing {{data.prepid}}" target="_self">
                  <i class="icon-indent-left"></i>
                </a>
                <a ng-href="injectAndLog?prepid={{data.prepid}}" rel="tooltip" title="Submit" ng-hide="role(3) || data.status!='approved' || data.approval!='submit';" target="_self">
                  <i class="icon-play-circle"></i>
                </a>
                <a ng-click="inspect(data.prepid)" rel="tooltip" ng-hide="role(3);" title="Inspect status of {{data.prepid}}" ng-href="#">
                  <i class="icon-screenshot"></i>
                </a>
                <a ng-click="single_step('update_stats',data.prepid)" rel="tooltip" ng-hide="role(4);" title="Update status of {{data.prepid}} in stats DB" ng-href="#">
                  <i class="icon-refresh"></i>
                </a>
                <a ng-href="injection_status?prepid={{data.prepid}}" rel="tooltip" ng-hide="role(3) || ( data.status!='approved' || data.approval!='submit');" title="See injection log for {{data.prepid}}" target="_self">
                  <i class="icon-facetime-video"></i>
                </a>
                <a ng-click="open_isSureModal('forcecomplete', data.prepid)" rel="tooltip" ng-if="data.status == 'submitted'" ng-hide="role(1);" title="Add request to be force completed" ng-href="#">
                  <i class="icon-gift"></i>
                </a>
                <a ng-href="requests?prepid={{data.prepid}}&allRevisions" rel="tooltip" title="See all revisions for {{data.prepid}}" ng-hide="role(2);" target="_self">
                  <i class="icon-list-alt"></i>
                </a>
                <a ng-href="/pmp/present?r={{data.prepid}}" rel="tooltip"
                   title="View announced statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-picture"></i>
                </a>
                <a ng-href="/pmp/present?r={{data.prepid}}&m=true" rel="tooltip"
                   title="View growing statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-film"></i>
                </a>
                 <a ng-show="data.status == 'done' || data.status == 'submitted'" ng-href="/pmp/historical?r={{data.prepid}}" rel="tooltip"
                   title="View historical statistics for {{data.prepid}}" target="_blank">
                  <i class="icon-facetime-video"></i>
                </a>
                <a ng-if="data.status == 'done' || data.status == 'submitted'" ng-href="{{getLinktoDmytro(data.reqmgr_name)}}" rel="tooltip"
                   title="Computing's monitoring for {{data.prepid}}" target="_blank">
                  <i class="icon-camera"></i>
                </a>
                <input type="checkbox" ng-click="add_to_selected_list(data.prepid)" ng-checked="selected_prepids.indexOf(data.prepid) != -1">
                <a ng-show="action_status[data.prepid]==true" > <font color=green>{{action_report[data.prepid]}}</font></a>
                <a ng-show="action_status[data.prepid]==false" > <font color=red>{{action_report[data.prepid]}}</font></a>
              </div>
              <div ng-switch-when="Approval" align="center">
                <i class="{{approvalIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
                <a ng-href='{{getLocation()}}&approval={{data[value.db_name]}}' rel="tooltip" title="Show all requests in approval {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Status" align="center">
                <i class="{{statusIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
                <a ng-href='{{getLocation()}}&status={{data[value.db_name]}}' rel="tooltip" title="Show all requests in status {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Input dataset">
                <a ng-href='https://cmsweb.cern.ch/das/request?input={{data[value.db_name]}}' rel="tooltip" title="Link to DAS" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Pileup dataset name">
                <a ng-href='https://cmsweb.cern.ch/das/request?input={{data[value.db_name]}}' rel="tooltip" title="Link to DAS" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Dataset name">
                <a ng-href='requests?dataset_name={{data[value.db_name]}}' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <!--<a ng-href='{{getLocation()}}&dataset_name={{data[value.db_name]}}' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>-->
                <a ng-href='chained_requests?dataset_name={{data[value.db_name]}}' rel="tooltip" title="Show chained requests for {{data[value.db_name]}}" target="_self"><i class="icon-indent-left"></i></a>
              </div>
              <div ng-switch-when="Cmssw release">
                <a ng-href='requests?cmssw_release={{data[value.db_name]}}' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Mcdb id">
                <a ng-href='requests?mcdb_id={{data[value.db_name]}}' rel="tooltip" title="Show requests for mcdb ID {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="PrepId">
                <a ng-href='requests?prepid={{data[value.db_name]}}' rel="tooltip" title="View only {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <custom-actor-list prepid="data[value.db_name]"></custom-actor-list>
                <!-- <a ng-href='public/restapi/requests/get_actors/{{data[value.db_name]}}' rel="tooltip" title="View registered users" target="_self"><i class="icon-user"></i></a> -->
                <a ng-show='data.reqmgr_name.length!=0' ng-href='batches?contains={{data.prepid}}' rel="tooltip" title="View batches containing {{data.prepid}}" target="_self"><i class="icon-tags"></i></a>
                <a ng-href="admin/_utils/document.html?requests/{{data[value.db_name]}}" rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
	            <div ng-switch-when="Pwg">
		            <a ng-href='{{getLocation()}}&pwg={{data[value.db_name]}}' rel="tooltip" title="Show all requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
              <div ng-switch-when="Approvals">
                <div custom-approval ng-model="data[value.db_name]"></div>
              </div>
	          <div ng-switch-when="Notes">
		        <div style="width:400px"><pre class="notes">{{data[value.db_name]}}</pre></div>
	          </div>
              <div ng-switch-when="Sequences">
                <div sequence-display ng-model="data.prepid"></div>
              </div>
              <div ng-switch-when="Extension" ng-show="data[value.db_name]" align="center">
                <i class="icon-ok"></i> Number: {{data[value.db_name]}}
              </div>
	            <div ng-switch-when="Keep output" align="center">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="keep in data[value.db_name] track by $index">
                    <i class="icon-ok-sign" ng-show="keep"></i>
                    <i class="icon-remove-sign" ng-show="!keep"></i>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Config id">
                <ul style="margin-bottom: 0px;">
                    <li ng-show="isDevMachine();" ng-repeat="configid in data[value.db_name]"> <a ng-href='https://cmsweb-testbed.cern.ch/couchdb/reqmgr_config_cache/{{configid}}/configFile' rel="tooltip" title="View production configuration file {{configid}}" target="_self"><i class="icon-th"></i></a></li>
                    <li ng-show="!isDevMachine();" ng-repeat="configid in data[value.db_name]"> <a ng-href='https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/{{configid}}/configFile' rel="tooltip" title="View production configuration file {{configid}}" target="_self"><i class="icon-th"></i></a></li>
                </ul>
              </div>
              <div ng-switch-when="Flown with">
                <a ng-show="data[value.db_name]" ng-href='{{getLocation()}}&flown_with={{data[value.db_name]}}' rel="tooltip" title="View requests created with {{data[value.db_name]}}" target="_self">{{data[value.db_name]}} <i class="icon-folder-open"></i></a>
                <a ng-show="data[value.db_name]" ng-href='flows?prepid={{data[value.db_name]}}' rel="tooltip" title="View details of the flow {{data[value.db_name]}}" target="_self"><i class="icon-magnet"></i></a>
              </div>
              <div ng-switch-when="Submission details">
                <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in data[value.db_name]">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>
                </dl>
              </div>
              <div ng-switch-when="Output dataset">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="ds in data[value.db_name]">
                    <a ng-href='https://cmsweb.cern.ch/das/request?input={{ds}}' rel="tooltip" title="Link to DAS" target="_self">{{ds}}</a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Generators">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="gen in data[value.db_name]">
                    {{gen}}
                  </ul>
                </div>
              <div ng-switch-when="Generator parameters">
                <div generator-params ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Member of chain">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="chain in data[value.db_name] | orderBy: 'toString()'">
                    <a ng-href='chained_requests?prepid={{chain}}' rel="tooltip" title="View details of the chain" target="_self">{{chain}}<i class="icon-indent-left"></i></a>
                    <a ng-href='requests?member_of_chain={{chain}}' rel="tooltip" title="View request in chain {{chain}}" target="_self"><i class="icon-folder-open"></i></a>
                    <a ng-href="#" rel="tooltip" title="Reserve and approve chain" ng-click="reserveAndApprove(chain);" ng-hide="role(3);">
                      <i class="icon-resize-full"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Name of fragment">
                <div ng-show="data[value.db_name];">
                  <a ng-href='https://raw.githubusercontent.com/cms-sw/genproductions/{{data["fragment_tag"]}}/python/{{data[value.db_name].replace("Configuration/GenProduction/python/", "").replace("Configuration/GenProduction/","")}}' target="_self" ng-show='data["fragment_tag"];'>{{data[value.db_name]}}</a>
                  <a ng-href='https://github.com/cms-sw/genproductions' target="_self" ng-hide='data["fragment_tag"];'>github repo</a>
                  <a ng-href='http://cmssw.cvs.cern.ch/cgi-bin/cmssw.cgi/CMSSW/{{data[value.db_name]}}?revision={{data["fragment_tag"]}}&content-type=text%2Fplain' target="_self" ng-show='data["fragment_tag"];'>, old file in cvs</a>
                  <a ng-href='http://cmssw.cvs.cern.ch/cgi-bin/cmssw.cgi/CMSSW/Configuration/GenProduction/' target="_self" ng-hide='data["fragment_tag"];'>,cvs repo </a>
                </div>
              </div>
              <div ng-switch-when="Fragment">
                <a ng-href='public/restapi/requests/get_fragment/{{data.prepid}}/0' rel="tooltip" title="View fragment" ng-hide="!data[value.db_name] || data[value.db_name]=='';" target="_self">
                  <i class="icon-fullscreen"></i>
                </a>
              </div>
              <div ng-switch-when="Member of campaign">
                <a ng-href='{{getLocation()}}&member_of_campaign={{data[value.db_name]}}' rel="tooltip" title="View request for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <a ng-href='campaigns?prepid={{data[value.db_name]}}' rel="tooltip" title="View details of the campaign {{data[value.db_name]}}" target="_self"><i class="icon-book"></i></a>
              </div>
              <div ng-switch-when="Validation">
                <ul style="margin-bottom: 0px;">
                  <li ng-show="data[value.db_name].valid != undefined"><i class="icon-ok" ng-show="data[value.db_name].valid"></i> <i class="icon-remove" ng-show="!data[value.db_name].valid"></i></li>
                  <li ng-show="data[value.db_name].nEvents != undefined">{{numberWithCommas(data[value.db_name].nEvents)}} events</li>
                  <li ng-show="data[value.db_name].dqm != undefined"> dqm
                    <a ng-show="isDevMachine()" href="https://cmsweb-testbed.cern.ch/dqm/relval/start?runnr=1;dataset={{data[value.db_name].dqm}};workspace=Everything;root=Generator;sampletype=offline_relval" rel="tooltip" title="Go to the DQM gui for {{data[value.db_name].dqm}}" target="_blank"><i class="icon-th-large"></i></a>
                    <a ng-show="!isDevMachine()" href="https://cmsweb.cern.ch/dqm/relval/start?runnr=1;dataset={{data[value.db_name].dqm}};workspace=Everything;root=Generator;sampletype=offline_relval" rel="tooltip" title="Go to the DQM gui for {{data[value.db_name].dqm}}" target="_blank"><i class="icon-th-large"></i></a>
                  </li>
                  <li ng-show="data[value.db_name].time_multiplier != undefined">
                    Length: {{data[value.db_name].time_multiplier}} * 8h = {{8 * data[value.db_name].time_multiplier}}h
                  </li>
		              <!--<li ng-repeat="att in data[value.db_name]">
		                {{att}}
		              </li>-->
                </ul>
                <!--<div ng-bind-html-unsafe="linkify(data[value.db_name])"></div>-->
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Tags">
                  <tokenfield ng-disabled="true" on-click="findToken" tokens="data[value.db_name]"/>
              </div>
              <div ng-switch-when="Total events" align="right">
                {{numberWithCommas(data[value.db_name])}}
              </div>
              <div ng-switch-when="Completed events" align="right">
                {{numberWithCommas(data[value.db_name])}}
              </div>
              <div ng-switch-when="Reqmgr name">
                <reqmgr-Name ng-model="data[value.db_name]" prepid="data.prepid"></reqmgr-Name>
              </div>
              <div ng-switch-when="Block black list">
                <ul>
                  <li ng-repeat="elem in data[value.db_name]">{{elem}}</li>
                </ul>
              </div>
              <div ng-switch-when="Block white list">
                <ul>
                  <li ng-repeat="elem in data[value.db_name]">{{elem}}</li>
                </ul>
              </div>
              <div ng-switch-when="Analysis id">
                <ul>
                  <li ng-repeat="elem in data[value.db_name]">{{elem}}</li>
                </ul>
              </div>
              <div ng-switch-when="Process string">
                <a ng-href='requests?process_string={{data[value.db_name]}}' rel="tooltip" title="View only process_string={{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Memory" align="center">
                {{data[value.db_name]}}
                <a class="label label-info" ng-show="data[value.db_name]" rel="tooltip" title="megabytes" ng-href="#">MB</a>
              </div>
              <div ng-switch-when="Size event" align="center">
                {{data[value.db_name]}}
                <a class="label label-info" ng-show="data[value.db_name]" rel="tooltip" title="kilobytes" ng-href="#">kB</a>
              </div>
              <div ng-switch-when="Time event" align="center">
                {{data[value.db_name]}}
                <a class="label label-info" ng-show="data[value.db_name]" rel="tooltip" title="seconds" ng-href="#">s</a>
              </div>
              <div ng-switch-when="Filter efficiency" align="center">
                {{data["generator_parameters"].slice(-1)[0]["filter_efficiency"]}}
              </div>
              <div ng-switch-when="Transient output modules" align="left">
                <ul ng-repeat="elem in data[value.db_name] track by $index">
                  <li>
                    For sequence {{ $index +1 }}:
                    <ul>
                      <li ng-repeat="module_name in elem">{{ module_name }}</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Cadi line" align="center">
                <a ng-show="data[value.db_name]" rel="tooltip" title="Cadi line" ng-href="http://cms.cern.ch/iCMS/analysisadmin/cadilines?line={{data[value.db_name]}}">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Interested PWGs">
                <ul>
                  <li ng-repeat="elem in data[value.db_name]">
                    <!-- <a ng-href='{{getLocation()}}&interested_pwg={{elem}}' rel="tooltip" title="Show all requests where {{elem}} is interested PWG" target="_self">{{elem}}</a> -->
                    {{elem}}
                  </li>
                </ul>
              </div>
              <div ng-switch-when="PPD tags">
                <ul>
                  <li ng-repeat="elem in data[value.db_name]">
                    <!-- <a ng-href='{{getLocation()}}&ppd_tags={{elem}}' rel="tooltip" title="Show all requests that contain {{elem}} PPD tag" target="_self">{{elem}}</a> -->
                    {{elem}}
                  </li>
                </ul>
              </div>
              <div ng-switch-default align="center">{{data[value.db_name]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Notify MODAL-->
    <script type="text/ng-template" id="notifyModal.html"> <!--hidden modal template-->
      <div class="modal-header">
        <h4>Text to notify</h4>
      </div>  <!--end of modal header-->
      <div class="modal-body">
        <textarea ng-model="data.text" style="width:500px"></textarea>
      </div> <!--end of modal body-->
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="notify()" ng-disabled="data.text.length == 0">Notify</button>
        <button class="btn btn-warning cancel" ng-click="close()">Close</button>
      </div> <!--end of modal footer-->
    </script>
    <!-- END of Notify MODAL-->
    <!--   Submission  MODAL -->
        <script type="text/ng-template" id="submissionModal.html"> <!--hidden modal template-->
          <div class="modal-header">
            <h4>Submitted requests</h4>
          </div>  <!--end of modal header-->
          <div class="modal-body">
            <text>
              <div ng-repeat="elem in data.injectModalData">
                <span>Prepid: {{elem["prepid"]}}</span>
                <span>Message: {{elem["message"]}}</span>
                <span ng-switch="elem['results']">
                  <img ng-switch-when="false" ng-src="http://twiki.org/p/pub/TWiki05x01/TWikiDocGraphics/led-red.gif" rel="tooltip" title="Fail"/>
                  <img ng-switch-when="true" ng-src="http://twiki.org/p/pub/TWiki05x01/TWikiDocGraphics/led-green.gif" rel="tooltip" title="Success"/>
                </span>
              </div>
            </text>
          </div> <!--end of modal body-->
          <div class="modal-footer">
            <button class="btn btn-success" ng-click="openInjectStatus()" ng-disabled="!data.anySuccessful">See successful requests status</button>
            <button class="btn btn-warning cancel" ng-click="close()">Close</button>
          </div> <!--end of modal footer-->
        </script>
    <!--     END OF MODAL  -->
    <!--     Clone MODAL -->
        <script type="text/ng-template" id="cloneModal.html"> <!--hidden modal template-->
          <div class="modal-header">
            <h4>Clone request: {{data.cloneId}}</h4>
          </div>  <!--end of modal header-->
          <div class="modal-body">
            <select ng-model="data.clonePWG">
              <option ng-repeat="elem in allPWGs"  ng-selected="elem == data.clonePWG">{{elem}}</option>
            </select>
            <select ng-model="data.cloneCampaign">
              <option ng-repeat="elem in allCampaigns">{{elem}}</option>
            </select>
          </div> <!--end of modal body-->
          <div class="modal-footer">
            <button class="btn btn-success" ng-click="clone()" >Clone!</button>
            <button class="btn btn-warning cancel" ng-click="close()">Close</button>
          </div> <!--end of modal footer-->
        </script>
    <!--     END OF MODAL  -->
    <div class="row-fluid custom-footer">
      <div class="span5" style="margin-top:20px;">
        <span>
        Multiple selection buttons
        <!--[IF IE]>
        <a ng-href='edit_many#?db_name=requests&prepid={{selected_prepids.join()}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
          <i class="icon-wrench"></i>
        </a>
        <![endif]-->
        <![if !IE]>
        <a ng-href='edit_many?db_name=requests&prepid={{selected_prepids.join()}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
          <i class="icon-wrench"></i>
        </a>
        <![endif]>
        <a ng-click="open_isSureModal('reset', 'selected requests')" rel="tooltip" ng-hide="role(1);" title="Reset selected requests" ng-href="#">
         <i class="icon-repeat"></i>
        </a>
        <a ng-click="open_isSureModal('option reset', 'selected requests')" rel="tooltip" ng-hide="role(1);" title="Option Reset selected requests" ng-href="#">
         <i class="icon-share"></i>
        </a>
        <a ng-click="open_isSureModal('approve', 'selected requests')" rel="tooltip" title="Next step for selected requests" ng-hide="role(1);" ng-href="#">
         <i class="icon-chevron-right"></i>
        </a>
        <a ng-click="status_toggle()" rel="tooltip" ng-hide="role(3);" title="Toggle status for selected requests" ng-href="#">
         <i class="icon-flag"></i>
        </a>
        <a ng-click="submit_many()" rel="tooltip" ng-hide="role(3);" title="Submit selected requests" ng-href="#">
         <i class="icon-play-circle"></i>
        </a>
        <a ng-click="register_several()" rel="tooltip" title="Register to selected requests" ng-href="#">
          <i class="icon-map-marker"></i>
        </a>
        <a ng-click="openNotifyModal(data.prepid)" rel="tooltip" title="Notify selected prepids" ng-href="#">
          <i class="icon-envelope"></i>
        </a>
        <a ng-click="open_isSureModal('soft reset', 'selected requests')" rel="tooltip" ng-hide="role(3);" title="Soft reset selected requests" ng-href="#">
          <i class="icon-step-backward"></i>
        </a>
        <a ng-click="loadStats()" rel="tooltip" title="Load statistics" ng-href="#">
          <i class="icon-eye-open"></i>
        </a>
        <a ng-click="inspect_many()" rel="tooltip" ng-hide="role(3);" title="Inspect status of selected requests" ng-href="#">
          <i class="icon-screenshot"></i>
        </a>
        <a ng-href="injection_status?prepid={{selected_prepids.join()}}" rel="tooltip" ng-hide="role(3);" title="See injection logs" target="_self">
          <i class="icon-facetime-video"></i>
        </a>
        <a ng-click="get_list();" rel="tooltip" ng-hide="role(1);" title="View only selected prepids" ng-href="#">
          <i class="icon-th-list"></i>
        </a>
        <a ng-href="/pmp/present?r={{selected_prepids.join()}}" rel="tooltip"
          title="View announced statistics for selected prepids" target="_blank">
          <i class="icon-picture"></i>
        </a>
        <a ng-href="/pmp/present?r={{selected_prepids.join()}}&m=true" rel="tooltip"
           title="View growing statistics for selected prepids" target="_blank">
          <i class="icon-film"></i>
        </a>
        <!-- TO-DO we should check if prepid is submitted/done status: how to? -->
        <a ng-href="/pmp/historical?r={{selected_prepids.join()}}" rel="tooltip"
           title="View historical statistics for selected prepids" target="_blank">
          <i class="icon-facetime-video"></i>
        </a>
        <input type="checkbox" value="ToggleAll" ng-click="toggleAll()" rel="tooltip" title="Toggle select all" style="margin-bottom: 8px;" ng-checked="result.length == selected_prepids.length">
      </span>
      </div>

    </div>
    <!-- <a ng-href='/mcm' target='_self'><div class="navbar-fixed-bottom" id="news_banner"></div></a> -->
  </span>
  </body>
</html>
