<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
<head>
        <title>Requests page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
         <script type="text/javascript" src="scripts/underscore.js"></script>
         <script type="text/javascript" src="scripts/jquery-1.10.1.min.js"></script>
         <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
         <script type="text/javascript" src="scripts/angular.min.js"></script>
         <script src="scripts/ui-bootstrap-custom-tpls-0.1.0-SNAPSHOT.js"></script>
         <!--<script src="scripts/ui-bootstrap-custom-tpls-0.3.0.min.js"></script>-->
         
         <!--[IF IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
           </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
         <script src="scripts/main_controller.js"></script>
         <script src="scripts/requests_ctrl.js"></script>
</head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
    <!-- <div ng-controller="TabsDemoCtrl"> -->
      <tabs>
        <pane heading="Select View">
        <div class="well">
          <div>
            <!-- <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false"> -->
            <!-- <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true"> -->
            <!-- <span ng-show="show_well == true"> -->
              <input type="button" value="SelectAll" ng-click="select_all_well()" ng-hide="selectedCount">
              <input type="button" value="UnSelectAll" ng-click="select_all_well()" ng-show="selectedCount">
            <!-- </span> -->
          </div>
          
          <span ng-repeat="value in requests_defaults" style="width:160px;float:inline;">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="value.select" ng-click="calculate_shown()"> {{value.text}}
            </label>
          </span>
          <input type="button" value="saveCookie" ng-click="saveCookie()">
          <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#View_Characteristics" rel="tooltip" title="Help with view characteristics" target="_blank"><i class="icon-question-sign"></i></a>
        </div><!--end of well for table columns-->
      </pane>
        <pane heading="Super search">
          <form class="form-inline">
            <input type="text" class="input-mini" maxlength="40" ng-repeat="elem in searchable_fields" ng-model="elem.value" placeholder="{{elem.name}}">
            <button class="btn btn-mini" ng-click="superSearch(searchable_fields);">Search!</button>
            <!--<a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#requests_search" rel="tooltip" title="Glossary for search"><i class="icon-question-sign"></i></a>-->
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Search_Requests" rel="tooltip" title="Help for search"><i class="icon-question-sign"></i></a>
          </form>
        </pane>
        <pane heading="List from file">
          <div class="control-group">
            List request from a list file: <ddl-file-reader ng-model="cf"> </ddl-file-reader>
            <button class="btn btn-mini" align="middle" ng-click="upload(cf);">Upload</button>
            <!--<a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#requests_file_listing" rel="tooltip" title="Glossary for listing from file"><i class="icon-question-sign"></i></a>-->
            <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcM#Lists_Requests" rel="tooltip" title="Help on listing from file"><i class="icon-question-sign"></i></a>
          </div>
        </pane>
      </tabs>
    <!-- </div> -->
      
    </div><!--End of container-->
    <table class="table table-bordered table-stripped" style="owerflow:auto;">
      <thead>
        <tr>
          <th ng-repeat="column in requests_defaults" ng-show="column.select" ng-switch on="column.text" style="white-space: nowrap;">
            <div ng-switch-when="Actions">
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
            </div>
            <div ng-switch-default>
              {{column.text}} <a ng-href="https://twiki.cern.ch/twiki/bin/view/CMS/PdmVMcMGlossary#requests_{{column.db_name}}" rel="tooltip" title="Glossary for {{column.text}}"><i class="icon-question-sign"></i></a>
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
              <input type="text" class="input-mini" ng-model="filt[column['db_name']]">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result | orderBy:sort.column: sort.descending | filter: filt" style="white-space: nowrap;">
          <td ng-repeat="value in requests_defaults" ng-show="value.select">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-click="open_isSureModal('delete', data.prepid)" rel="tooltip" ng-hide="role(4);" title="Delete request">
                  <i class="icon-minus-sign"></i>
                </a>
                <!--[IF IE]>
                <a ng-href='edit#?db_name=requests&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <![endif]-->
                <![if !IE]>
                <a ng-href='edit?db_name=requests&prepid={{data.prepid}}' rel="tooltip" title="Edit details" ng-hide="role(1);" target="_self">
                  <i class="icon-wrench"></i>
                </a>
                <![endif]>
                <a ng-click="clone(data.prepid)" rel="tooltip" ng-hide="role(1);" title="Clone Request">
                  <i class="icon-share-alt"></i>
                </a>
		<!-- I commented this one out because I do not want gen contacts to go back and forth on validation+defined steps-->
                <!--- <a ng-click="open_isSureModal('reset',data.prepid)" rel="tooltip" title="Reset" ng-show="!role(3) || data.status=='validation';" target="_self">-->
                <a ng-click="open_isSureModal('reset',data.prepid)" rel="tooltip" title="Reset" ng-hide="role(2);" target="_self">
                  <i class="icon-repeat"></i>
                </a>
                <a ng-click="open_isSureModal('approve',data.prepid)" rel="tooltip" title="Next step" ng-hide="role(1);">
                  <i class="icon-chevron-right"></i>
                </a>
                <a ng-href='public/restapi/requests/get/{{data.prepid}}' rel="tooltip" title="Get dictionary" target="_self">
                  <i class="icon-download-alt"></i>
                </a>
                <a ng-href='public/restapi/requests/get_setup/{{data.prepid}}' rel="tooltip" title="Get Setup" target="_self">
                  <i class="icon-download"></i>
                </a>
                <a ng-click="register(data.prepid)" rel="tooltip" title="Register to the request {{data.prepid}}">
                  <i class="icon-map-marker"></i>
                </a>
                <a ng-click="notifyUsers(data.prepid)" rel="tooltip" ng-hide="role(1);" title="Notify">
                  <i class="icon-envelope"></i>
                </a>
		<a ng-click="open_isSureModal('hello',data.prepid)" rel="tooltip" ng-hide="role(3);" title="Rewind status">
		  <i class="icon-step-backward"></i>
		</a>
                <a ng-click="open_isSureModal('toggle',data.prepid)" rel="tooltip" ng-hide="role(3);" title="Toggle status">
                  <i class="icon-step-forward"></i>
                </a>
                <a ng-href='actions?prepid={{data.prepid}}&select={{data.member_of_campaign}}' rel="tooltip" title="View action on this request" target="_self"> 
                  <i class="icon-qrcode"></i>
                </a>
                <a ng-href="injectAndLog?prepid={{data.prepid}}" rel="tooltip" title="Submit" ng-hide="role(3);" target="_self">
                  <i class="icon-play-circle"></i>
                </a>
                <a ng-click="inspect(data.prepid)" rel="tooltip" ng-hide="role(3);" title="Inspect status of this request">
                  <i class="icon-screenshot"></i>
                </a>
                <input type="checkbox" ng-click="add_to_selected_list(data.prepid)" ng-checked="selected_prepids.indexOf(data.prepid) != -1">
                <a ng-show="action_status[data.prepid]==true" > <font color=green>{{action_report[data.prepid]}}</font></a>
                <a ng-show="action_status[data.prepid]==false" > <font color=red>{{action_report[data.prepid]}}</font></a>
              </div>
              <div ng-switch-when="Approval" align="center">
                <i class="{{approvalIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
                <a ng-href='{{getLocation()}}&approval={{data[value.db_name]}}' rel="tooltip" title="Show all requests in approval {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Status" align="center">
                <i class="{{statusIcon(data[value.db_name])}}" rel="tooltip" title="{{data[value.db_name]}}"></i>
                <a ng-href='{{getLocation()}}&status={{data[value.db_name]}}' rel="tooltip" title="Show all requests in status {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Input filename">
                <a ng-href='https://cmsweb.cern.ch/das/request?instance=cms_dbs_prod_global&input={{data[value.db_name]}}' rel="tooltip" title="Link to DAS" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Pileup dataset name">
                <a ng-href='https://cmsweb.cern.ch/das/request?instance=cms_dbs_prod_global&input={{data[value.db_name]}}' rel="tooltip" title="Link to DAS" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="Dataset name">
                <a ng-href='requests?dataset_name={{data[value.db_name]}}' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <!--<a ng-href='{{getLocation()}}&dataset_name={{data[value.db_name]}}' rel="tooltip" title="Show requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>-->
                <a ng-href='chained_requests?dataset_name={{data[value.db_name]}}' rel="tooltip" title="Show chained requests for {{data[value.db_name]}}" target="_self"><i class="icon-indent-left"></i></a>
              </div>
              <div ng-switch-when="MCDBId" ng-hide="data[value.db_name]<=0">
                <a ng-href='{{getLocation()}}&mcdb_id={{data[value.db_name]}}' rel="tooltip" title="Show requests for mcdb ID {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
              </div>
              <div ng-switch-when="PrepId">
                <a ng-href='requests?prepid={{data[value.db_name]}}' rel="tooltip" title="View only {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <a ng-href='public/restapi/requests/get_actors/{{data[value.db_name]}}' rel="tooltip" title="View registered users" target="_self"><i class="icon-user"></i></a>
		<a ng-show='data.reqmgr_name.length!=0' ng-href='batches?contains={{data.prepid}}' rel="tooltip" title="View batches containing {{data.prepid}}" target="_self"><i class="icon-tags"></i></a>
                <a ng-href="admin/_utils/document.html?requests/{{data[value.db_name]}}" rel="tooltip" title="Admin view of {{data[value.db_name]}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
              </div>
	            <div ng-switch-when="Pwg"> 
		            <a ng-href='{{getLocation()}}&pwg={{data[value.db_name]}}' rel="tooltip" title="Showall requests for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
	            </div>
              <div ng-switch-when="Approvals">
                <div custom-approval ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Sequences">
                <div sequence-display ng-model="data.prepid"></div>
              </div>
              <div ng-switch-when="Extension" ng-show="data[value.db_name]" align="center">
                <i class="icon-ok"></i>
              </div>
	            <div ng-switch-when="Keep output" align="center">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="keep in data[value.db_name]">
                    <i class="icon-ok-sign" ng-show="keep"></i>
                    <i class="icon-remove-sign" ng-show="!keep"></i>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Config id">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="req in data[value.db_name]">
                    <a ng-show="isDevMachine();" ng-repeat="configid in req" ng-href='https://cmsweb-testbed.cern.ch/couchdb/reqmgr_config_cache/{{configid}}/configFile' rel="tooltip" title="View production configuration file {{configid}}" target="_self"><i class="icon-th"></i></a>
                    <a ng-show="!isDevMachine();" ng-repeat="configid in req" ng-href='https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/{{configid}}/configFile' rel="tooltip" title="View production configuration file {{configid}}" target="_self"><i class="icon-th"></i></a>
                  </li>
                </ul>
              </div>
              <div ng-switch-when="Flown with">
                <a ng-show="data[value.db_name]" ng-href='{{getLocation()}}&flown_with={{data[value.db_name]}}' rel="tooltip" title="View requests created with {{data[value.db_name]}}" target="_self">{{data[value.db_name]}} <i class="icon-folder-open"></i></a>
                <a ng-show="data[value.db_name]" ng-href='flows?prepid={{data[value.db_name]}}' rel="tooltip" title="View details of the flow {{data[value.db_name]}}" target="_self"><i class="icon-magnet"></i></a>
              </div>
              <div ng-switch-when="Submission details">
                <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in data[value.db_name]">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>                
                </dl>
              </div>
              <div ng-switch-when="Generators">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="gen in data[value.db_name]">
                    {{gen}}
                  </ul>
                </div>
              <div ng-switch-when="Generator parameters">
                <div generator-params ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Member of chain">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="chain in data[value.db_name]">
                    <a ng-href='chained_requests?prepid={{chain}}' rel="tooltip" title="View details of the chain" target="_self">{{chain}} <i class="icon-indent-left"></i></a>
                  </li>
                </ul>
              </div>
	            <div ng-switch-when="Name of fragment">
		            <a ng-href='http://cmssw.cvs.cern.ch/cgi-bin/cmssw.cgi/CMSSW/{{data[value.db_name]}}' target="_self" ng-hide='data["cvs_tag"];'>{{data[value.db_name]}}</a>
		            <a ng-href='http://cmssw.cvs.cern.ch/cgi-bin/cmssw.cgi/CMSSW/{{data[value.db_name]}}?revision={{data["cvs_tag"]}}&content-type=text%2Fplain' target="_self" ng-show='data["cvs_tag"];'>{{data[value.db_name]}}</a>
	            </div>
              <div ng-switch-when="Fragment">
                <a ng-href='public/restapi/requests/get_fragment/{{data.prepid}}/0' rel="tooltip" title="View fragment" ng-hide="!data[value.db_name] || data[value.db_name]=='';" target="_self">
                  <i class="icon-fullscreen"></i>
                </a>
              </div>
              <div ng-switch-when="Member of campaign">
                <a ng-href='{{getLocation()}}&member_of_campaign={{data[value.db_name]}}' rel="tooltip" title="View request for {{data[value.db_name]}}" target="_self">{{data[value.db_name]}}</a>
                <a ng-href='campaigns?prepid={{data[value.db_name]}}' rel="tooltip" title="View details of the campaign {{data[value.db_name]}}" target="_self"><i class="icon-book"></i></a>
		
              </div>
              <div ng-switch-when="Validation">
                <div ng-bind-html-unsafe="linkify(data[value.db_name])"></div>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-when="Reqmgr name">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="rqmngr in data[value.db_name]">
		    <a ng-href='batches?contains={{rqmngr.name}}' rel="tooltip" title="View batches containing {{rqmngr.name}}" target="_self"><i class="icon-tags"></i></a>
                    <a ng-show="isDevMachine();" ng-href='https://cmsweb-testbed.cern.ch/reqmgr/view/details/{{rqmngr["name"]}}' rel="tooltip" title="Details" target="_self">details</a>
                    <a ng-show="!isDevMachine();" ng-href='https://cmsweb.cern.ch/reqmgr/view/details/{{rqmngr["name"]}}' rel="tooltip" title="Details" target="_self">details</a>
                    ,<a ng-hide='stats_cache[rqmngr["name"]]' ng-href='http://cms-pdmv.cern.ch/stats/?RN={{rqmngr["name"]}}' rel="tooltip" title="Stats" target="_self"> stats</a>
                    <a ng-click='load_dataset_list(rqmngr["name"]);' ng-hide='stats_cache[rqmngr["name"]]' rel="tooltip" title="Load statistics"> <i class="icon-eye-open"></i></a>
		    <b><font color='red' ng-show='stats_cache[rqmngr["name"]] && !underscore.isObject(stats_cache[rqmngr["name"]])'> Stats Not Found</font></b>
		    <div ng-show='underscore.isObject(stats_cache[rqmngr["name"]])'>
		      <a ng-href='http://cms-pdmv.cern.ch/stats/?RN={{rqmngr["name"]}}' target="_self"> {{stats_cache[rqmngr["name"]].pdmv_evts_in_DAS}} events</a>
		      <a ng-hide="role(3);" ng-href='https://cmsweb.cern.ch/couchdb/workloadsummary/_design/WorkloadSummary/_show/histogramByWorkflow/{{rqmngr["name"]}}' rel="tooltip" title="Perf" target="_self">perf </a>
		      <a ng-hide="role(3);" ng-href='https://cmsweb.cern.ch/reqmgr/reqMgr/outputDatasetsByRequestName/{{rqmngr["name"]}}' rel="tooltip" title="DS" target="_self">output<a/>
		      <a ng-href='https://cms-pdmv.web.cern.ch/cms-pdmv/stats/growth/{{rqmngr["name"]}}.gif'><img width=150 ng-src='https://cms-pdmv.web.cern.ch/cms-pdmv/stats/growth/{{rqmngr["name"]}}.gif'/></a>
		      <ul style="margin-bottom: 0px;" ng-show='true;'>
                        <li ng-repeat='DS in stats_cache[rqmngr["name"]].pdmv_dataset_list'>
                          <a ng-href='https://cmsweb.cern.ch/das/request?instance=cms_dbs_prod_global&input={{DS}}' rel="tooltip" title="Link to {{DS}} in DAS" target="_self">{{DS}}</a>
                        </li>
                        <li ng-show='data["status"]=="done" && rqmngr.content.pdmv_dataset_name && !underscore.isObject(stats_cache[rqmngr["name"]])'>
                          <a ng-href='https://cmsweb.cern.ch/das/request?instance=cms_dbs_prod_global&input={{rqmngr.content.pdmv_dataset_name }}' rel="tooltip" title="Link to {{rqmngr.content.pdmv_dataset_name}} in DAS" target="_self">{{ rqmngr.content.pdmv_dataset_name}}</a>
                        </li>
		      </ul>
	            </div>
                  </li>
                </ul>
              </div>
              <div ng-switch-default align="center">{{data[value.db_name]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Are you Sure MODAL-->
    <div modal="isSure_Modal" close="closeisSureModal()" style="white-space: nowrap; width:710px;"> <!--hidden modal template-->
      <div class="modal-header">
        <h4>Are you sure to {{modal_action}} {{toggle_prepid}}?</h4>
      </div>  <!--end oFda.f modal header-->
      <div class="modal-footer">
        <!-- <img ng-show="loadNotify" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/> -->
        <button class="btn btn-warning" ng-click="sureTotoggle()">Yes</button>
        <button class="btn btn-success" ng-click="closeisSureModal()">No</button>
      </div> <!--end of modal footer-->
    </div>
    <!-- END of Notify MODAL-->
    <!-- Notify MODAL-->
    <div modal="notify_Modal" close="closeNotifyModal()" style="white-space: nowrap; width:710px;"> <!--hidden modal template-->
      <div class="modal-header">
        <h4>Text to notify</h4>
      </div>  <!--end oFda.f modal header-->
      <div class="modal-body">
        <textarea ng-model="notify_text" style="width: 664px;"></textarea>
      </div> <!--end of modal body-->
      <div class="modal-footer">
        <img ng-show="loadNotify" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <button class="btn btn-success" ng-click="Notify()" ng-disabled="notify_text.length == 0" ng-hide="loadNotify">Notify</button>
        <button class="btn btn-warning cancel" ng-click="closeNotifyModal()">Close</button>
      </div> <!--end of modal footer-->
    </div>
    <!-- END of Notify MODAL-->
    <!--     MODAL -->
        <div modal="submissionModal" close="closeModal()" style="white-space: nowrap; width:710px;"> <!--hidden modal template-->
          <div class="modal-header">
            <h4>Submitted requests</h4>
          </div>  <!--end of modal header-->
          <div class="modal-body">
            <text>
              <div ng-repeat="elem in injectModalData">
                <span>Prepid: {{elem["prepid"]}}</span>
                <span>Message: {{elem["message"]}}</span>
                <span ng-switch="elem['results']">
                  <img ng-switch-when="false" ng-src="http://twiki.org/p/pub/TWiki05x01/TWikiDocGraphics/led-red.gif" rel="tooltip" title="Fail"/>
                  <img ng-switch-when="true" ng-src="http://twiki.org/p/pub/TWiki05x01/TWikiDocGraphics/led-green.gif" rel="tooltip" title="Success"/>
                </span>
              </div>
            <text>
          </div> <!--end of modal body-->
          <div class="modal-footer">
            <button class="btn btn-success" ng-click="openInjectStatus()" ng-disabled="successfullSubmits.length == 0">See successful requests status</button>
            <button class="btn btn-warning cancel" ng-click="closeModal()">Close</button>
          </div> <!--end of modal footer-->
        </div>
    <!--     END OF MODAL  -->
    <div class="row-fluid">
      <div class="span5" style="margin-top:20px;">
        <span>
        Multiple selection buttons
        <a ng-click="previous_approval()" rel="tooltip" ng-hide="role(3);" title="Reset selected requests">
         <i class="icon-repeat"></i>
        </a>
        <a ng-click="next_approval()" rel="tooltip" title="Next step for selected requests" ng-hide="role(1);">
         <i class="icon-chevron-right"></i>
        </a>
        <a ng-click="status_toggle()" rel="tooltip" ng-hide="role(3);" title="Toggle status for selected requests">
         <i class="icon-flag"></i>
        </a>
        <a ng-click="submit_many()" rel="tooltip" ng-hide="role(3);" title="Submit selected requests">
         <i class="icon-play-circle"></i>
        </a>
        <a ng-click="register_several()" rel="tooltip" title="Register to selected requests">
          <i class="icon-map-marker"></i>
        </a>
        <a ng-click="notifyUsers(data.prepid)" rel="tooltip" ng-hide="role(1);" title="Notify selected prepids">
          <i class="icon-envelope"></i>
        </a>
        <a ng-click="loadStats()" rel="tooltip" title="Load statistics">
          <i class="icon-eye-open"></i>
        </a>
        <a ng-click="inspect_many()" rel="tooltip" ng-hide="role(3);" title="Inspect status of selected requests">
          <i class="icon-screenshot"></i>
        </a>
        <input type="checkbox" value="ToggleAll" ng-click="toggleAll()" rel="tooltip" title="Toggle select all" style="margin-bottom: 8px;">
      </span>
      </div>
      <div class="span2" style="margin-top:20px;">
        <span ng-show="got_results">
          Found {{ result.length}} results
        </span>
        <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font>
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font>
        </div>
      </div>
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>  
  </body>
</html>
