<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <title>Settings page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/ui-bootstrap-custom-tpls-0.1.0-SNAPSHOT.js"></script>
        <!--<script src="http://code.angularjs.org/1.0.7/angular-cookies.min.js"></script>-->
         <!--[IF IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
           </script>
         <![endif]-->
         <![if !IE]>
           <script type="text/javascript">
             var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
           </script>
         <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/settings_controller.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container" >
      <div class="span12" style="overflow: auto">
        <div class="well"> <!--well for user to select table columns-->
          <span style="float: left;">
            <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false">
            <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true">
            <span ng-show="show_well == true">
              <input type="button" value="SelectAll" ng-click="select_all_well()" ng-hide="selectedCount">
              <input type="button" value="UnSelectAll" ng-click="select_all_well()" ng-show="selectedCount">
            </span>
          </span>        
          <span ng-repeat="value in defaults" ng-show="show_well">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="value.select" ng-click="calculate_shown()"> {{value.text}}
            </label>
          </span>
          <input type="button" value="saveCookie" ng-click="saveCookie()" ng-show="show_well">
        </div><!--end of well for table columns-->
      </div> <!--End of span12-->
    </div> <!--End of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in defaults" ng-show="column.select" ng-switch on="column.text">
	          <div ng-switch-when="Actions">
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
	          </div>
	          <div ng-switch-default>
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
	          </div>
          </th>
        </tr>
      </thead>
      <tbody>
      	<tr ng-repeat="settings_info in result | orderBy:sort.column: sort.descending">
      	  <td ng-repeat="data in defaults" ng-show="data.select">
      	  <div ng-switch on="data.text">
          <div ng-switch-when="Actions">
            <a rel="tooltip" title="Edit settings" ng-href="edit?db_name=settings&prepid={{settings_info['prepid']}}" ng-hide="role(4);" target="_self">
              <i class="icon-wrench"></i>
            </a>
      	    </div>
	  <div ng-switch-when="Notes">
	    <div style="width:400px"><pre>{{settings_info[data.db_name]}} </pre></div>
	  </div>
	  <div ng-switch-when="Value">
	    <pre>{{settings_info[data.db_name]}}</pre>
	  </div>
          <div ng-switch-default>
                {{settings_info[data.db_name]}}
          </div>
          </div>
      	  </td>
      	</tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="span5" style="margin-top:20px;">
      </div>
      <div class="span2" style="margin-top:20px;">
        <span ng-show="got_results">
          Found {{ result.length}} results
        </span>
        <img ng-show="pendingHTTP" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font>. Results: {{update['results']}}
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font>
        </div>
      </div> 
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </span>
  </body>
</html> 
