<!DOCTYPE html>
<html lang="eng" ng-app="testApp" xmlns:ng="http://angularjs.org" id="ng-app">
  <head>
        <base href="/mcm/">
        <title>Settings page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/build/mcmcss.css" rel="stylesheet"/>

        <script type="text/javascript" src="scripts/build/mcm.deps1.js"></script>
        <!--[IF IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(false);});
          </script>
        <![endif]-->
        <![if !IE]>
          <script type="text/javascript">
            var testApp = angular.module('testApp', ['ui.bootstrap']).config(function($locationProvider){$locationProvider.html5Mode(true);});
          </script>
        <![endif]>
        <script src="scripts/main_controller.js"></script>
        <script src="scripts/settings_controller.js"></script>
        <script src="scripts/notifications.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <span ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div style='margin-bottom: 5px' class="container">
        <select-well ng-if="selectionReady" database="{{dbName}}" selection="defaults"></select-well>
    </div>
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in defaults" ng-if="column.select" ng-switch on="column.text">
            <div ng-switch-when="Actions">
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
            </div>
            <div ng-switch-default>
              {{column.text}}
              <!-- SORTING lines -->
              <a rel="tooltip" title="Sort" ng-hide="selectedCls(column.db_name)"  ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-resize-vertical"></i>
              </a>
              <span ng-show="selectedCls(column.db_name)" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
                <i class="icon-chevron-up" ng-hide="sort.descending" rel="tooltip" title="Ascending"></i>
                <i class="icon-chevron-down" ng-show="sort.descending" rel="tooltip" title="Descending"></i>
              </span>
              <!-- END OF: SORTING lines -->
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="settings_info in result | orderBy:sort.column: sort.descending">
          <td ng-repeat="data in defaults" ng-if="data.select">
          <div ng-switch on="data.text">
            <div ng-switch-when="Prepid">
              <a ng-href="settings?prepid={{settings_info['prepid']}}" rel="tooltip" title="View only {{settings_info['prepid']}}" target="_self"> {{settings_info['prepid']}}</a>
              <a ng-href="admin/_utils/document.html?settings/{{settings_info['prepid']}}" rel="tooltip" title="Admin view of {{settings_info['prepid']}}" target="_self" ng-hide="role(4);"><i class="icon-star"></i></a>
            </div>
            <div ng-switch-when="Actions">
              <a rel="tooltip" title="Edit settings" ng-href="edit?db_name=settings&prepid={{settings_info['prepid']}}" ng-hide="role(4);" target="_self">
                <i class="icon-wrench"></i>
              </a>
            </div>
            <div ng-switch-when="Notes">
              <div style="width:400px"><pre class="notes">{{settings_info[data.db_name]}} </pre></div>
            </div>
            <div ng-switch-when="Value">
              <pre>{{settings_info[data.db_name]}}</pre>
            </div>
            <div ng-switch-default>
              {{settings_info[data.db_name]}}
            </div>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid custom-footer">
      <div class="span5" style="margin-top:20px;">
      </div>
    </div>
  </span>
  </body>
</html>
