<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="eng" ng-app="testApp">
  <head>
        <title>Actions page McM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script src="scripts/actions_controller.js"></script>
  </head> 
  <body ng-controller="resultsCtrl">
    <div ng-include="'HTML/navbar_template.html'"></div>
    <div class="container">
      <div class="span12" style="overflow: auto">
        <div align="middle" style="margin-top: 20px;"><!--div for selecting a campaing -->
            <select ng-change="select_campaign();" ng-model="selectedOption" ng-options="value for value in campaigns">
            </select>
        </div><!--End of campaing SELECT -->
        
        <div class="well" style="margin-top: 10px;"> <!--well for user to select table columns-->
          <span style="float: left;">
            <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false">
            <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true">
          </span>
          <span ng-repeat="value in actions_defaults" ng-show="show_well">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="value.select"> {{value.text}}
            </label>
          </span>
        </div><!--end of well for table columns-->
      </div> <!--end of SPAN12-->
    </div> <!--end of container-->
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th ng-repeat="column in actions_defaults" ng-show="column.select" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)" style="white-space: nowrap;">
            <span ng-switch="column.text">
              <span ng-switch-when="Actions">
                {{column.text}}
                <a rel="tooltip" title="Generate all chained request" ng-click="generateAllRequests()" ng-hide="generatingAllIcon || role(3);" style="">
                  <i class="icon-play"></i>
                </a>
                <img ng-show="generatingAllIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <a rel="tooltip" title="Refresh actions" ng-click="refreshActions()" ng-hide="refreshingAllIcon ||  role(3);">
                  <i class="icon-refresh"></i>
                </a>
                <img ng-show="refreshingAllIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
              </span>
              <span ng-switch-default>
                <a ng-href='chained_requests2?db_name=chained_requests&query="member_of_campaign%3D%3D{{column.db_name}}"' target="_blank">{{column.text}}</a>
                <a rel="tooltip" title="Generate request" ng-click="generateRequests(column.db_name)">
                  <i class="icon-play"></i>
                </a>
               </span>
            </span>
            <span ng-show="selectedCls(column.db_name)">
              <i class="icon-chevron-up" ng-hide="sort.descending"></i>
              <i class="icon-chevron-down" ng-show="sort.descending"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result | orderBy:sort.column: sort.descending" ng-show="showingAction(data['member_of_campaign'])" >
          <td ng-repeat="value in actions_defaults" ng-show="value.select" style="white-space: nowrap;">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-href='requests2?db_name=requests&query="prepid%3D%3D{{data[value.db_name]}}"&page=0' rel="tooltip" title="Show request {{data[value.db_name]}}" target="_blank">
		              {{data[value.db_name]}}
		            </a>  {{data['dataset_name']}}
		            <a ng-href='chained_requests2?db_name=chained_requests&query="root_request%3D%3D{{data[value.db_name]}}"' rel="tooltip" title="Show all chained requests starting with {{data[value.db_name]}}" target="_blank">
		              <i class="icon-folder-open"></i>
		            </a>
                <a rel="tooltip" title="Generate chained requests" ng-click="generateRequests(data[value.db_name])" ng-hide="role(3);">
                  <i class="icon-play"></i>
                </a>
                <img ng-show="generatingIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
                <a rel="tooltip" title="Refresh action" ng-click="refreshSingleAction(data[value.db_name])" ng-hide="refreshingAllIcon || role(3);">
                  <i class="icon-refresh"></i>
                </a>
                <img ng-show="refreshingAllIcon" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
              </div>
              <div ng-switch-when="Submission details">
                {{data[value.db_name]}}
              </div>
              <div ng-switch-when="Member of campaign">
                {{data[value.db_name]}}
              </div>
              <div ng-switch-when="Chains">
                {{data[value.db_name]}}
              </div>
              <div ng-switch-default>
                <custom-prep-id chain="value['db_name']" ng-model="data"></custom-prep-id>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="span5" style="margin-top:20px;" ng-hide="role(1);">
        Place for multiple selection
        <a ng-click="toggleMultipleInput();" ng-hide="showMultipleInput || role(3);" title="Edit action parameters for selected actions">
          <i class="icon-wrench"></i>
        </a>
        <a ng-show="multipleChanged" ng-click="commitMultipleSelection();" rel="tooltip" title="Values updated. Commit?">
          <i class="icon-warning-sign"></i>
        </a>
        <img ng-show="updatingMultipleActions" ng-src="https://twiki.cern.ch/twiki/pub/TWiki/TWikiDocGraphics/processing-bg.gif"/>
        <div ng-show="showMultipleInput">
          <select class="input-mini" style="margin-bottom: 0px; margin-left: 2px;" ng-model="multipleSelection.block_number">
            <option ng-repeat="key in [0,1,2,3,4,5,6]">{{key}}</option>
          </select>
          <input type="number" style="margin-bottom: 0px; width: 80px;" ng-model="multipleSelection.staged"/>
          <span class="input-append">
            <input type="number" style="margin-bottom: 0px; width: 25px;" ng-model="multipleSelection.threshold"/>
            <span class="add-on">%</span>
          </span>
          <a ng-click="toggleMultipleInput();">
            <i class="icon-remove"></i>
          </a>
        </div>
      </div>
      <div class="span2" style="padding-top:20px;">
        <div ng-show="update['success']">
          Success. Status code:<font color="green">{{update['status_code']}}</font> Result: {{update['result']}}
        </div>
        <div ng-show="update['fail']">
          Fail. Status code:<font color="red">{{update['status_code']}}</font> Result: {{update['result']}}
        </div>
      </div>
      <div class="span5">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
