<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="eng" ng-app="testApp">
<head>
        <title>Requests page PREP2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <script type="text/javascript" src="scripts/underscore.js"></script>
         <script type="text/javascript" src="scripts/angular.min.js"></script>
         <script src="scripts/requests_ctrl.js"></script>
</head>

  <body ng-controller="resultsCtrl">
    <div class="navbar">       <!--  place for NAV-BAR-->
      <div class="navbar-inner">
        <ul class="nav">
          <li>
            <a href='campaigns2?db_name=campaigns&query=""&page=0' target="_self">Campaigns</a>
          </li>
          <li class="divider-vertical"></li>
          <li  class="active">
            <a href='requests2?db_name=requests&query=""&page=0' target="_self">Requests</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='flows2?db_name=flows&query=""&page=0' target="_self">Flows</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='actions2?db_name=actions&query=""&page=0' target="_self">Actions</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='chained_campaigns2?db_name=chained_campaigns&query=""&page=0' target="_self">Chained campaigs</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href='chained_requests2?db_name=chained_requests&query=""&page=0' target="_self">Chained requests</a>
          </li>              
        </ul>
      </div>
    </div> <!--END of navbar-->
    <div class="container" >
      <div class="span12" style="overflow: auto">
        <div class="well"> <!--well for user to select table columns-->
          <span style="float: left;">
            <input type="button" value="Show" ng-click="showing_well()" ng-show="show_well ==false">
            <input type="button" value="Hide" ng-click="showing_well()" ng-show="show_well ==true">
          </span>        
          <span ng-repeat="value in requests_defaults" ng-show="show_well">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="value.select"> {{value.text}}
            </label>
          </span>
        </div><!--end of well for table columns-->
      </div><!--End of span12 -->
    </div><!--End of container-->
    <table class="table table-bordered table-stripped" style="owerflow:auto;">
      <thead>
        <tr>
          <th ng-repeat="column in requests_defaults" ng-show="column.select" ng-class="selectedCls(column.db_name)" ng-click="changeSorting(column.db_name)">
            {{column.text}}
            <span ng-show="selectedCls(column.db_name)">
              <i class="icon-chevron-up" ng-hide="sort.descending"></i>
              <i class="icon-chevron-down" ng-show="sort.descending"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in result | orderBy:sort.column: sort.descending">
          <td ng-repeat="value in requests_defaults" ng-show="value.select">
            <div ng-switch on="value.text">
              <div ng-switch-when="Actions">
                <a ng-click='delete_object("requests", data.prepid)' rel="tooltip" title="Delete request">
                  <i class="icon-minus-sign"></i>
                </a>
                <a ng-href='edit2?db_name=requests&query={{data.prepid}}' rel="tooltip" title="Edit details" target="_blank">
                  <i class="icon-wrench"></i>
                </a>
                <a ng-href="restapi/{{dbName}}/reset/{{data.prepid}}" rel="tooltip" title="Previous step" target="_blank">
                  <i class="icon-chevron-left"></i>
                </a>
                <a ng-href="restapi/{{dbName}}/approve/{{data.prepid}}" rel="tooltip" title="Next step" target="_blank">
                  <i class="icon-chevron-right"></i>
                </a>
                <input type="checkbox" ng-click="add_to_selected_list(data.prepid)" ng-checked="selected_prepids.indexOf(data.prepid) != -1">
              </div>
              <div ng-switch-when="Approvals">
<!--               {{data[value.db_name]}} -->
<!--                 <input type="button" value="Show" ng-click="$broadcast('tableDisplay')"> {{data[value.db_name].length}} step(-s) -->
                <div custom-approval ng-model="data[value.db_name]"></div>
              </div>
<!--              <div ng-switch-when="Sequences">
                <a ng-href="restapi/{{dbName}}/get_cmsDrivers/{{data.prepid}}" target="_blank">get cmsDriver</a>
              </div> OLDDD--> 
              <div ng-switch-when="Sequences">
                <div sequence-display ng-model="data.prepid"></div>
              </div>
              <div ng-switch-when="Submission details">
                <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in data[value.db_name]">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>                
                </dl>
              </div>
              <div ng-switch-when="Generator parameters">
                <div ng-repeat="elem in data[value.db_name]">
                  <dl class="dl-horizontal" style="margin-bottom: 0px; margin-top: 0px;" ng-repeat="(key,value) in elem">
                    <dt>{{key}}</dt>
                    <dd>{{value}}</dd>                
                  </dl>
                </div>
              </div>
              <div ng-switch-when="Member of chain">
                <ul style="margin-bottom: 0px;">
                  <li ng-repeat="chain in data[value.db_name]">
                    {{chain}}
                  </li>
                </ul>
              </div>
              <div ng-switch-when="History">
                <div custom-history ng-model="data[value.db_name]"></div>
              </div>
              <div ng-switch-default>{{data[value.db_name]}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="span6" style="padding-top:20px;">
        Multiple selection buttons
        <a ng-click="previous_approval()" rel="tooltip" title="Go to previous step for selected releases">
         <i class="icon-chevron-left"></i>
        </a>
        <a ng-click="next_approval()" rel="tooltip" title="Next step for selected requests">
         <i class="icon-chevron-right"></i>
        </a>
      </div>
      <div class="span6">
        <div class="pagination pagination-right">
          <ul>
            <li ng-class="{ disabled: list_page <= -1 }">
              <a ng-click="previous_page(list_page)">Prev</a>
            </li>
            <li ng-class="{ disabled: result.length == 0 }">
              <a ng-click="next_page(list_page)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
