body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding-bottom: 70px;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.nav li.placeholder {
    position: relative;
}

ul.nav li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    top: -2px;
    margin-left: -5px;
    border-bottom: none;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.grid .tick, .grid path {
    fill: none;
}

.grid .tick {
    stroke: grey;
    opacity: 0.2;
    stroke-width: 0.6;
    stroke-dasharray: 2,2;
}
.grid path {
      stroke-width: 0;
}

.custom-footer{
    background:white; 
    height:70px; 
    position: fixed; 
    bottom: 0;
}

.table th.text-right, .table td.text-right {
    text-align: right;
}

div.loading {
	position: fixed;
    width: 92px;
    height: 92px;
    margin: auto;
    top: 40%;
    left:-46px;
    right:0;
	z-index: 100;
	background: url("loading.gif") no-repeat;
}

