body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 70px;
}

.custom-footer{
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
}

.custom-footer > div{
    margin: 0 4px;
    line-height: 50px;
}

pre.notes {
    margin: 0;
    padding: 4px 8px;
    min-width: 250px;
    max-width: 400px;
}

table.sequence-edit td {
    padding: 1px;
}

.sequence-box {
    font-size: 0.9em;
    margin: 2px 0;
    font-family: monospace;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    word-break: break-word;
    white-space: pre-wrap;
}

table {
    background-color: white;
}

td {
    vertical-align: middle !important;
}

th {
    background-color: white;
}

img {
    vertical-align: baseline;
}

table td ul {
    padding-left: 16px;
    margin-bottom: 0;
}

table .glyphicon {
    color: rgba(0,0,0,0.87);
    margin-left: 2px;
    margin-right: 2px;
}

.column-select {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2px;
}

.column-select > div {
    flex-basis: 0;
    flex: 0 0 16.666%;
    text-align: left;
}

.column-select label {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 100;
}

.overlay-text{
    color: white;
    background-color: transparent;
    overflow-y: scroll;
    text-align: left;
}

.circle {
    width: 25px;
    height: 21px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: red;
    position: relative;
    left: 17px;
    bottom: 46px;
}

#mySidenav a {
    position: absolute;
    top: 47px;
    transition: 0.3s;
    padding: 12px;
    width: 300px;
    height: 17px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px 0px 0px 10px;
}

.table th.text-right, .table td.text-right {
    text-align: right;
}

.navigation-form {
    display: inline-block;
    margin-bottom: 0px;
    margin: 1px 5px 1px 0px;
}

.priority-param{
    display: inline;
    margin-left: 20px;
}

.typeahead{
    max-height:260px;
    overflow-y:scroll;
}



.well.batch-info{
    overflow-y: scroll;
    max-height: 600px;
}

#help {
    position: fixed;
    left: 10px;
    top: 10px;
    font: normal 11px sans-serif;
    text-shadow: 1px 1px #fff;
    line-height: 20px;
}

.not-supported-message {
    margin: 20px;
}

img.led {
    vertical-align: top;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.margin-r {
    margin-right: 5px;
}

.notes {
    word-break: break-word;
    white-space: pre-wrap;
}