<script>
        $(document).ready(function(){
                $("#action_dialog").hide();
                $('.action_value').click(function() {
                    var id = $(this).attr("id");
                    var tokens = id.split(".");
                    select_chain(tokens[0], tokens[1]);
                    
                    // preserve checked property
                    if ($(this).is(":checked"))
                        $(this).prop("checked", false);
                    else
                        $(this).prop("checked", true);
                    });
                });
</script>
<div id="action_dialog" visibility="hidden">
    <label for="action_dialog_block_number">Block Number:</label>
    <input id="action_dialog_block_number" type="text" class="ui-widget-content">
    <label for="action_dialog_threshold">Threshold (%):</label>
    <input id="action_dialog_threshold" type="text" class="ui-widget-content">
    <label for="action_dialog_staged">Staged:</label>
    <input id="action_dialog_staged" type="text" class="ui-widget-content">
</div>
