<script>
	$(document).ready(function() {
		$("#generators_dialog").hide();
	});
</script>
<div id="generators_dialog" class="ui-widget">
	<label for='generators_generators'>Generators</label>
    <input type="text" id="generators_generators" class="ui-widget-content">
</div>
