<script>
	$(document).ready(function() {
		$("#process_string_dialog").hide();
	});
</script>
<div id="process_string_dialog" class="ui-widget">
	<label for='process_string_process_string'>Process String</label>
    <input type="text" id="process_string_process_string" class="ui-widget-content">
</div>
