<!DOCTYPE html>
<html>
  <head>
    <base href="/datamgt/">
    <style>
      table{width:100%;border-spacing:0;border:1px solid #ddd;border-collapse:collapse;}
      td{padding: 4px;}
    </style>
  </head>
  <body>
    <table border='1'>
    {% for function in data %}
    <tr><td colspan="4"><h3>{{ function.function_name }} (<a href="{{ function.path }}">{{ function.path }}</a>)</h3></td></tr>
    <tr><td><b>Method</b></td><td><b>Description</b></td><td><b>Access limit</b></td><td><b>Calls</b></td></tr>
    {% for method in function.methods %}
    <tr>
      <td>{{ method.name }}</td>
      {% if method.doc %}
      <td>{{ method.doc }}</td>
      {% else %}
      <td><i>To be documented</i></td>
      {% endif %}
      <td>{{ method.access_limit }}</td>
      <td>{{ method.call_counter }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </table>
  </body>
</html>