<script>
	$(document).ready(function() {
		$("#type_dialog").hide();
	});
</script>
<div id="type_dialog" class="ui-widget">
	<label for='type_type'>Type</label>
    <input type="text" id="type_type" class="ui-widget-content">
</div>
