name: API testing for McM
on:
  workflow_dispatch:

jobs:
  components:
    name: Deploy McM components and execute the test suite
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "repo/mcm/"

    # Job steps
    steps:
      - name: Retrieve source code
        uses: actions/checkout@v4
        with:
          path: repo

      - name: Find source code
        run: |
          echo "Source code at: $GITHUB_WORKSPACE"
          ls -alrh $GITHUB_WORKSPACE
          tree $GITHUB_WORKSPACE

      - name: Deploy components
        env:
          COUCHDB_PORT: '5984'
          COUCHDB_USER: 'test'
          COUCHDB_PASSWORD: 'test'
          COUCHDB_NODENAME: '127.0.0.1'
          LUCENE_PORT: '5985'
          SECONDS_TO_WAIT: '30'
          MCM_WARMUP_SECONDS: '10'
          MCM_COUCHDB_URL: 'http://couchdb:5984/'
          COUCH_CRED: 'Basic dGVzdDp0ZXN0'
          MCM_LUCENE_URL: 'http://couchdb-lucene:5985/'
          MCM_EXAMPLE_DATA_URL: ${{ secrets.MCM_EXAMPLE_DATA_URL }}

        run: |
          bash deploy/action.sh

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.x'

      - name: Install test dependencies
        run: |
          export REPO_PATH=$GITHUB_WORKSPACE/repo/mcm
          export TEST_FOLDER_PATH=$REPO_PATH/tests
          python3 -m pip install --upgrade pip poetry
          cd "${TEST_FOLDER_PATH}" && echo "Current folder: $(pwd -P)"
          poetry install

      - name: Run test suite
        run: |
          export REPO_PATH=$GITHUB_WORKSPACE/repo/mcm
          export TEST_FOLDER_PATH=$REPO_PATH/tests
          cd "${TEST_FOLDER_PATH}"
          poetry run pytest -s -vv
